﻿@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var logo = "~/themes/admin/img/logodefault.png";
    var username = "Quản trị viên";
    var user = HttpContextAccessor.HttpContext.Session.GetString("UserLogged");
    if (user != null)
    {
        username = JsonConvert.DeserializeObject<User_Model>(user).UserName;
    }
}
<!DOCTYPE html>
<html class="fixed sidebar-light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản trị</title>
    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800|Shadows+Into+Light"
          rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="@Url.Content("~/themes/admin/vendor/bootstrap/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/themes/admin/vendor/animate/animate.compat.css")" />
    <link rel="stylesheet" href="@Url.Content("~/themes/admin/vendor/hover/hover.css")">

    <link rel="stylesheet" href="@Url.Content("~/themes/admin/vendor/font-awesome/css/all.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/themes/admin/vendor/boxicons/css/boxicons.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/themes/admin/vendor/magnific-popup/magnific-popup.css")" />
    <link rel="stylesheet" href="@Url.Content("~/themes/admin/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css")" />

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="@Url.Content("~/themes/admin/vendor/jquery-ui/jquery-ui.css")" />
    <link rel="stylesheet" href="@Url.Content("~/themes/admin/vendor/jquery-ui/jquery-ui.theme.css")" />
    <link rel="stylesheet" href="@Url.Content("~/themes/admin/vendor/jquery-confirm/css/jquery-confirm.css")" />
    <link rel="stylesheet" href="@Url.Content("~/themes/admin/vendor/select2/css/select2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/themes/admin/vendor/pnotify/pnotify.custom.css")" />
    <!-- themes CSS -->
    <link rel="stylesheet" href="@Url.Content("~/themes/admin/css/theme.css")" />
    <!-- Skin CSS -->
    <link rel="stylesheet" href="@Url.Content("~/themes/admin/css/skins/default.css")" />
    <link rel="stylesheet" href="@Url.Content("~/themes/admin/css/custom.css")" />
    <link rel="stylesheet" href="@Url.Content("~/themes/loading.css")" />
    @await RenderSectionAsync("Styles", false)
    <style>
        .imgShopee {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 60px;
            flex: 0 0 60px;
            height: 60px;
            width: 60px;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: cover;
            margin-right: 10px;
            position: relative;
            border: 1px solid #e8e8e8;
        }

        #userbox.show > a {
            z-index: 993;
            position: relative;
        }

        html.sidebar-light:not(.dark) ul.nav-main li .nav-children li a:hover, html.sidebar-light:not(.dark) ul.nav-main li .nav-children li a:focus {
            color: navy !important;
        }

        html.sidebar-light:not(.dark) ul.nav-main > li > a:hover, html.sidebar-light:not(.dark) ul.nav-main > li > a:focus {
            color: navy !important;
        }

        .ui-pnotify {
            z-index: 10455;
        }

        .bounce-loader .bounce1, .bounce-loader .bounce2, .bounce-loader .bounce3 {
            background-color: #2196f3 !important;
            box-shadow: 0 0 20px 0 #2196f3 !important;
        }
    </style>
    <!-- Head Libs -->
    <script src="@Url.Content("~/themes/admin/vendor/modernizr/modernizr.js")"></script>
</head>
<body class="loading-overlay-showing" data-loading-overlay>
    <div class="se-pre-con" style="background: #3498db; display:none;">
        <div class="book">
            <div class="book__page"></div>
            <div class="book__page"></div>
            <div class="book__page"></div>
        </div>
    </div>
    <section class="body">
        <header class="header">
            <div class="logo-container">
                <a href="@Url.Action("Index","Home")" class="logo">
                    <img src="@Url.Content(logo)" height="35" alt="logo">
                </a>
                <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html"
                     data-fire-event="sidebar-left-opened">
                    <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            <div class="header-right">
                <span class="separator"></span>
                <div id="userbox" class="userbox">
                    <a href="#" data-toggle="dropdown">
                        <figure class="profile-picture">
                            <img src="~/themes/admin/img/avatar.jpg" alt="Joseph Doe" class="rounded-circle"
                                 data-lock-picture="img/!logged-user.jpg" style="object-fit:cover" height="35">
                        </figure>
                        <div class="profile-info" data-lock-name="John Doe" data-lock-email="..">
                            <span class="name">@username</span>
                        </div>
                        <i class="fa custom-caret"></i>
                    </a>
                    <div class="dropdown-menu">
                        <ul class="list-unstyled mb-2">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" asp-controller="Auth" asp-action="Index">
                                    <i class="fas fa-power-off"></i>
                                    Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <div class="inner-wrapper" style="background-image: url('')">
            <aside id="sidebar-left" class="sidebar-left">
                <div class="sidebar-header">
                    <div class="sidebar-title">

                    </div>
                    <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed"
                         data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>
                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            @await Component.InvokeAsync("LeftSidebar")
                        </nav>
                    </div>
                </div>
            </aside>
            <section role="main" class="content-body">
                @RenderBody()
            </section>
        </div>
    </section>
    <script src="@Url.Content("~/themes/admin/vendor/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/themes/admin/vendor/jquery-browser-mobile/jquery.browser.mobile.js")"></script>
    <script src="@Url.Content("~/themes/admin/vendor/popper/umd/popper.min.js")"></script>
    <script src="@Url.Content("~/themes/admin/vendor/bootstrap/js/bootstrap.js")"></script>
    <script src="@Url.Content("~/themes/admin/vendor/common/common.js")"></script>
    <script src="@Url.Content("~/themes/admin/vendor/nanoscroller/nanoscroller.js")"></script>
    <script src="@Url.Content("~/themes/admin/vendor/magnific-popup/jquery.magnific-popup.js")"></script>
    <script src="@Url.Content("~/themes/admin/vendor/moment/moment.js")"></script>
    <!-- themes Base, Components and Settings -->
    <script src="@Url.Content("~/themes/admin/vendor/pnotify/pnotify.custom.js")"></script>
    <script src="@Url.Content("~/themes/admin/vendor/select2/js/select2.js")"></script>
    <script src="@Url.Content("~/themes/admin/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/themes/admin/vendor/ios7-switch/ios7-switch.js")"></script>
    <script src="@Url.Content("~/themes/admin/vendor/autosize/autosize.js")"></script>
    <script src="@Url.Content("~/themes/admin/vendor/jquery-validation/jquery.validate.js")"></script>
    <script src="@Url.Content("~/themes/admin/vendor/bootstrap-wizard/jquery.bootstrap.wizard.js")"></script>
    <script src="@Url.Content("~/themes/admin/vendor/jquery-confirm/js/jquery-confirm.js")"></script>
    <script src="@Url.Content("~/themes/admin/vendor/jquery-appear/jquery.appear.js")"></script>
    <script src="@Url.Content("~/themes/admin/vendor/jquery-maskedinput/jquery.maskedinput.js")"></script>
    <!-- themes Initialization Files -->
    <script src="@Url.Content("~/themes/admin/js/jquery.number.js")"></script>
    <script src="@Url.Content("~/themes/admin/js/theme.js")"></script>
    <script src="@Url.Content("~/themes/admin/js/Utils.js")"></script>
    <script src="@Url.Content("~/themes/admin/js/session-timeout.js")"></script>
    <script src="@Url.Content("~/themes/admin/js/custom.js")"></script>
    <script src="@Url.Content("~/themes/admin/js/theme.init.js")"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
                ////action for FilterTime - ViewComponent
                //$(document).ready(function () {
                //    $("#btn_FilterTime").click(function () {
                //        Utils.OpenMagnific("#modalFilterTime");
                //        $("#dtepickerD").themePluginDatePicker({ format: "dd/mm/yyyy" });
                //        $("#dtepickerM").themePluginDatePicker({
                //            format: "mm/yyyy",
                //            startView: "months",
                //            minViewMode: "months"
                //        });
                //        $("#dtepickerY").themePluginDatePicker({
                //            format: "yyyy",
                //            startView: "years",
                //            minViewMode: "yesrs"
                //        });
                //    });
                //});
    </script>
</body>
</html>