﻿@{
    Layout = null;
    var _ListProduct = new List<Product_Model>();
    if (ViewBag.ListProduct != null)
    {
        _ListProduct = ViewBag.ListProduct as List<Product_Model>;
    }
}
<table class="table table-sm table-striped">
    <tbody id="tblBody">
        @for (int i = 0; i < _ListProduct.Count; i++)
        {
            #region [--Data--]
            var zRec = _ListProduct[i];
            string Key = zRec.ProductKey;
            string No = (i + 1).ToString();
            string Name = zRec.ProductName;
            string Sku = zRec.SKU;
            string Description = zRec.Description;
            string Summarize = zRec.ProductSummarize;
            string Photo = zRec.PhotoPath;
            string NewCost = zRec.SalePrice.ToString();
            string OldCost = zRec.StandardCost.ToString();
            int CategoryKey = zRec.CategoryKey;
            bool Publish = zRec.Publish;
            #endregion
            <tr id="@Key" style="cursor:pointer" class="hvr-border-fade w-100" onclick="addCart('@Key')">
                <td class="d-flex">
                    @if (Photo == string.Empty)
                    {
                        <img src="~/themes/admin/img/noimg.png" alt="product" class="rounded mr-2" style="object-fit:cover; height:60px">
                    }
                    else
                    {
                        <img src="@Url.Content(Photo)" alt="product" class="rounded mr-2" style="object-fit: cover; height: 60px">
                    }
                    <p class="mb-1">
                        SKU: @Sku<br />
                        @Name
                        @if (zRec.Qty <= 5 && zRec.Qty > 0)
                        {
                            <br />
                            <b class="badge badge-warning">Sắp hết hàng (còn lại @zRec.Qty)</b>
                        }
                        else if (zRec.Qty == 0)
                        {
                            <br />
                            <b class="badge badge-danger">Hết hàng</b>
                        }
                        else
                        {
                            <br />
                            <b class="badge badge-success">Còn lại @zRec.Qty</b>
                        }
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>