﻿@model List<Order_Model>
@{

}
<header class="page-header">
    <h2 class="text-primary">Đơn hàng đang giao</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header">

            </div>
            <div class="card-body">
                @if (Model.Count > 0)
                {
                    <table class="table table-hover table-sm data table-striped">
                        <thead>
                            <tr>
                                <th>Stt</th>
                                <th>Ngày</th>
                                <th>Mã</th>
                                <th>Khách hàng</th>
                                <th>Nguồn</th>
                                <th class="text-right">Số tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                <tr class="font-weight-bolder" style="background-color:lemonchiffon">
                                    <td colspan="5">Tổng</td>
                                    <td class="number">@(Model.Sum(s=>s.TotalMoney))</td>
                                </tr>

                                int No = 1;
                                foreach (var rec in Model)
                                {
                                    string Nguon = "";
                                    switch (rec.Slug)
                                    {
                                        case 1:
                                            Nguon = "Shopee";
                                            break;
                                        case 11:
                                            Nguon = "Offline";
                                            break;
                                    }

                                    <tr onclick="Open('@rec.OrderKey')" id="@rec.OrderKey">
                                        <td>@(No++)</td>
                                        <td>@rec.CreatedOn.ToString("dd/MM/yyyy")</td>
                                        @if (rec.OrderID != "")
                                        {
                                            <td>@rec.OrderID</td>
                                        }
                                        else
                                        {
                                            <td>@rec.S_OrderID</td>
                                        }
                                        <td>
                                            <p class="m-0">
                                                @rec.BuyerName<br />
                                                @rec.BuyerPhone<br />
                                            </p>
                                        </td>
                                        <td>@Nguon</td>
                                        <td class="number text-right">@rec.TotalMoney.ToString("n0")</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-primary">
                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                    </div>
                }
            </div>
        </div>
    </div>
</div><div id="modal" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

</div>
@section scripts{,m
    <script>
        function Open(id) {
            $.ajax({
                url: "/Inventory/Track_View",
                type: "GET",
                data: {
                    "Id": id,
                },
                beforeSend: function () {
                    $("#modal").empty();
                    Utils.LoadIn();
                },
                success: function (r) {
                    $("#modal").append(r);
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.OpenMagnific("#modal");
                    Utils.LoadOut();
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                }
            });
        }
        function CloseOrder(id) {
            $.ajax({
                url: "/Inventory/Close_Order",
                type: "GET",
                data: {
                    "Id": id,
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.success) {
                        Utils.OpenNotify("Hoàn tất đơn hàng", "Đơn hàng đã thu tiền", "success")
                        Utils.CloseMagnific("#modal");
                        var elm = $("#" + id);
                        Utils.RemoveRow(elm);
                    }
                    else {
                        Utils.OpenNotify("Lỗi", r.message, "error")
                    }
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
    </script>
}