﻿@model List<Order_Item_Model>
@{

}
<header class="page-header">
    <h2 class="text-primary">Mặt hàng đang giao</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header">

            </div>
            <div class="card-body">
                @if (Model.Count > 0)
                {
                    var List = Model.GroupBy(o => o.ItemName)
                                    .Select(i => new Order_Item_Model()
                                    {
                                        ItemName = i.First().ItemName,
                                        ItemPhoto = i.First().ItemPhoto,
                                        ItemQty = i.Sum(q => q.ItemQty),
                                        Stock = i.Sum(q => q.Stock)
                                    }).ToList();

                    <div class="d-flex flex-row">
                        <div class="p-2"></div>
                        <div class="p-2 flex-grow-1"></div>
                        <div class="p-2 font-weight-bold text-primary text-right" style="width:100px">Số lượng</div>
                        <div class="p-2 font-weight-bold text-primary text-right" style="width:100px">Còn lại</div>
                    </div>

                    foreach (var rec in List)
                    {
                        var img = Url.Content(rec.ItemPhoto);
                        var name = rec.ItemName;
                        var qty = rec.ItemQty;
                        var stock = rec.Stock;

                        <div class="d-flex flex-row">
                            <div class="p-2"> <img class="imgShopee" src="@img" /></div>
                            <div class="p-2 flex-grow-1">@name</div>
                            <div class="p-2 font-weight-bold text-primary text-right" style="width:100px;">@qty</div>
                            <div class="p-2 font-weight-bold text-primary text-right" style="width:100px">@stock</div>
                        </div>
                    }
                }
                else
                {
                    <div class="alert alert-primary">
                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                    </div>
                }
            </div>
        </div>
    </div>
</div>