﻿@{
    Layout = null;
}
@model Order_Model

<div class="card">
    <div class="card-header">
        @if (Model.OrderID != "")
        {
            <h2 class="card-title">Xem đơn hàng @Model.OrderID</h2>
        }
        else
        {
            <h2 class="card-title">Xem đơn hàng @Model.S_OrderID</h2>
        }
    </div>
    <div class="card-body">
        <div id="printData" style="width:100%; margin:0px;" class="text-muted">
            <table style="width: 100%; margin-bottom:20px">
                <tr>
                    <td style="vertical-align:top">
                        Khách hàng:<b> @Model.BuyerName</b><br />
                        SĐT:<b>@Model.BuyerPhone</b><br />
                        Địa chỉ:
                        @{
                            if (Model.ShippingAddress.Length > 0)
                            {
                                <b>@Model.ShippingAddress</b>
                            }
                            else
                            {
                                <b>@Model.BuyerAddress</b>
                            }
                        }
                        <p>
                            Ghi chú: @Model.Description
                        </p>
                    </td>
                    @{
                        string Nguon = "";
                        switch (Model.Slug)
                        {
                            case 1:
                                Nguon = "Shopee";
                                break;
                            case 9:
                                Nguon = "Sản xuất";
                                break;
                            case 11:
                                Nguon = "Offline";
                                break;
                            default:
                                break;
                        }
                    }
                    <td style="vertical-align:top">
                        Nguồn: <b>@Nguon</b><br />
                        Thực thu: <b class="number text-danger">@Model.TotalMoney</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            Nội dung hàng
                        </b>
                    </td>
                </tr>
            </table>

            @if (Model.ListItem.Count > 0)
            {
                <table class="table table-sm data">
                    <thead>
                        <tr>
                            <th colspan="2">Mặt hàng</th>
                            <th style="width:100px" class="text-right">Số lượng</th>
                            <th style="width:100px" class="text-right">Đơn giá</th>
                            <th style="width:100px" class="text-right">Tạm tính</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rec in Model.ListItem)
                        {
                            <tr>
                                <td><img class="imgShopee" src="@Url.Content(rec.ItemPhoto)" /></td>
                                <td>@rec.ItemName</td>
                                <td class="number text-right">@rec.ItemQty</td>
                                <td class="number text-right">@rec.ItemPrice</td>
                                <td class="number text-right">@rec.ItemMoney</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-warning">
                    <strong>Chưa có mặt hàng nào !</strong>.
                </div>
            }
        </div>
    </div>
    <div class="card-footer text-center">
        <button id="btn_Close" type="button" class="btn btn-outline-primary" onclick="CloseOrder('@Model.OrderKey')">
            Đã hoàn thành
        </button>
        <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
            Đóng
        </button>
    </div>
</div>