﻿@{
    var _List = new List<Link3rt_Model>();
    if (ViewBag.List != null)
    {
        _List = ViewBag.List as List<Link3rt_Model>;
    }

    bool Shopee = false;
    bool Lazada = false;
    if (_List.Count > 0)
    {
        var Spee = _List.SingleOrDefault(s => s.Web == "SHOPEE");
        if (Spee != null && Spee.RecordStatus == 1)
        {
            Shopee = true;
        }
        var Lazd = _List.SingleOrDefault(s => s.Web == "LAZADA");
        if (Lazd != null && Lazd.RecordStatus == 1)
        {
            Lazada = true;
        }
    }
}
<header class="page-header">
    <h2>Thiết lập tài khoản liên kết</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-6">
        <div class="card border">
            <div class="card-header">
            </div>
            <div class="card-body">
                <table class="table table-hover data table-sm">
                    <thead>
                        <tr>
                            <th>Stt</th>
                            <th>Web</th>
                            <th>Liên kết</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Shopee</td>
                            <td>
                                <div class="switch  switch-primary">
                                    @if (Shopee)
                                    {
                                        <input type="checkbox" name="switch" data-plugin-ios-switch checked="checked" web="shopee" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="switch" data-plugin-ios-switch web="shopee" />
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Lazada</td>
                            <td>
                                <div class="switch switch-primary">
                                    @if (Lazada)
                                    {
                                        <input type="checkbox" name="switch" data-plugin-ios-switch checked="checked" web="lazada" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="switch" data-plugin-ios-switch web="lazada" />
                                    }
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer ">
            </div>
        </div>
    </div>
</div>
<div id="modalShopee" class="zoom-anim-dialog modal-block modal-block modal-header-color modal-block-info mfp-hide">
    <section class="card">
        <header class="card-header">
            <h2 class="card-title">Đăng nhập Shopee</h2>
        </header>
        <div class="card-body">
            <div class="modal-wrapper" id="divLogin">
                <div class="modal-text">
                    <div class="form-group">
                        <input type="text" placeholder="Tên đăng nhập" name="Username" value="" class="form-control" id="txt_Username">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Mật khẩu" name="Password" value="" class="form-control" id="txt_Password">
                    </div>
                    <div class="text-center">
                        <button class="btn btn-info modal-dismiss">Đóng</button>
                        <button class="btn btn-info" id="btn_Login">Kết nối</button>
                    </div>
                </div>
            </div>
            <div style="display:none" id="divCapCapcha">
                <div class="form-group text-center">
                    <img src="" class="" id="img_capcha"/>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Nhập mã CAPCHA" class="form-control" id="txt_capcha">
                    <input id="txt_capchaid" type="hidden" />
                </div>
            </div>
            <div style="display:none" id="divOtp">
                <div class="appear-animation animated fadeInDown appear-animation-visible text-center"
                     data-appear-animation="fadeInDown"
                     data-appear-animation-delay="0"
                     data-appear-animation-duration="1s"
                     style="animation-duration: 1s; animation-delay: 0ms;">
                    <h4 class="font-weight-bold text-center">Nhập mã OTP</h4>
                    <div class="form-group mb-2">
                        <input type="text" placeholder="Nhập mã số OTP" name="Username" value="" class="form-control" id="txt_Otp">
                    </div>
                    <button class="btn btn-info modal-dismiss">Đóng</button>
                    <button class="btn btn-info modal-dismiss" id="btn_Otp">Kết nối</button>
                </div>
            </div>
        </div>
        <footer class="card-footer">
            <div class="row">
                <div class="col-md-12 text-end">

                </div>
            </div>
        </footer>
    </section>
</div>
@section scripts{
    <script src="~/js-3rt/jquery.md5.min.js"></script>
    <script src="~/js-3rt/jquery.sha256.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btn_Login").click(function () {
                LoginShopeeOtp();
            });
            $("#btn_Otp").click(function () {
                LoginShopeeOtp();
            });
        });
        $('input[name="switch"]').change(function () {
            var web = $(this).attr("web");
            if (web === "shopee") {
                SetLinkShopee();
            }
        });
        function SetLinkShopee() {
            $.ajax({
                url: "/Config/StatusShopee",
                type: "POST",
                data: {

                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (!r.success) {
                        //ket noi
                        Utils.OpenMagnific("#modalShopee");
                    }
                },
                error: function (err) {

                },
                complete: function () {

                }
            });
        }
        function LoginShopeeOtp() {
            var md5 = $.MD5($('#txt_Password').val());
            var sha256 = $.sha256(md5);

            $.ajax({
                url: "/Config/LoginShopee",
                type: "POST",
                data: {
                    Username: $("#txt_Username").val(),
                    Password: sha256,
                    Otp: $("#txt_Otp").val(),
                    Capcha: $("#txt_capcha").val(),
                    Capchaid: $("#txt_capchaid").val(),
                },
                beforeSend: function () {

                },
                success: function (r) {
                    switch (r.data) {
                        case "CAPCHA":
                            GetCapcha();
                            $("#divCapCapcha").show();
                            $("#divLogin").show();
                            $("#divOtp").hide();
                            break;
                        case "OTP":
                            $("#divLogin").hide();
                            $("#divOtp").show();
                            break;
                        case "OK":
                            alert("Đăng nhập thành công");
                            location.reload(true);
                            break;
                    }
                },
                error: function (err) {

                },
                complete: function () {

                }
            });
        }
        function GetCapcha() {
            $.ajax({
                url: "/Config/GetCapcha",
                type: "GET",
                data: {

                },
                beforeSend: function () {

                },
                success: function (r) {
                    var obj = r.data;
                    var id = obj.captcha_id;
                    var img = obj.captcha_body.bg_img;
                    $("#img_capcha").attr("src", img);
                    $("#txt_capcha").val();
                    $("#txt_capchaid").val(id);
                },
                error: function (err) {

                },
                complete: function () {

                }
            });
        }
    </script>
}