﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var _ListProduct = new List<Product_Model>();
    if (ViewBag.ListProduct != null)
    {
        _ListProduct = ViewBag.ListProduct as List<Product_Model>;
    }
}
<header class="page-header">
    <h2>Cài đặt tồn đầu kỳ các mặt hàng sản phẩm</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header ">
            </div>
            <div class="card-body">
                @if (TempData["Error"] != null &&
                TempData["Error"].ToString() != string.Empty)
                {
                    <div class="alert alert-danger">
                        <strong>@TempData["Error"]</strong>.
                    </div>
                }
                else
                {
                    if (_ListProduct.Count > 0)
                    {
                        <div class="action-buttons-fixed">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Sản phẩm</th>
                                        <th>SL</th>
                                    </tr>
                                </thead>
                                <tbody id="tblBody">
                                    @for (int i = 0; i < _ListProduct.Count; i++)
                                    {
                                        #region [--Data--]
                                        var zRec = _ListProduct[i];
                                        string Key = zRec.ProductKey;
                                        string No = (i + 1).ToString();
                                        string Name = zRec.ProductName;
                                        string Sku = zRec.SKU;
                                        string Description = zRec.Description;
                                        string Summarize = zRec.ProductSummarize;
                                        string Photo = zRec.PhotoPath;
                                        string NewCost = zRec.SalePrice.ToString();
                                        string OldCost = zRec.StandardCost.ToString();
                                        int CategoryKey = zRec.CategoryKey;
                                        bool Publish = zRec.Publish;
                                        #endregion
                                        <tr id="@Key">
                                            <th>@No</th>
                                            <td>
                                                <div class="d-flex">
                                                    @if (Photo == string.Empty)
                                                    {
                                                        <img src="~/themes/admin/img/noimg.png" alt="product" class="rounded mr-2" style="object-fit:cover; height:60px">
                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Content(Photo)" alt="product" class="rounded mr-2" style="object-fit: cover; height: 60px">
                                                    }
                                                    <div class="">
                                                        @Sku
                                                        @Name
                                                    </div>
                                                </div>
                                            </td>
                                            <td><input id="@Key" type="text" class="form-control float" value="0" /></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="action-buttons">
                                <button type="button" class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3"
                                        onclick="GoBack()">
                                    Quay về
                                </button>
                                <button type="button" id="btn_Save" class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1 float-right" data-loading-text="Loading...">
                                    <i class="bx bx-save text-4 mr-2"></i>
                                    Cập nhật
                                </button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-primary">
                            <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                        </div>
                    }
                }
            </div>
            <div class="card-footer ">
            </div>
        </div>
    </div>
</div>
<div id="modal" class="zoom-anim-dialog modal-block modal-block-sm modal-header-color modal-block-info mfp-hide">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Ngày tính tồn đầu</h2>
        </div>
        <div class="card-body">
            <div class="form-group">
                <input id="txt_stockdate" data-plugin-masked-input data-input-mask="99/99/9999" placeholder="__/__/____" class="form-control" required="">
            </div>
        </div>
        <div class="card-footer">
            <button type="button" id="" class=" btn btn-default modal-dismiss">
                Đóng
            </button>
            <button type="button" id="" class=" btn btn-primary modal-dismiss float-right" onclick="Save()">
                Cập nhật
            </button>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var URL_Save = "@Url.Action("Save", "Config")";
        $('input.float').on('input', function () {
            this.value = this.value
                .replace(/[^0-9.]/g, '')
                .replace(/(\..*?)\..*/g, '$1');
        });
        $("#txt_stockdate").val(Utils.GetCurrentDate());
        $("#btn_Save").click(function () {
            Utils.OpenMagnific("#modal");
        });
        function Save() {
            var list = [];
            $("#tblBody :input").each(function (e) {
                var obj = {
                    id: this.id,
                    qty: parseFloat(this.value),
                }
                list.push(obj);
            });

            $.ajax({
                url: URL_Save,
                type: "POST",
                data: {
                    "list": list,
                    "datestock": $("#txt_stockdate").val(),
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.success) {
                        Utils.OpenNotify("Cập nhật tồn kho thành công", "Thông báo", "success");
                    }
                    else {
                        Utils.OpenNotify(r.message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
    </script>
}
