﻿@model Order_Model
@{
    Layout = null;
    //double total = 0;
    //foreach (var rec in Model.ListItem)
    //{
    //    total += (rec.ItemQty * rec.ItemPrice.ToDouble());
    //}

    var Shopee = ViewBag.Shopee as SDK.Shopee.Root_OrderInfo.Data;
}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Bản in cho khổ K58</h2>
    </div>
    <div class="card-body">
        <div id="printData" style="width:100%; margin:0px;" class="text-muted">
            <table style="width: 100%; border-bottom: dotted;">
                <tr>
                    <td style="text-align: center">
                        <b>@Shopee.actual_carrier</b><br />
                        <b style="color:blue">@Shopee.fulfillment_carrier_name</b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <img src="@ViewBag.Barcode" /><br />
                        Mã vận đơn: <b>@Shopee.MaVanDon</b><br />
                        Mã đơn hàng: <b>@Shopee.order_sn</b>
                    </td>
                </tr>
            </table>
            <table style="width: 100%; border-bottom: dotted;">
                <tr>
                    <td style="vertical-align:top">
                        <b>Từ: </b> @Shopee.TenShop<br />
                        @Shopee.seller_address.address<br />
                        @(Shopee.seller_address.district+", "+Shopee.seller_address.city+", "+Shopee.seller_address.state)<br />
                        SĐT:@Shopee.seller_address.phone
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:top">
                        <b>Đến: </b> @Shopee.buyer_address_name<br />
                        @Shopee.shipping_address<br />
                        SĐT:@Shopee.buyer_address_phone
                    </td>
                </tr>
            </table>
            <table style="width: 100%; border-bottom: dotted;">
                <tr>
                    <td>
                        <b>
                            Nội dung hàng
                        </b>
                    </td>
                </tr>
                @for (int i = 0; i < Model.ListItem.Count; i++)
                {
                    var rec = Model.ListItem[i];

                    <tr>
                        <td>
                            @((i+1)+"."+ rec.ItemName+", SL:"+rec.ItemQty)
                            <br />
                            @if (rec.Description.Length > 0)
                            {
                                <small>Phân loại: @rec.Description</small>
                            }
                        </td>
                    </tr>
                }
            </table>
            <table style="width: 100%; border-bottom: dotted;">
                <tr>
                    <td style="text-align:center; width:50%; vertical-align:top">
                        Tiền thu người nhận:<br />
                        <h4>@(Model.TotalMoney.ToString("n0") + " " + Shopee.currency)</h4>
                    </td>
                </tr>
            </table>
            <table style="width: 100%; border-bottom: dotted;">
                <tr>
                    <td style="text-align: center;">
                        <img src="@ViewBag.Qrcode" /><br />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card-footer text-center">
        <button id="btn_Print" type="button" class="btn btn-primary" onclick="PrintTo()">
            In
        </button>
        <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
            Đóng
        </button>
    </div>
</div>