﻿@model List<Order_Model>
@{
    Layout = null;
    double _Total = Model.Sum(s => s.TotalMoney);
    if (TempData["Error"] != null && TempData["Error"].ToString() != string.Empty)
    {
        <div class="alert alert-primary">
            <strong>@TempData["Error"]</strong>.
        </div>
    }
    else
    {
        if (Model.Count > 0)
        {
            <table class="table table-hover table-sm data table-striped">
                <thead>
                    <tr>
                        <th>Stt</th>
                        <th>Ngày</th>
                        <th>Mã</th>
                        <th>Khách hàng</th>
                        <th style="width:120px" class="text-right">Số tiền</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="font-weight-bold text-danger" style="background: #0088cc70">
                        <td colspan="4">Tổng</td>
                        <td class="number text-right">
                            @_Total
                        </td>
                        <td></td>
                    </tr>
                    @{
                        int No = 1;
                        foreach (var rec in Model)
                        {
                            <tr>
                                <td>@(No++)</td>
                                <td>@rec.CreatedOn.ToString("dd/MM/yyyy")</td>
                                @if (rec.OrderID != "")
                                {
                                    <td>@rec.OrderID</td>
                                }
                                else
                                {
                                    <td>@rec.S_OrderID</td>
                                }
                                <td>
                                    <p class="m-0">
                                        @rec.BuyerName
                                    </p>
                                </td>
                                <td class="number text-right">@rec.TotalMoney.ToString("n0")</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Thao tác
                                        </button>
                                        <div class="dropdown-menu">
                                            <a href="#" class="dropdown-item" role="button" onclick="Open('@rec.OrderKey', 'code')">In BarCode</a>
                                            <a href="#" class="dropdown-item" role="button" onclick="Open('@rec.OrderKey', 'k80')">In K80</a>
                                            <a href="#" class="dropdown-item" role="button" onclick="Open('@rec.OrderKey', 'k58')">In K58</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item"
                                               asp-controller="Inventory"
                                               asp-action="Edit_Output"
                                               asp-route-OrderKey="@rec.OrderKey" onclick="Utils.LoadIn();">
                                                <i class="far fa-edit"></i>
                                                Điều chỉnh
                                            </a>
                                            <a href="#" class="dropdown-item" onclick="Delete('@rec.OrderKey')">
                                                <i class="fas fa-trash"></i>
                                                Xoá
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-primary">
                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
            </div>
        }
    }
}