﻿@model Order_Model
@{
    var ShopeeOrder = new SDK.Shopee.Root_OrderInfo.Data();
    if (ViewBag.ShopeeOrder != null)
    {
        ShopeeOrder = ViewBag.ShopeeOrder as SDK.Shopee.Root_OrderInfo.Data;
    }
    string _UrlImg = "https://cf.shopee.vn/file/";

    double total = 0;
    foreach (var rec in ShopeeOrder.order_items)
    {
        total += (rec.amount * rec.item_price.ToDouble());
    }

    total += ShopeeOrder.shipping_fee.ToDouble();
}
<header class="page-header">
    <h2 class="text-primary">Điều chỉnh đơn hàng xuất bán</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="action-buttons-fixed">
    <div class="row">
        <div class="col-6">
            <div class="accordion accordion-primary" id="accordion">
                <div class="card border card-default">
                    <div class="card-header">
                        <h4 class="card-title m-0">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1One">
                                Đơn hàng shopee số: @Model.S_OrderID
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1One" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            <div class="form-group-sm mb-2">
                                <p class="mb-1">Khách hàng: @ShopeeOrder.buyer_address_name</p>
                                <p class="mb-1">SĐT:@ShopeeOrder.buyer_address_phone</p>
                                <p class="mb-1">Địa chỉ: @ShopeeOrder.shipping_address</p>
                                <p class="mb-1">Vận chuyển: @ShopeeOrder.actual_carrier</p>
                            </div>
                            <div class="form-group-sm mb-2">
                                <label class="font-weight-bolder">Nội dung hàng:</label>
                                @for (int i = 0; i < ShopeeOrder.order_items.Count; i++)
                                {
                                    var rec = ShopeeOrder.order_items[i];
                                    var ex = rec.item_model;
                                    var img = _UrlImg + rec.product.images[0] + "_tn";

                                    <div class="d-flex mb-2">
                                        <img class="imgShopee" src="@img" />
                                        <div class="float-left">
                                            <b>@rec.amount X </b>
                                            @rec.product.name
                                            @if (ex.name.Length > 0)
                                            {
                                                <br /><small>Phân loại: @ex.name</small>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="font-weight-bolder col-6">Người mua thanh toán:</label>
                                    <label class="font-weight-bolder col-6 text-right number">@total</label>
                                </div>
                                <div class="row">
                                    <label class="font-weight-bolder col-6">Cộng tiền hàng:</label>
                                    <label class="font-weight-bolder col-6 text-right number">@(total - ShopeeOrder.shipping_fee.ToDouble())</label>
                                </div>
                                <div class="row">
                                    <label class="font-weight-bolder col-6">Phí Shopee:</label>
                                    <label class="font-weight-bolder col-6 text-right number">@ShopeeOrder.card_txn_fee_info.card_txn_fee.ToDouble()</label>
                                </div>
                                <div class="row">
                                    <label class="font-weight-bolder col-6 text-danger">Thực thu:</label>
                                    <label class="font-weight-bolder col-6 text-danger text-right number">@(total - ShopeeOrder.shipping_fee.ToDouble() - ShopeeOrder.card_txn_fee_info.card_txn_fee.ToDouble())</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border card-default">
                    <div class="card-header">
                        <h4 class="card-title m-0">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1Two">
                                Đơn hàng đã xuất bán
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1Two" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            <div class="form-group-sm mb-2 row align-items-center">
                                <div class="col-lg-12">
                                    <input type="text" id="txt_orderid" class="form-control" placeholder="Mã đơn hàng" asp-for="OrderID" />
                                </div>
                            </div>
                            <div class="form-group-sm mb-2 row align-items-center">
                                <div class="col-lg-12">
                                    <textarea id="txt_description" class="form-control" placeholder="Ghi chú" asp-for="Description"></textarea>
                                </div>
                            </div>
                            <div id="table_item">
                                @await Html.PartialAsync("~/Views/Inventory/Output/_Table_Item.cshtml", Model)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="input-group">
                                <input type="text" class="form-control" id="txt_productName">
                                <button class="btn btn-success" type="button" onclick="getProduct()">
                                    <i class="fas fa-filter"></i>
                                    Lọc
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="nano" style="height:100vh">
                                <div class="nano-content" id="divProduct">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row action-buttons">
        <div class="col-12">
            <button id="btn_Confirm" type="button" class="btn btn-primary float-right" onclick="saveCart();">
                Cập nhật
            </button>
            <a class="btn btn-outline-primary" role="button" onclick="Open('@Model.OrderKey', 'k80')">K80</a>
            <a class="btn btn-outline-primary" role="button" onclick="Open('@Model.OrderKey', 'k58')">K58</a>
            <a class="btn btn-outline-secondary" id="btn_Cancel" onclick="Utils.BackWithRefresh(); return false;">
                Hoàn tác & trở về
            </a>
        </div>
    </div>
</div>
<input id="txt_orderkey" type="hidden" asp-for="OrderKey" />
<div id="modal" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
</div>
@section scripts{
    <script>
        var Url_Search_Product = "@Url.Action("Search_Product", "Inventory")";
        var Url_Add_Item = "@Url.Action("Add_Item_Output", "Inventory")";
        var Url_Delete_Item = "@Url.Action("Del_Item_Output", "Inventory")";
        var Url_Remove_Item = "@Url.Action("Remove_Item_Output", "Inventory")";
        var Url_Save_Order = "@Url.Action("Save_Output", "Inventory")";
        var Url_Qty_Item = "@Url.Action("Qty_Item_Output", "Inventory")";
        var Url_Check_Item = "@Url.Action("Check_Item_Output", "Inventory")";
        getProduct();
        function getProduct() {
            var name = $("#txt_productName").val();
            $.ajax({
                url: Url_Search_Product,
                type: "GET",
                data: {
                    "name": name,
                },
                beforeSend: function () {
                    $("#divProduct").empty();
                },
                success: function (r) {
                    $("#divProduct").append(r);
                },
                error: function (err) {

                },
                complete: function () {

                }
            });
        }
        function addCart(id) {
            $.ajax({
                url: Url_Check_Item,
                type: "GET",
                data: {
                    "Id": id
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        $.post(Url_Add_Item, { "Id": id },
                            function (r) {
                                $("#table_item").empty().append(r);

                            });
                    }
                    else {
                        Utils.OpenNotify("Thông báo", r.message, "warning");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                },
                complete: function () {

                }
            });
        }
        //
        function deleteCart(id) {
            $.post(Url_Delete_Item, { "Id": id },
                function (r) {
                    $("#table_item").empty().append(r);
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                });
        }
        //
        function removeCart(id) {
            $.post(Url_Remove_Item, { "Id": id },
                function (r) {
                    $("#table_item").empty().append(r);
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                });
        }
        //
        function saveCart() {
            Utils.LoadIn();
            var key = $("#txt_orderkey").val();
            var id = $("#txt_orderid").val();
            var desc = $("#txt_description").val();

            $.post(Url_Save_Order, {
                OrderKey: key,
                Id: id,
                Description: desc
            }, function (r) {
                if (!r.success) {
                    Utils.OpenNotify("Thông báo", r.message, "error");
                }
                else {
                    Utils.OpenNotify("Thông báo", "Đã lưu thành công !.", "success");
                    Utils.BackWithRefresh();
                }
            });
        }
        //
        function qtyCart(id) {
            var qty = $("input[key='" + id + "'][name='txt_Qty']").val();
            var pric = $("input[key='" + id + "'][name='txt_ItemPrice']").val();

            $.post(Url_Qty_Item, { "Id": id, "qty": qty, "pric": pric },
                function (r) {
                    $("#table_item").empty().append(r);
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                });
        }
        //
        function Open(id, type) {
            $.ajax({
                url: "/Inventory/Print_Preview",
                type: "GET",
                data: {
                    "OrderKey": id,
                    "ViewType": type
                },
                beforeSend: function () {
                    $("#modal").empty();
                    Utils.LoadIn();
                },
                success: function (r) {
                    $("#modal").append(r);
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.OpenMagnific("#modal");
                    Utils.LoadOut();
                }
            });
        }
    </script>
}