﻿@section styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
        .ranges {
            float: right !important;
        }
    </style>
}
@{
    var _List = new List<Order_Model>();
    if (ViewBag.List != null)
    {
        _List = ViewBag.List as List<Order_Model>;
    }
}
<header class="page-header">
    <h2 class="text-primary">Đơn hàng xuất/ bán</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header">
                <div class="row">
                    <div class="col-4">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt mr-2"></i>
                                Thời gian
                            </span>
                            <input type="text" name="daterange" value="" id="txt_daterange" class="form-control" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group">
                            <input type="text" value="" id="txt_Search" name="Name" class="form-control" placeholder="Tìm kiếm" />
                            <button type="button" class="btn btn-default" id="btn_Search">
                                <i class="bx bx-search"></i>
                                Tìm
                            </button>
                        </div>
                    </div>
                    <div class="col-2 text-right">
                        <a asp-controller="Inventory" asp-action="Export_Shopee" class="btn btn-success">
                            <i class="fas fa-file-excel"></i>
                            Xuất Excel
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body" id="divData">
                @await Html.PartialAsync("~/Views/Inventory/Output/_Table_Order.cshtml", _List)
            </div>
        </div>
    </div>
</div>
<input id="txt_StartDate" type="hidden" value="@ViewBag.Start" name="FromDate" />
<input id="txt_EndDate" type="hidden" value="@ViewBag.End" name="ToDate" />
<div id="modal" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
</div>
@section scripts{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        var Url_Delete_Output = "@Url.Action("Delete_Output", "Inventory")";
        function Delete(OrderKey) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: Url_Delete_Output,
                                type: "POST",
                                data: {
                                    "OrderKey": OrderKey
                                },
                                beforeSend: function () {
                                },
                                success: function (r) {
                                    if (r.success) {
                                        var elm = $("#" + OrderKey);
                                        Utils.RemoveRow(elm);
                                    }
                                    else {
                                        Utils.OpenNotify(r.message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {
                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        $(function () {
            var start = $("#txt_StartDate").val();  //
            var end = $("#txt_EndDate").val();     //

            if (start === "") {
                start = Utils.GetFirstDayMonth();
            }
            if (end === "") {
                end = Utils.GetLastDayMonth();
            }

            $("#txt_daterange").daterangepicker({
                locale: {
                    format: "DD/MM/YYYY",
                    "customRangeLabel": "Tuỳ chọn",
                    "applyLabel": "Áp dụng",
                    "cancelLabel": "Huỷ",
                },
                ranges: {
                    "Hôm nay": [moment(), moment()],
                    "Hôm qua": [moment().subtract(1, "days"), moment().subtract(1, "days")],
                    "7 ngày qua": [moment().subtract(6, "days"), moment()],
                    "30 ngày qua": [moment().subtract(29, "days"), moment()],
                    "Tháng này": [moment().startOf("month"), moment().endOf("month")],
                    "Tháng trước": [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")]
                },
                "alwaysShowCalendars": true,
                "startDate": start,
                "endDate": end
            }, function (start, end, label) {
                console.log("New date range selected: " + start.format("DD/MM/YYYY") + " to " + end.format("DD/MM/YYYY") + " (predefined range: " + label + ")");
                $("#txt_StartDate").val(start.format("DD/MM/YYYY"));
                $("#txt_EndDate").val(end.format("DD/MM/YYYY"));
                SearchData();
            });
        });
        $("#btn_Search").click(function () {
            SearchData();
        });
        function SearchData() {
            var name = $("#txt_Search").val();
            var from = $("#txt_StartDate").val();
            var to = $("#txt_EndDate").val();
            $.ajax({
                url: "/Inventory/List_Output_Data",
                type: "GET",
                data: {
                    "FromDate": from,
                    "ToDate": to,
                    "Name": name
                },
                beforeSend: function () {
                    $("#divData").empty();
                    Utils.LoadIn();
                },
                success: function (r) {
                    $("#divData").append(r);
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.LoadOut();
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                }
            });
        }
        //
        function Open(id, type) {
            $.ajax({
                url: "/Inventory/Print_Preview",
                type: "GET",
                data: {
                    "OrderKey": id,
                    "ViewType": type
                },
                beforeSend: function () {
                    $("#modal").empty();
                    Utils.LoadIn();
                },
                success: function (r) {
                    $("#modal").append(r);
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.OpenMagnific("#modal");
                    Utils.LoadOut();
                }
            });
        }
    </script>
}