﻿
@section styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
        .ranges {
            float: right !important;
        }
    </style>
}
<header class="page-header">
    <h2 class="text-primary">Trang chủ</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header">
                <div class="row">
                    <div class="col-2 text-right">
                        <a asp-controller="Inventory" asp-action="ExportStock" class="btn btn-success">
                            <i class="fas fa-file-excel"></i>
                            Xuất Excel
                        </a>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt mr-2"></i>
                                Thời gian tồn
                            </span>
                            <input type="text" name="daterange" value="@ViewBag.DateView" id="txt_daterange" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="file" id="txt_Upload" class="form-control" name="Upload" accept="image/*;capture=camera" multiple="">
                    </div>
                    <div class="col-2 text-right">
                        <button type="button" class="btn btn-info" id="btn_Import">
                            <i class="fas fa-file-import"></i>
                            Nhập Excel
                        </button>
                    </div>

                </div>
            </div>
            <div class="card-body" id="divData">
                
            </div>
        </div>
    </div>
</div>
<input id="txt_DateView" type="hidden" value="@ViewBag.DateView" name="DateView" />
<div id="modal" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

</div>
@section scripts{
    <script>
        var Url_Import = "@Url.Action("ImportStock", "Inventory")";
        $(function () {

            $('#btn_Import').on('click', function () {

                var fileExtension = ['xls', 'xlsx'];
                var filename = $('#txt_Upload').val();
                if (filename.length == 0) {
                    alert("Vui lòng chọn file.");
                    return false;
                }
                else {
                    var extension = filename.replace(/^.*\./, '');
                    if ($.inArray(extension, fileExtension) == -1) {
                        alert("Vui lòng chỉ chọn file excel.");
                        return false;
                    }
                }

                var fileUpload = $("#txt_Upload").get(0);
                var files = fileUpload.files;

                // Create  a FormData object
                var fileData = new FormData();

                fileData.append("fileData",files[0]);
                fileData.append("DateView", $("#txt_daterange").val());
                
                $.ajax({
                    url: Url_Import,
                    type: "POST",
                    data: fileData,
                    processData: false,
                    contentType: false,
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.success) {
                            Utils.OpenNotify("Thông báo", "Import thành công", "success");
                        }
                        else {
                            Utils.OpenNotify("Thông báo", r.message, "warning");
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify("Thông báo", err.responseText, "error");
                    },
                    complete: function () {

                    }

                });
            })

        });
    </script>
}