﻿
@model Order_Model
@{
    Layout = null;
    double total = 0;
    foreach (var rec in Model.ListItem)
    {
        total += (rec.ItemPrice * rec.ItemQty);
    }
}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Bản in cho khổ K58</h2>
    </div>
    <div class="card-body">
        <div id="printData" style="width:100%; margin:0px;" class="text-muted">
            <table style="width: 100%; border-bottom: dotted;">
                <tr>
                    <td style="text-align: center"></td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        Mã đơn hàng: <b>@Model.OrderID</b>
                    </td>
                </tr>
            </table>
            <table style="width: 100%; border-bottom: dotted;">
                <tr>
                    <td style="vertical-align:top">
                        <b>Từ: </b> TN SOLUTION<br />
                        96/14 Kp4, Tân Mỹ, P. Tân Thuận Tây
                        SĐT:0902 106 212
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:top">
                        <b>Đến: </b> @Model.BuyerName<br />
                        @Model.BuyerAddress<br />
                        SĐT:@Model.BuyerPhone
                    </td>
                </tr>
            </table>
            <table style="width: 100%; border-bottom: dotted;">
                <tr>
                    <td>
                        <b>
                            Nội dung hàng
                        </b>
                    </td>
                </tr>
                @for (int i = 0; i < Model.ListItem.Count; i++)
                {
                    var rec = Model.ListItem[i];

                    <tr>
                        <td>
                            @((i+1)+"."+ rec.ItemName+", SL:"+rec.ItemQty)
                        </td>
                    </tr>
                }
            </table>
            <table style="width: 100%; border-bottom: dotted;">
                <tr>
                    <td style="text-align:center; width:50%; vertical-align:top">
                        Tiền thu người nhận:<br />
                        <h4>@(total.ToString("n0"))</h4>
                    </td>
                </tr>
            </table>
            <table style="width: 100%; border-bottom: dotted;">
                <tr>
                    <td style="text-align: center;">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card-footer text-center">
        <button id="btn_Print" type="button" class="btn btn-primary" onclick="PrintTo()">
            In
        </button>
        <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
            Đóng
        </button>
    </div>
</div>