﻿@model List<Order_Model>
@{
    Layout = null;
    if (TempData["Error"] != null && TempData["Error"].ToString() != string.Empty)
    {
        <div class="alert alert-primary">
            <strong>@TempData["Error"]</strong>.
        </div>
    }
    else
    {
        if (Model != null && Model.Count > 0)
        {
            <table class="table table-hover table-sm data">
                <thead>
                    <tr>
                        <th>Stt</th>
                        <th>Ngày</th>
                        <th>Mã</th>
                        <th>Khách hàng</th>
                        <th>Tổng tiền</th>
                        <th>Ghi chú</th>
                        <th>#</th>
                    </tr>
                </thead>
                @{
                    int No = 1;
                    foreach (var rec in Model)
                    {
                        <tr id='@rec.OrderKey'>
                            <td>@(No++)</td>
                            <td>@rec.CreatedOn.ToString("dd/MM/yyyy")</td>
                            <td>@rec.OrderID</td>
                            <td>
                                <p class="m-0">
                                    @rec.BuyerName
                                </p>
                            </td>
                            <td class="number text-right">@rec.TotalMoney.ToString("n0")</td>
                            <td>@rec.Description</td>
                            <td>
                                <a class="btn btn-outline-warning btn-sm modal-with-zoom-anim"
                                   asp-controller="Inventory"
                                   asp-action="Edit_Output_Local"
                                   asp-route-OrderKey="@rec.OrderKey" onclick="Utils.LoadIn();">
                                    <i class="far fa-edit"></i>
                                    Điều chỉnh
                                </a>
                                <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@rec.OrderKey')">
                                    <i class="fas fa-trash"></i>
                                    Xoá
                                </button>
                            </td>
                        </tr>
                    }
                }
            </table>
        }
        else
        {
            <div class="alert alert-primary">
                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
            </div>
        }

    }
}