﻿
@model Order_Model
@{
    double temp = 0;
    if (Model != null)
    {
        temp = Model.ListItem.Sum(s => s.ItemMoney);
    }
}
<header class="page-header">
    <h2 class="text-primary">Xuất/ bán tại cửa hàng</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="action-buttons-fixed">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <input id="txt_OrderId" type="text" class="form-control" placeholder="Mã nhập hàng" required="" asp-for="OrderID">
                                </div>
                                <div class="col-6">
                                    <input id="txt_OrderDate" type="text" data-plugin-masked-input data-input-mask="99/99/9999" placeholder="__/__/____" class="form-control" required="" value="@Model.OrderDate.ToString("dd/MM/yyyy")">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group-sm mb-2 row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end">Khách hàng</label>
                                <div class="col-lg-7 col-xl-9">
                                    <input id="txt_BuyerName" type="text" class="form-control " name="Buyer" asp-for="BuyerName">
                                </div>
                            </div>
                            <div class="form-group-sm mb-2 row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end">Số điện thoại</label>
                                <div class="col-lg-7 col-xl-9">
                                    <input id="txt_BuyerPhone" type="text" class="form-control " name="address" asp-for="BuyerPhone">
                                </div>
                            </div>
                            <div class="form-group-sm mb-2 row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end">Địa chỉ</label>
                                <div class="col-lg-7 col-xl-9">
                                    <input id="txt_BuyerAddress" type="text" class="form-control " name="address" asp-for="BuyerAddress">
                                </div>
                            </div>
                            <div class="form-group-sm mb-2 row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end">Ghi chú</label>
                                <div class="col-lg-7 col-xl-9">
                                    <input id="txt_description" type="text" class="form-control " name="description" asp-for="Description">
                                </div>
                            </div>
                            <div class="form-group-sm mb-2">
                                <label class="">Các mặt hàng:</label>
                                <div id="export_order" class="collapse show" data-parent="#prepare_order">
                                    <div class="" id="table_item">
                                        @await Html.PartialAsync("~/Views/Inventory/Output_Local/_Table_Item.cshtml", Model)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-sm mb-2 row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end">Tạm tính</label>
                                <div class="col-lg-7 col-xl-9">
                                    <input id="txt_tempmoney" type="text" class="form-control number text-right" name="tempmoney" value="@temp">
                                </div>
                            </div>
                            <div class="form-group-sm mb-2 row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end">Giảm giá</label>
                                <div class="col-lg-7 col-xl-9">
                                    <input id="txt_discount" type="text" class="form-control number text-right" name="Discount" asp-for="Discount">
                                </div>
                            </div>
                            <div class="form-group-sm mb-2 row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end">Thanh toán</label>
                                <div class="col-lg-7 col-xl-9">
                                    <input id="txt_totalmoney" type="text" class="form-control number text-right" name="totalmoney" asp-for="TotalMoney">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="input-group">
                                <input type="text" class="form-control" id="txt_productName">
                                <button class="btn btn-success" type="button" onclick="getProduct()">
                                    <i class="fas fa-filter"></i>
                                    Lọc
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="nano" style="height:100vh">
                                <div class="nano-content" id="divProduct">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row action-buttons d-flex justify-content-end">
        <div class="col-12">

            @if (ViewBag.Record == "IsNew")
            {
                <button type="button" class="btn btn-success" onclick="doneOrder();">
                    Xuất hàng & Thu tiền
                </button>
                <button type="button" class="btn btn-primary" onclick="delivery();">
                    Giao vận chuyển
                </button>
            }
            @if (ViewBag.Record == "IsUpdate")
            {
                <button type="button" class="btn btn-primary" onclick="saveCart();">
                    Cập nhật
                </button>
                <button type="button" class="btn btn-danger" onclick="deleteOrder('@Model.OrderKey');">
                    Xoá
                </button>
            }

            <button type="button" class="btn btn-outline-secondary" onclick="Utils.BackWithRefresh(); return false;">
                Trở về
            </button>
        </div>
    </div>
</div>
<input id="txt_orderkey" type="hidden" asp-for="OrderKey" />
<div id="modal" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
</div>
@section scripts{
    <script>
        var Url_Add_Item = "@Url.Action("Add_Item_Output_Local", "Inventory")";
        var Url_Delete_Item = "@Url.Action("Del_Item_Output_Local", "Inventory")";
        var Url_Remove_Item = "@Url.Action("Remove_Item_Output_Local", "Inventory")";
        var Url_Qty_Item = "@Url.Action("Qty_Item_Output_Local", "Inventory")";
        var Url_Check_Item = "@Url.Action("Check_Item_Output_Local", "Inventory")";

        var Url_Search_Product = "@Url.Action("Search_Product", "Inventory")";
        var Url_Delivery = "@Url.Action("Delivery", "Inventory")";
        var Url_Close = "@Url.Action("Close", "Inventory")";
        var Url_Save_Order = "@Url.Action("Save_Output_Local", "Inventory")";
        var Url_Delete_Order = "@Url.Action("Delete_Output_Local", "Inventory")";
    </script>
    <script>
        //
        getProduct();
        //
        function sumCart() {
            var total = 0;
            $("#table_item").find("input[name='txt_ItemMoney']").each(function () {
                total += parseFloat($(this).val());
            });

            var temp = total;
            var discount = parseFloat($("#txt_discount").val());
            var total = temp - discount;
            $("#txt_totalmoney").val($.number(total, 0, '.', ','));
        }
        //
        function getProduct() {
            var name = $("#txt_productName").val();
            $.ajax({
                url: Url_Search_Product,
                type: "GET",
                data: {
                    "name": name,
                },
                beforeSend: function () {
                    $("#divProduct").empty();
                },
                success: function (r) {
                    $("#divProduct").append(r);
                },
                error: function (err) {

                },
                complete: function () {

                }
            });
        }
        //
        function addCart(id) {
            $.ajax({
                url: Url_Check_Item,
                type: "GET",
                data: {
                    "Id": id,
                    "OrderKey": $("#txt_orderkey").val()
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        $.post(Url_Add_Item, {
                            "Id": id,
                            "OrderKey": $("#txt_orderkey").val()
                        },
                            function (r) {
                                $("#table_item").empty().append(r);
                            }).done(function () {
                                sumCart();
                                $("input.number").each(function () {
                                    $(this).number(true, 0, '.', ',');
                                });
                            });
                    }
                    else {
                        Utils.OpenNotify("Thông báo", r.message, "warning");
                    }
                },
                error: function (err) {

                },
                complete: function () {

                }
            });
        }
        //
        function deleteCart(id) {
            $.post(Url_Delete_Item, { "Id": id, "OrderKey": $("#txt_orderkey").val() },
                function (r) {
                    $("#table_item").empty().append(r);
                }).done(function () {
                    sumCart();
                    $("input.number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                });;
        }
        //
        function removeCart(id) {
            $.post(Url_Remove_Item, { "Id": id, "OrderKey": $("#txt_orderkey").val() },
                function (r) {
                    $("#table_item").empty().append(r);
                }).done(function () {
                    sumCart();
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                });
        }
        //
        function qtyCart(id) {
            var qty = $("input[key='" + id + "'][name='txt_Qty']").val();
            var pric = $("input[key='" + id + "'][name='txt_ItemPrice']").val();

            $.ajax({
                url: Url_Qty_Item,
                type: "POST",
                data: {
                    "Id": id,
                    "qty": qty,
                    "pric": pric,
                    "OrderKey": $("#txt_orderkey").val()
                },
                beforeSend: function () {

                },
                success: function (r) {
                    $("#table_item").empty().append(r);
                },
                error: function (err) {

                },
                complete: function () {
                    sumCart();
                    $("input.number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                }
            });
        }
        // giao vận chuyển
        function delivery() {
            if ($("#txt_OrderDate").val() === "") {
                Utils.OpenNotify("Thông báo", "Bạn phải nhập ngày", "warning");
                return;
            }

            $.ajax({
                url: Url_Delivery,
                type: "POST",
                data: {
                    OrderKey: $("#txt_orderkey").val(),
                    Id: $("#txt_OrderId").val(),
                    OrderDate: $("#txt_OrderDate").val(),
                    BuyerName: $("#txt_BuyerName").val(),
                    BuyerAddress: $("#txt_BuyerAddress").val(),
                    BuyerPhone: $("#txt_BuyerPhone").val(),
                    Description: $("#txt_description").val(),
                    TotalMoney: $("#txt_totalmoney").val()
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (!r.success) {
                        Utils.OpenNotify("Thông báo", r.message, "error");
                    }
                    else {
                        Utils.OpenNotify("Thông báo", "Đã cập nhật thành công !.", "success");
                        Utils.BackWithRefresh();
                    }
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        // kết thúc đơn hàng - bán thu tiền tại chỗ
        function doneOrder() {
            if ($("#txt_OrderDate").val() === "") {
                Utils.OpenNotify("Thông báo", "Bạn phải nhập ngày", "warning");
                return;
            }

            $.ajax({
                url: Url_Close,
                type: "POST",
                data: {
                    OrderKey: $("#txt_orderkey").val(),
                    Id: $("#txt_OrderId").val(),
                    OrderDate: $("#txt_OrderDate").val(),
                    BuyerName: $("#txt_BuyerName").val(),
                    BuyerAddress: $("#txt_BuyerAddress").val(),
                    BuyerPhone: $("#txt_BuyerPhone").val(),
                    Description: $("#txt_description").val(),
                    TotalMoney: $("#txt_totalmoney").val()
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (!r.success) {
                        Utils.OpenNotify("Thông báo", r.message, "error");
                    }
                    else {
                        Utils.OpenNotify("Thông báo", "Đã cập nhật thành công !.", "success");
                        Utils.BackWithRefresh();
                    }
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        //chỉ cập nhật thông tin
        function saveCart() {
            if ($("#txt_OrderDate").val() === "") {
                Utils.OpenNotify("Thông báo", "Bạn phải nhập ngày", "warning");
                return;
            }

            $.ajax({
                url: Url_Save_Order,
                type: "POST",
                data: {
                    OrderKey: $("#txt_orderkey").val(),
                    Id: $("#txt_OrderId").val(),
                    OrderDate: $("#txt_OrderDate").val(),
                    BuyerName: $("#txt_BuyerName").val(),
                    BuyerAddress: $("#txt_BuyerAddress").val(),
                    BuyerPhone: $("#txt_BuyerPhone").val(),
                    Description: $("#txt_description").val(),
                    Discount: $("#txt_discount").val(),
                    TotalMoney: $("#txt_totalmoney").val()
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (!r.success) {
                        Utils.OpenNotify("Thông báo", r.message, "error");
                    }
                    else {
                        Utils.OpenNotify("Thông báo", "Đã lưu thành công !.", "success");
                        Utils.BackWithRefresh();
                    }
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        //xoá tất cả
        function deleteOrder(OrderKey) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: Url_Delete_Order,
                                type: "POST",
                                data: {
                                    "OrderKey": OrderKey
                                },
                                beforeSend: function () {
                                },
                                success: function (r) {
                                    if (r.success) {
                                        Utils.BackWithRefresh();
                                    }
                                    else {
                                        Utils.OpenNotify(r.message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {
                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
    </script>
}