﻿<nav id="menu" class="nav-main" role="navigation">
    <ul class="nav nav-main">
        <li>
            <a asp-controller="Home" asp-action="Index" class="hvr-wobble-horizontal">
                <i class="bx bx-home-alt"></i>
                <span>
                    Trang chủ
                </span>
            </a>
        </li>
        <li class="nav-parent">
            <a class="nav-link" href="#">
                <i class='bx bx-polygon'></i>
                <span>
                    Nhập hàng
                </span>
            </a>
            <ul class="nav nav-children">
                <li>
                    <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="Edit_Input" asp-route-Slug="101" asp-route-OrderKey="@(Guid.NewGuid())">
                        <i class='bx bx-minus'></i>
                        <span>
                            Mua hàng
                        </span>
                    </a>
                </li>
                <li>
                    <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="Edit_Input" asp-route-Slug="102" asp-route-OrderKey="@(Guid.NewGuid())">
                        <i class='bx bx-minus'></i>
                        <span>
                            Khách trả hàng
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-parent">
            <a href=# class="nav-link">
                <i class='bx bx-polygon'></i>
                <span>
                    Bán hàng
                </span>
            </a>
            <ul class="nav nav-children">
                <li>
                    <a class="hvr-wobble-horizontal" asp-controller="Shopee" asp-action="Index">
                        <i class='bx bx-minus'></i>
                        <span>
                            Shopee
                        </span>
                    </a>
                </li>
                <li>
                    <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="Edit_Output_Local" asp-route-OrderKey="@(Guid.NewGuid())">
                        <i class='bx bx-minus'></i>
                        <span>
                            Tại cửa hàng
                        </span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-parent">
            <a href=# class="nav-link">
                <i class='bx bx-polygon'></i>
                <span>Xuất hàng</span>
            </a>
            <ul class="nav nav-children">
                <li>
                    <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="Edit_Trash" asp-route-Slug="201" asp-route-OrderKey="@(Guid.NewGuid())">
                        <i class='bx bx-minus'></i>
                        <span>Huỷ</span>
                    </a>
                </li>
                <li>
                    <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="Edit_Trash" asp-route-Slug="202" asp-route-OrderKey="@(Guid.NewGuid())">
                        <i class='bx bx-minus'></i>
                        <span>Trả nhà cung cấp</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="Edit_Produce" asp-route-Key="@(Guid.NewGuid())">
                <i class='bx bx-polygon'></i>
                <span>
                    Sản xuất hàng
                </span>
            </a>
        </li>
        <li class="nav-parent">
            <a href=# class="nav-link">
                <i class='bx bx-box'></i><span>Đối tác</span>
            </a>
            <ul class="nav nav-children">
                <li>
                    <a asp-controller="Customer" asp-action="List_Customer" asp-route-filter="@(string.Empty)" class="hvr-wobble-horizontal">
                        <i class='bx bx-book-content'></i>
                        <span>
                            Khách hàng
                        </span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Customer" asp-action="List_Vendor" asp-route-filter="@(string.Empty)" class="hvr-wobble-horizontal">
                        <i class='bx bx-book-content'></i>
                        <span>
                            Nhà cung cấp
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-parent">
            <a href=# class="nav-link">
                <i class='bx bx-box'></i>
                <span>Kho</span>
            </a>
            <ul class="nav nav-children">
                <li>
                    <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="IndexV2">
                        <i class='bx bx-list-check'></i>
                        <span>
                            Kho bán hàng
                        </span>
                    </a>
                </li>
                <li>
                    <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="SaleItem">
                        <i class='bx bx-list-check'></i>
                        <span>
                            Kho giao hàng
                        </span>
                    </a>
                </li>
                <li>
                    <a class="hvr-wobble-horizontal" href=#>
                        <i class='bx bx-list-check'></i>
                        <span>
                            Kho huỷ
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-parent">
            <a href="#" class="nav-link">
                <i class='bx bx-cog'></i>
                <span>
                    Cài đặt
                </span>
            </a>
            <ul class="nav nav-children">
                <li>
                    <a class="hvr-wobble-horizontal" asp-controller="Config" asp-action="ListConnect">
                        <i class='bx bx-link'></i>
                        <span>
                            Liên kết Shop
                        </span>
                    </a>
                </li>
                <li class="nav-parent">
                    <a href="#" class="nav-link">
                        <i class='bx bx-box'></i>
                        <span>
                            Sản phẩm
                        </span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a class="hvr-wobble-horizontal" asp-controller="Product" asp-action="ListV2" asp-route-CategoryKey="0">
                                <i class='bx bx-circle'></i>
                                <span>
                                    Tất cả sản phẩm
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="hvr-wobble-horizontal" asp-controller="Product" asp-action="EditV2" asp-route-ProductKey="@(Guid.NewGuid())">
                                <i class='bx bx-circle'></i>
                                <span>
                                    Thêm sản phẩm
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="hvr-wobble-horizontal" asp-controller="Product" asp-action="List_Package">
                                <i class='bx bx-circle'></i>
                                <span>
                                    Tất cả gói sản phẩm
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="hvr-wobble-horizontal" asp-controller="Product" asp-action="Edit_Package" asp-route-PackageKey="0">
                                <i class='bx bx-circle'></i>
                                <span>
                                    Thêm gói sản phẩm
                                </span>
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </li>
        <li class="nav-parent">
            <a href="#" class="nav-link">
                <i class='bx bx-box'></i>
                <span>
                    Theo dõi đơn hàng
                </span>
            </a>
            <ul class="nav nav-children">
                <li>
                    <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="SaleOrder" asp-route-Status="0">
                        <i class='fas fa-eye'></i>
                        <span>Tất cả</span>
                    </a>
                </li>
                <li class="nav-parent">
                    <a href="#" class="nav-link">
                        <i class='bx bx-box'></i>
                        <span>
                            Shopee
                        </span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="SaleOrder" asp-route-Status="301">
                                <i class='bx bx-folder'></i>
                                <span>Đang giao</span>
                            </a>
                        </li>
                        <li>
                            <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="SaleOrder" asp-route-Status="302">
                                <i class='bx bx-check-circle'></i>
                                <span>Đã hoàn thành</span>
                            </a>
                        </li>
                        <li>
                            <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="SaleOrder" asp-route-Status="303">
                                <i class='bx bxs-trash'></i>
                                <span>Đã huỷ</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-parent">
                    <a href="#" class="nav-link">
                        <i class='bx bx-box'></i>
                        <span>
                            Tnsolution
                        </span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="SaleOrder" asp-route-Status="401">
                                <i class='bx bx-folder'></i>
                                <span>Đang giao</span>
                            </a>
                        </li>
                        <li>
                            <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="SaleOrder" asp-route-Status="402">
                                <i class='bx bx-check-circle'></i>
                                <span>Đã hoàn thành</span>
                            </a>
                        </li>
                        <li>
                            <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="SaleOrder" asp-route-Status="403">
                                <i class='bx bxs-trash'></i>
                                <span>Đã huỷ</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="nav-parent">
            <a href=# class="nav-link">
                <i class='bx bx-box'></i><span>Trung tâm phát triển</span>
            </a>
            <ul class="nav nav-children">
                <li>
                    <a asp-controller="Home" asp-action="ProductTop" class="hvr-wobble-horizontal">
                        <i class='bx bx-book-content'></i>
                        <span>
                            Chỉ số sản phẩm
                        </span>
                    </a>
                    <a asp-controller="Home" asp-action="Buyer" class="hvr-wobble-horizontal">
                        <i class='bx bx-book-content'></i>
                        <span>
                            Chỉ số người mua
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-parent">
            <a href="#" class="nav-link">
                <i class='bx bxs-edit-alt'></i>
                <span>Điều chỉnh</span>
            </a>

            <ul class="nav nav-children">
                <li class="nav-parent">
                    <a href="#" class="nav-link">
                        <i class='bx bx-box'></i>
                        <span>
                            Nhập hàng
                        </span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="List_Input" asp-route-slug="101">
                                <i class='bx bx-list-ul'></i>
                                <span>
                                    Mua hàng
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="List_Input" asp-route-slug="102">
                                <i class='bx bx-list-ul'></i>
                                <span>
                                    Khách trả hàng
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-parent">
                    <a href="#" class="nav-link">
                        <i class='bx bx-box'></i>
                        <span>
                            Bán hàng
                        </span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="List_Output">
                                <i class='bx bx-list-ul'></i>
                                <span>
                                    Bán Shopee
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="List_Output_Local">
                                <i class='bx bx-list-ul'></i>
                                <span>
                                    Tại cửa hàng
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-parent">
                    <a href="#" class="nav-link">
                        <i class='bx bx-box'></i>
                        <span>
                            Xuất hàng
                        </span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="List_Trash" asp-route-slug="201">
                                <i class='bx bx-list-ul'></i>
                                <span>
                                    Huỷ
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="List_Trash" asp-route-slug="202">
                                <i class='bx bx-list-ul'></i>
                                <span>
                                    Trả nhà cung cấp
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="hvr-wobble-horizontal" asp-controller="Inventory" asp-action="List_Produce">
                        <i class='bx bx-box'></i>
                        <span>
                            Đơn sản xuất
                        </span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>