﻿@model List<Product_Model>
@if (TempData["Error"] != null && TempData["Error"].ToString() != string.Empty)
{
    <div class="alert alert-danger">
        <strong>@TempData["Error"]</strong>.
    </div>
}
else
{
    if (Model.Count > 0)
    {
        <table class="table table-sm table-borderd table-hover data">
            <thead>
                <tr>
                    <th></th>
                    <th>Sản phẩm</th>
                    <th class="text-right">Số lượng</th>
                    <th class="text-right">Giá vốn</th>
                    <th class="text-right">Bình quân</th>
                    <th class="text-right">Giá bán</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var Parent = Model.Where(s => s.ProductModel == "").ToList();
                    foreach (var rec in Parent)
                    {
                        var childList = Model.Where(s => s.ProductModel.ToUpper() == rec.ProductKey.ToUpper()).ToList();
                        if (childList.Count() > 0)
                        {
                            <tr parent="@rec.ProductKey.ToUpper()" style="cursor:pointer">
                                <td class="align-items-center align-middle"><i class='bx bxs-down-arrow'></i></td>
                                <td class="d-flex">
                                    @if (rec.PhotoPath == string.Empty)
                                    {
                                        <img src="~/themes/admin/img/noimg.png" alt="product" class="rounded mr-2" style="object-fit:cover; height:60px">
                                    }
                                    else
                                    {
                                        <img src="@Url.Content(rec.PhotoPath)" alt="product" class="rounded mr-2" style="object-fit: cover; height: 60px">
                                    }
                                    <p class="mb-1">
                                        SKU: @rec.SKU<br />
                                        @rec.ProductName
                                    </p>
                                </td>
                                <td class="text-right">@(childList.Sum(s=>s.Qty))</td>
                                <td class="number text-right">@rec.StandardCost</td>
                                <td class="number text-right">@rec.Average</td>
                                <td class="number text-right">@rec.SalePrice</td>
                                <td>
                                    <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="EditV2('@rec.ProductKey')">
                                        <i class="far fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-danger btn-sm" onclick="DeleteV2('@rec.ProductKey')">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>

                            foreach (var child in childList)
                            {
                                <tr child="@child.ProductModel.ToUpper()" style="background-color:lemonchiffon">
                                    <td></td>
                                    <td class="d-flex">
                                        @if (child.PhotoPath == string.Empty)
                                        {
                                            <img src="~/themes/admin/img/noimg.png" alt="product" class="rounded mr-2" style="object-fit:cover; height:60px">
                                        }
                                        else
                                        {
                                            <img src="@Url.Content(child.PhotoPath)" alt="product" class="rounded mr-2" style="object-fit: cover; height: 60px">
                                        }
                                        <p class="mb-1">
                                            SKU: @child.SKU<br />
                                            @child.ProductName
                                        </p>
                                    </td>
                                    <td class="text-right">@child.Qty</td>
                                    <td class="number text-right">@child.StandardCost</td>
                                    <td class="number text-right">@child.Average</td>
                                    <td class="number text-right">@child.SalePrice</td>
                                    <td></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td></td>
                                <td>@rec.ProductName</td>
                                <td class="text-right">@rec.Qty</td>
                                <td class="number text-right">@rec.StandardCost</td>
                                <td class="number text-right">@rec.Average</td>
                                <td class="number text-right">@rec.SalePrice</td>
                                <td>
                                    <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="EditV2('@rec.ProductKey')">
                                        <i class="far fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-danger btn-sm" onclick="DeleteV2('@rec.ProductKey')">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-primary">
            <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
        </div>
    }
}