﻿@model JW.Pager
@{
    var op = ViewBag.Option;
    <div class="p-2">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (Model.CurrentPage == i)
            {
                <button type="button" class="btn btn-primary" style="width:40px" onclick="Get_List('@op',@i)">@i</button>
            }
            else
            {
                <button type="button" class="btn btn-default" style="width:40px" onclick="Get_List('@op',@i)">@i</button>
            }
        }
    </div>
}