﻿
@model List<Product_Model>
@{

    if (Model.Count > 0)
    {
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Sản phẩm</th>
                    <th>SKU</th>
                    <th class="text-right">Giá vốn</th>
                    <th class="text-right">Giá bán</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tblBody">
                @for (int i = 0; i < Model.Count; i++)
                {
                    #region [--Data--]
                    var zRec = Model[i];
                    string Key = zRec.ProductKey;
                    string No = (i + 1).ToString();
                    string Name = zRec.ProductName;
                    string Sku = zRec.SKU;
                    string Description = zRec.Description;
                    string Summarize = zRec.ProductSummarize;
                    string Photo = zRec.PhotoPath;
                    string NewCost = zRec.SalePrice.ToString();
                    string OldCost = zRec.StandardCost.ToString();
                    int CategoryKey = zRec.CategoryKey;
                    bool Publish = zRec.Publish;
                    #endregion
                    <tr id="@Key">
                        <td>@zRec.ProductName</td>
                        <td>@zRec.SKU</td>
                        <td class="text-right number" style="width:100px">@OldCost</td>
                        <td class="text-right number" style="width:100px">@NewCost</td>
                        <td>
                            <button type="button" class="btn btn-outline-primary btn-sm" onclick="Select('@Key')">
                                Chọn
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-primary">
            <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
        </div>
    }
}

@section scripts{
    <script>

    </script>
}