﻿
@{
    var _List = new List<Product_Category_Model>();
    if (ViewBag.List != null)
    {
        _List = ViewBag.List as List<Product_Category_Model>;
    }
}

@if (_List.Count > 0)
{
    <ul class="list-unstyled">
        @foreach (var rec in _List)
        {
            <li style="cursor:pointer" id="@rec.CategoryKey" class="p-2"><b>@rec.CategoryName</b></li>
        }
    </ul>
}

@section scripts{
    <script>
        $("#pnLeft").on("click", "li", function () {
            $tr = $(this);
            var id = $tr.attr("id");
            $("#pnLeft li").removeClass("active");
            $("#pnLeft li[id=" + id + "]").addClass("active");
            GetName(1);
            Load_Category(id);
        });
        $("#pnRight").on("click", "li", function () {
            $tr = $(this);
            var id = $tr.attr("id");
            $("#pnRight li").removeClass("active");
            $("#pnRight li[id=" + id + "]").addClass("active");

            GetName(2);
        });

        var key = $("#txt_ProductKey").val();
        if (key.length >= 36) {
            var catePath = $("#txt_CategoryPath").val();
            var temp = catePath.split("-");
            if (temp.length > 2) {
                var lvl1 = temp[1];
                var lvl2 = temp[2];

                $("#pnLeft li[id=" + lvl1 + "]").addClass("active");
                Load_Category(lvl1, lvl2);
            }
            else {
                var lvl1 = temp[1];
                $("#pnLeft li[id=" + lvl1 + "]").addClass("active");
            }
        }

        function Load_Category(Parent, select) {
            $.ajax({
                url: URL_Category,
                type: "GET",
                data: {
                    "Parent": Parent
                },
                beforeSend: function () {
                    $("#pnRight").empty();
                },
                success: function (r) {
                    $("#pnRight").append(r);

                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {
                    if (select !== undefined) {
                        $("#pnRight li[id=" + select + "]").addClass("active");
                    }
                }
            });
        }
        function GetName(Action) {
            if (Action == 1) {
                var id1 = "";
                var name1 = "";

                id1 = $("#pnLeft li.active").attr("id");
                name1 = $("#pnLeft li.active").text();

                var cateVal = "0 - " + id1;
                var cateName = name1;

                $("#txt_CategoryPath").val(cateVal);
                $("#txt_CategoryName").val(cateName);
                $("#txt_CateName").text(cateName);
                $("#txt_CategoryKey").val(id1);
            }

            if (Action == 2) {
                var id1 = "";
                var name1 = "";

                id1 = $("#pnLeft li.active").attr("id");
                name1 = $("#pnLeft li.active").text();

                var id2 = "";
                var name2 = "";

                id2 = $("#pnRight li.active").attr("id");
                name2 = $("#pnRight li.active").text();

                var cateVal = "0 - " + id1 + " - " + id2;
                var cateName = name1 + " > " + name2

                $("#txt_CategoryPath").val(cateVal);
                $("#txt_CategoryName").val(cateName);
                $("#txt_CateName").text(cateName);
                $("#txt_CategoryKey").val(id2);
            }

            console.log($("#txt_CategoryPath").val());
        }
    </script>
}
