﻿@{
    var _List = new List<QtyStock>();
    if (ViewBag.List != null)
    {
        _List = ViewBag.List as List<QtyStock>;
    }
    double _TotalBeginMoney = _List.Sum(s => s.BeginMoney);
    double _TotalInMoney = _List.Sum(s => s.InMoney);
    double _TotalOutMoney = _List.Sum(s => s.OutMoney);
    double _TotalEndMoney = _List.Sum(s => s.EndMoney);
}
@section styles{
    <style>
        .sl {
            background: #673ab747 !important;
        }

        .toggle {
            display: none;
        }

        .open {
            font-weight: bolder;
            font-style: italic;
        }
    </style>
}
<header class="page-header">
    <h2 class="text-primary">Tồn kho</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header ">
                <form class="row align-items-center" id="formSearchButton" action="">
                    <div class="col-6">
                        <input id="txt_Search" type="text" class="form-control" placeholder="Tìm nhanh" />
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt mr-2"></i>
                                Thời gian
                            </span>
                            <input type="text" class="form-control monthpicker text-center" placeholder="" name="DateView" value="@ViewBag.DateView" style="font-size:1rem">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-search-plus mr-2"></i>
                                Xem
                            </button>
                        </div>
                    </div>
                    <div class="col-2 text-right">
                        <a asp-controller="Inventory" asp-action="ExportToExcel" class="btn btn-success">
                            <i class="fas fa-file-excel"></i>
                            Xuất Excel
                        </a>
                    </div>
                </form>
            </div>
            <div class="card-body">
                @{
                    if (_List.Count > 0)
                    {
                        <table class="table table-bordered table-hover table-sm">
                            <thead>
                                <tr>
                                    <th colspan="2" rowspan="3" class="text-center align-middle">Sản phẩm</th>
                                    <th colspan="2" class="text-center">Đầu kỳ</th>
                                    <th colspan="4" class="text-center">Nhập - xuất trong kỳ</th>
                                    <th colspan="2" class="text-center">Cuối kỳ</th>
                                    <th rowspan="2" class="text-center align-middle">Ghi chú</th>
                                </tr>
                                <tr>
                                    <th style="width:70px" class="text-center">SL</th>
                                    <th style="width:70px" class="text-center">ST</th>
                                    <th style="width:70px" class="text-center">SL</th>
                                    <th style="width:70px" class="text-center">ST</th>
                                    <th style="width:70px" class="text-center">SL</th>
                                    <th style="width:70px" class="text-center">ST</th>
                                    <th style="width:70px" class="text-center">SL</th>
                                    <th style="width:70px" class="text-center">ST</th>
                                </tr>
                            </thead>
                            <tbody id="tblBody">
                                <tr class="font-weight-bold text-danger" style="background: #0088cc70">
                                    <td></td>
                                    <td>Tổng</td>
                                    <td colspan="2" class="number text-right">
                                        @_TotalBeginMoney
                                    </td>
                                    <td colspan="2" class="number text-right">
                                        @_TotalInMoney
                                    </td>
                                    <td colspan="2" class="number text-right">
                                        @_TotalOutMoney
                                    </td>
                                    <td colspan="2" class="number text-right">
                                        @_TotalEndMoney
                                    </td>
                                    <td></td>
                                </tr>
                                @{
                                    var Parent = _List.Where(s => s.ProductModel == "");
                                    foreach (var rec in Parent)
                                    {
                                        var childList = _List.Where(s => s.ProductModel.ToUpper() == rec.ProductKey.ToUpper());
                                        if (childList.Count() > 0)
                                        {
                                            float sumbeginQ = childList.Sum(s => s.BeginQty);
                                            double sumbeginM = childList.Sum(s => s.BeginMoney);
                                            float suminQ = childList.Sum(s => s.InQty);
                                            double suminM = childList.Sum(s => s.InMoney);
                                            float sumoutQ = childList.Sum(s => s.OutQty);
                                            double sumoutM = childList.Sum(s => s.OutMoney);
                                            float sumendQ = childList.Sum(s => s.EndQty);
                                            double sumendM = childList.Sum(s => s.EndMoney);

                                            <tr parent="@rec.ProductKey.ToUpper()" style="cursor:pointer" class="open">
                                                <td class="align-items-center align-middle"><i class='bx bxs-down-arrow'></i></td>
                                                <td class="d-flex">
                                                    @if (@rec.PhotoPath == string.Empty)
                                                    {
                                                        <img src="~/themes/admin/img/noimg.png" alt="product" class="rounded mr-2" style="object-fit:cover; height:60px">
                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Content(rec.PhotoPath)" alt="product" class="rounded mr-2" style="object-fit: cover; height: 60px">
                                                    }
                                                    <p class="mb-1">
                                                        SKU: @rec.SKU<br />
                                                        @rec.ProductName
                                                    </p>
                                                </td>
                                                <td class=" text-center align-middle sl">@sumbeginQ</td>
                                                <td class="number text-center align-middle">@sumbeginM</td>

                                                <td class=" text-center align-middle sl">@suminQ</td>
                                                <td class="number text-center align-middle">@suminM</td>
                                                <td class=" text-center align-middle sl">@sumoutQ</td>
                                                <td class="number text-center align-middle">@sumoutM</td>

                                                <td class="text-center align-middle sl">@sumendQ</td>
                                                <td class="number text-center align-middle">@sumendM</td>
                                                <td class="text-center align-middle">
                                                    @if (sumendQ < 5 && sumendQ > 0)
                                                    {
                                                        <h4 class="m-0">
                                                            <span class="badge badge-warning">Chú ý sắp hết hàng</span>
                                                        </h4>
                                                    }
                                                    @if (sumendQ <= 0)
                                                    {
                                                        <h4 class="m-0">
                                                            <span class="badge badge-danger">Hết hàng</span>
                                                        </h4>
                                                    }
                                                </td>
                                            </tr>
                                            foreach (var child in childList)
                                            {
                                                <tr child="@child.ProductModel.ToUpper()" style="background-color:lemonchiffon">
                                                    <td></td>
                                                    <td class="d-flex">
                                                        @if (child.PhotoPath == string.Empty)
                                                        {
                                                            <img src="~/themes/admin/img/noimg.png" alt="product" class="rounded mr-2" style="object-fit:cover; height:60px">
                                                        }
                                                        else
                                                        {
                                                            <img src="@Url.Content(child.PhotoPath)" alt="product" class="rounded mr-2" style="object-fit: cover; height: 60px">
                                                        }
                                                        <p class="mb-1">
                                                            SKU: @child.SKU<br />
                                                            @child.ProductName
                                                        </p>
                                                    </td>
                                                    <td class=" text-center align-middle sl">@child.BeginQty</td>
                                                    <td class="number text-center align-middle">@child.BeginMoney</td>

                                                    <td class=" text-center align-middle sl">@child.InQty</td>
                                                    <td class="number text-center align-middle">@child.InMoney</td>
                                                    <td class=" text-center align-middle sl">@child.OutQty</td>
                                                    <td class="number text-center align-middle">@child.OutMoney</td>

                                                    <td class="text-center align-middle sl">@child.EndQty.ToString()</td>
                                                    <td class="number text-center align-middle">@child.EndMoney</td>
                                                    <td class="text-center align-middle">
                                                        @if (child.EndQty.ToInt() < 5 && child.EndQty > 0)
                                                        {
                                                            <h4 class="m-0">
                                                                <span class="badge badge-warning">Chú ý sắp hết hàng</span>
                                                            </h4>
                                                        }
                                                        @if (child.EndQty.ToInt() == 0)
                                                        {
                                                            <h4 class="m-0">
                                                                <span class="badge badge-danger">Hết hàng</span>
                                                            </h4>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr parent="@rec.ProductKey.ToUpper()">
                                                <td></td>
                                                <td class="d-flex">
                                                    @if (@rec.PhotoPath == string.Empty)
                                                    {
                                                        <img src="~/themes/admin/img/noimg.png" alt="product" class="rounded mr-2" style="object-fit:cover; height:60px">
                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Content(rec.PhotoPath)" alt="product" class="rounded mr-2" style="object-fit: cover; height: 60px">
                                                    }
                                                    <p class="mb-1">
                                                        SKU: @rec.SKU<br />
                                                        @rec.ProductName
                                                    </p>
                                                </td>
                                                <td class=" text-center align-middle sl">@rec.BeginQty</td>
                                                <td class="number text-center align-middle">@rec.BeginMoney</td>

                                                <td class=" text-center align-middle sl">@rec.InQty</td>
                                                <td class="number text-center align-middle">@rec.InMoney</td>
                                                <td class=" text-center align-middle sl">@rec.OutQty</td>
                                                <td class="number text-center align-middle">@rec.OutMoney</td>

                                                <td class="text-center align-middle sl">@rec.EndQty.ToString()</td>
                                                <td class="number text-center align-middle">@rec.EndMoney</td>
                                                <td class="text-center align-middle">
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-primary">
                            <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                        </div>
                    }
                }
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('tr[parent]').on('click', function () {
                var id = $(this).attr("parent");
                $(this).closest("table")
                    .find("tr[child='" + id + "']")
                    .not(this)
                    .toggleClass('toggle');
                $(this).toggleClass("open");
                console.log(id);
            })
        })
        var startDate = new Date();
        var fechaFin = new Date();
        var FromEndDate = new Date();
        var ToEndDate = new Date();

        $("#txt_Search").keyup(function () {
            tablefilter();
        });
        $('.monthpicker').datepicker({
            autoclose: true,
            minViewMode: 1,
            format: 'mm/yyyy'
        }).on('changeDate', function (selected) {
            //startDate = new Date(selected.date.valueOf());
            //startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
            //$('.to').datepicker('setStartDate', startDate);
        });

        function tablefilter() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("txt_Search");
            filter = input.value.toUpperCase();
            table = document.getElementById("tblBody");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                var x = $("#txt_Search").val().toUpperCase();
                var regex = /^[a-zA-Z]+$/;
                if (!x.match(regex)) {
                    td = tr[i].getElementsByTagName("td")[1];
                }
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
}