﻿@{
    var _List = new List<QtyStock>();
    if (ViewBag.List != null)
    {
        _List = ViewBag.List as List<QtyStock>;
    }
    double _TotalBeginMoney = _List.Sum(s => s.BeginMoney);
    double _TotalInMoney = _List.Sum(s => s.InMoney);
    double _TotalOutMoney = _List.Sum(s => s.OutMoney);
    double _TotalEndMoney = _List.Sum(s => s.EndMoney);
}
@section styles{
    <style>
        .sl {
            background: #673ab747 !important;
        }
    </style>
}
<header class="page-header">
    <h2 class="text-primary">Tồn kho</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header ">
                <form class="row align-items-center" id="formSearchButton" action="">
                    <div class="col-6">
                        <input id="txt_Search" type="text" class="form-control" placeholder="Tìm nhanh" />
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt mr-2"></i>
                                Thời gian
                            </span>
                            <input type="text" class="form-control monthpicker text-center" placeholder="" name="DateView" value="@ViewBag.DateView" style="font-size:1rem">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-search-plus mr-2"></i>
                                Xem
                            </button>
                        </div>
                    </div>
                    <div class="col-2 text-right">
                        <a asp-controller="Inventory" asp-action="ExportToExcel" class="btn btn-success">
                            <i class="fas fa-file-excel"></i>
                            Xuất Excel
                        </a>
                    </div>
                </form>
            </div>
            <div class="card-body">
                @{
                    if (_List.Count > 0)
                    {
                        <table class="table table-bordered table-hover table-sm">
                            <thead>
                                <tr>
                                    <th rowspan="2" class="text-center align-middle">Stt</th>
                                    <th rowspan="2" class="text-center align-middle">Sản phẩm</th>
                                    <th colspan="2" class="text-center">Đầu kỳ</th>
                                    <th colspan="4" class="text-center">Nhập - xuất trong kỳ</th>
                                    <th colspan="2" class="text-center">Cuối kỳ</th>
                                    <th rowspan="2" class="text-center align-middle">Ghi chú</th>
                                </tr>
                                <tr>
                                    <th style="width:70px" class="text-center">SL</th>
                                    <th style="width:70px" class="text-center">ST</th>
                                    <th style="width:70px" class="text-center">SL</th>
                                    <th style="width:70px" class="text-center">ST</th>
                                    <th style="width:70px" class="text-center">SL</th>
                                    <th style="width:70px" class="text-center">ST</th>
                                    <th style="width:70px" class="text-center">SL</th>
                                    <th style="width:70px" class="text-center">ST</th>
                                </tr>
                            </thead>
                            <tbody id="tblBody">
                                <tr class="font-weight-bold text-danger" style="background: #0088cc70">
                                    <td colspan="2">Tổng</td>
                                    <td colspan="2" class="number text-right">
                                        @_TotalBeginMoney
                                    </td>
                                    <td colspan="2" class="number text-right">
                                        @_TotalInMoney
                                    </td>
                                    <td colspan="2" class="number text-right">
                                        @_TotalOutMoney
                                    </td>
                                    <td colspan="2" class="number text-right">
                                        @_TotalEndMoney
                                    </td>
                                    <td></td>
                                </tr>
                                @{
                                    int no = 1;
                                    foreach (var rec in _List)
                                    {

                                        string Photo = rec.PhotoPath;
                                        string Name = rec.ProductName;
                                        string Sku = rec.SKU;

                                        <tr>
                                            <td class="number text-center align-middle">@(no++)</td>
                                            <td class="d-flex">
                                                @if (Photo == string.Empty)
                                                {
                                                    <img src="~/themes/admin/img/noimg.png" alt="product" class="rounded mr-2" style="object-fit:cover; height:60px">
                                                }
                                                else
                                                {
                                                    <img src="@Url.Content(Photo)" alt="product" class="rounded mr-2" style="object-fit: cover; height: 60px">
                                                }
                                                <p class="mb-1">
                                                    SKU: @Sku<br />
                                                    @Name
                                                </p>
                                            </td>
                                            <td class=" text-center align-middle sl">@rec.BeginQty</td>
                                            <td class="number text-center align-middle">@rec.BeginMoney</td>

                                            <td class=" text-center align-middle sl">@rec.InQty</td>
                                            <td class="number text-center align-middle">@rec.InMoney</td>
                                            <td class=" text-center align-middle sl">@rec.OutQty</td>
                                            <td class="number text-center align-middle">@rec.OutMoney</td>

                                            <td class="text-center align-middle sl">@rec.EndQty.ToString()</td>
                                            <td class="number text-center align-middle">@rec.EndMoney</td>
                                            <td class="text-center align-middle">
                                                @if (rec.EndQty.ToInt() < 5 && rec.EndQty > 0)
                                                {
                                                    <h4 class="m-0">
                                                        <span class="badge badge-warning">Chú ý sắp hết hàng</span>
                                                    </h4>
                                                }
                                                @if (rec.EndQty.ToInt() == 0)
                                                {
                                                    <h4 class="m-0">
                                                        <span class="badge badge-danger">Hết hàng</span>
                                                    </h4>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-primary">
                            <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var startDate = new Date();
        var fechaFin = new Date();
        var FromEndDate = new Date();
        var ToEndDate = new Date();
        $("#txt_Search").keyup(function () {
            //split the current value of searchInput
            var data = this.value.split(" ");
            //create a jquery object of the rows
            var jo = $("#tblBody").find("tr");
            if (this.value == "") {
                jo.show();
                return;
            }
            //hide all the rows
            jo.hide();

            //Recusively filter the jquery object to get results.
            jo.filter(function (i, v) {
                var $t = $(this);
                for (var d = 0; d < data.length; ++d) {
                    if ($t.is(":contains('" + data[d] + "')")) {
                        return true;
                    }
                }
                return false;
            })
                //show the rows that match.
                .show();
        }).focus(function () {
            this.value = "";
            $(this).css({
                "color": "black"
            });
            $(this).unbind('focus');
        }).css({
            "color": "#C0C0C0"
        });
        $('.monthpicker').datepicker({
            autoclose: true,
            minViewMode: 1,
            format: 'mm/yyyy'
        }).on('changeDate', function (selected) {
            //startDate = new Date(selected.date.valueOf());
            //startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
            //$('.to').datepicker('setStartDate', startDate);
        });
    </script>
}