﻿<header class="page-header">
    <h2 class="text-primary">Nhập/ mua hàng</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="action-buttons-fixed">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6"><input id="txt_inputId" type="text" class="form-control" placeholder="Mã nhập hàng" required=""></div>
                                <div class="col-6"><input id="txt_inputDate" type="text" data-plugin-masked-input data-input-mask="99/99/9999" placeholder="__/__/____" class="form-control" required=""></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end">Nhà cung cấp</label>
                                <div class="col-lg-7 col-xl-9">
                                    <input type="text" class="form-control form-control-modern" name="customerBillingFirstName" value="" required="">
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end">Địa chỉ</label>
                                <div class="col-lg-7 col-xl-9">
                                    <input type="text" class="form-control form-control-modern" name="customerBillingFirstName" value="" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="">Các mặt hàng:</label>
                                <div id="export_order" class="collapse show" data-parent="#prepare_order">
                                    <div class="" id="table_item">
                                        <div class="alert alert-warning">
                                            <strong>Chưa có mặt hàng nào !</strong>.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="input-group">
                                <input type="text" class="form-control" id="txt_productName">
                                <button class="btn btn-success" type="button" onclick="getProduct()">
                                    <i class="fas fa-filter"></i>
                                    Lọc
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="nano" style="height:100vh">
                                <div class="nano-content" id="divProduct">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row action-buttons">
        <div class="col-12">
            <button id="btn_Confirm" type="button" class="btn btn-primary float-right" onclick="saveCart();">
                Nhập hàng
            </button>
            <a id="btn_Cancel" class="btn btn-outline-secondary modal-dismiss" onclick="Utils.BackWithRefresh();return false;">
                Hoàn tác & trở về
            </a>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var Url_Search_Product = "@Url.Action("Search_Product", "Inventory")";
        var Url_Add_Item = "@Url.Action("Add_Item", "Inventory")";
        var Url_Delete_Item = "@Url.Action("Del_Item", "Inventory")";
        var Url_Remove_Item = "@Url.Action("Remove_Item", "Inventory")";
        var Url_Save_Order = "@Url.Action("Save", "Inventory")";
        getProduct();
        $("#txt_inputDate").val(Utils.GetCurrentDate());
        //
        function getProduct() {
            var name = $("#txt_productName").val();
            $.ajax({
                url: Url_Search_Product,
                type: "GET",
                data: {
                    "name": name,
                },
                beforeSend: function () {
                    $("#divProduct").empty();
                },
                success: function (r) {
                    $("#divProduct").append(r);
                },
                error: function (err) {

                },
                complete: function () {

                }
            });
        }
        //
        function addCart(id) {
            $.post(Url_Add_Item, { "Id": id },
                function (r) {
                    $("#table_item").empty().append(r);
                    $(".number").each(function () {
                        $(this).number(true, 0, ',', '.');
                    });
                });
        }
        //
        function deleteCart(id) {
            $.post(Url_Delete_Item, { "Id": id },
                function (r) {
                    $("#table_item").empty().append(r);
                    $(".number").each(function () {
                        $(this).number(true, 0, ',', '.');
                    });
                });
        }
        //
        function removeCart(id) {
            $.post(Url_Remove_Item, { "Id": id },
                function (r) {
                    $("#table_item").empty().append(r);
                    $(".number").each(function () {
                        $(this).number(true, 0, ',', '.');
                    });
                });
        }
        //
        function saveCart() {
            if ($("#txt_inputDate").val() === "") {
                Utils.OpenNotify("Thông báo", "Bạn phải nhập ngày", "warning");
                return;
            }

            $.post(Url_Save_Order, { inputDate: $("#txt_inputDate").val() }, function (r) {
                if (!r.success) {
                    Utils.OpenNotify("Thông báo", r.message, "error");
                }
                else {
                    Utils.OpenNotify("Thông báo", "Đã lưu thành công !.", "success");
                    Utils.BackWithRefresh();
                }
            });
        }
    </script>
}