﻿@model List<Order_Item_Model>
@{
    Layout = null;
}
@if (Model.Count > 0)
{
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th colspan="2">Mặt hàng</th>
                    <th style="width:100px" class="text-right">Số lượng</th>
                    <th style="width:100px" class="text-right">Đơn giá</th>
                    <th style="width:100px" class="text-right">Tạm tính</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rec in Model)
                {
                    string temp = (rec.ItemPrice * rec.ItemQty).ToString();

                    <tr>
                        <td><img class="imgShopee" src="@Url.Content(rec.ItemPhoto)" /></td>
                        <td>@rec.ItemName</td>
                        <td class="number text-right">@rec.ItemQty</td>
                        <td class="number text-right">@rec.ItemPrice</td>
                        <td class="number text-right">@temp</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
