﻿@model List<Order_Model>
@{
    Layout = null;
    double _Total = 0;
    if (Model != null)
    {
        _Total = Model.Sum(s => s.TotalMoney);
    }
}
@{
    if (TempData["Error"] != null && TempData["Error"].ToString() != string.Empty)
    {
        <div class="alert alert-primary">
            <strong>@TempData["Error"]</strong>.
        </div>
    }
    else
    {
        if (Model != null)
        {
            <table class="table table-hover table-sm data table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tình trạng</th>
                        <th>Ngày</th>
                        <th>Mã</th>
                        <th>Khách hàng</th>
                        <th>Số điện thoại</th>
                        <th style="width:120px" class="text-right">Số tiền</th>
                        <th>#</th>
                    </tr>
                    <tr class="font-weight-bold text-danger" style="background: #0088cc70">
                        <td colspan="6">Tổng</td>
                        <td class="number text-right" id="txt_SumTotal">
                            @_Total
                        </td>
                        <td></td>
                    </tr>
                </thead>
                <tbody id="tbody">
                    @{
                        int No = 1;
                        foreach (var rec in Model)
                        {
                            #region [--# Get Data #--]
                            string ID = "";
                            @if (rec.OrderID != "")
                            {
                                ID = rec.OrderID;
                            }
                            else
                            {
                                ID = rec.S_OrderID;
                            }
                            string Ngay = rec.CreatedOn.ToString("dd/MM/yyyy");
                            string Id = rec.OrderKey;
                            string Sdt = rec.BuyerPhone;
                            string Name = rec.BuyerName;
                            string Money = rec.TotalMoney.ToString();
                            string TinhTrang = "";
                            switch (rec.Slug)
                            {
                                case 301:
                                case 401:
                                    TinhTrang = "Đang giao";
                                    break;
                                case 302:
                                case 402:
                                    TinhTrang = "Đã hoàn thành";
                                    break;
                                case 303:
                                case 403:
                                    TinhTrang = "Đã huỷ";
                                    break;
                                case 502:
                                    TinhTrang = "Xuất sản xuất";
                                    break;
                                case 201:
                                    TinhTrang = "Xuất hủy";
                                    break;
                                case 202:
                                    TinhTrang = "Xuất trả NCC";
                                    break;
                            }
                            #endregion

                            <tr id="@Id">
                                <td>@(No++)</td>
                                <td>@TinhTrang</td>
                                <td>@Ngay</td>
                                <td>@ID</td>
                                <td>@Name</td>
                                <td>@Sdt</td>
                                <td class="number text-right">@Money</td>
                                <td>
                                    <button type="button" class="btn btn-outline-info btn-sm" onclick="Open('@Id')">
                                        <i class="fas fa-eye"></i>
                                        Xem
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-primary">
                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
            </div>
        }
    }
}