﻿@model List<Order_Item_Model>
@section styles{
    <style>
        li.active {
            color: white;
            background: #0088CC;
        }

        .toggle {
            display: none;
        }

        .open {
            background-color: lemonchiffon;
            font-weight: bolder;
            font-style: italic;
        }
    </style>
}
<header class="page-header">
    <h2 class="text-primary">Mặt hàng đang giao</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header">

            </div>
            <div class="card-body">
                @if (Model.Count > 0)
                {
                    var List = Model
                        .GroupBy(o => o.ItemName)
                        .Select(i => new Order_Item_Model()
                        {
                            OrderKey = i.First().OrderKey,
                            ItemKey = i.First().ItemKey,
                            ItemName = i.First().ItemName,
                            ItemPhoto = i.First().ItemPhoto,
                            ItemQty = i.Sum(q => q.ItemQty),
                            Stock = i.Sum(q => q.Stock)
                        }).ToList();

                    <div class="d-flex flex-row">
                        <div class="p-2"></div>
                        <div class="p-2 flex-grow-1"></div>
                        <div class="p-2 font-weight-bold text-primary text-right" style="width:100px">Số lượng</div>
                        <div class="p-2 font-weight-bold text-primary text-right" style="width:100px">Còn lại</div>
                    </div>

                    foreach (var rec in List)
                    {
                        var img = Url.Content(rec.ItemPhoto);
                        var name = rec.ItemName;
                        var qty = rec.ItemQty;
                        var stock = rec.Stock;

                        <div class="d-flex flex-row hvr-reveal" style="cursor:pointer" onclick="Open('@rec.ItemKey')" id="@rec.ItemKey">
                            <div class="p-2"> <img class="imgShopee" src="@img" /></div>
                            <div class="p-2 flex-grow-1">@name</div>
                            <div class="p-2 font-weight-bold text-primary text-right number" style="width:100px;">@qty</div>
                            <div class="p-2 font-weight-bold text-primary text-right number" style="width:100px">@stock</div>
                        </div>
                    }
                }
                else
                {
                    <div class="alert alert-primary">
                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div id="modal" class="zoom-anim-dialog modal-block modal-block-lg modal-header-color modal-block-info mfp-hide">

</div>
@section scripts{
    <script>
        var URL_View = "@Url.Action("SaleWithItem", "Inventory")";
        var URL_Close = "@Url.Action("SaleClose", "Inventory")";
        var URL_Cancel = "@Url.Action("SaleCancel", "Inventory")";
        var URL_Detail = "@Url.Action("SaleDetail", "Inventory")";
    </script>
    <script>

        function Close(Id) {
            $.ajax({
                url: URL_Close,
                type: "POST",
                data: {
                    "Id": Id,
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.success) {
                        Utils.OpenNotify("Thông báo", "Đã hoàn tất đơn hàng !.", "success");
                        Utils.CloseMagnific("#modal");
                        Utils.RemoveRow($("#" + Id));
                    }
                    else {
                        Utils.OpenNotify("Thông báo", r.message, "error");
                    }
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        function Cancel(Id) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc hủy đơn hàng này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Cancel,
                                type: "POST",
                                data: {
                                    "Id": Id,
                                },
                                beforeSend: function () {
                                    Utils.LoadIn();
                                },
                                success: function (r) {
                                    if (r.success) {
                                        Utils.OpenNotify("Thông báo", "Đã huỷ đơn hàng !.", "success");
                                        Utils.CloseMagnific("#modal");
                                        Utils.RemoveRow($("#" + Id));
                                    }
                                    else {
                                        Utils.OpenNotify("Thông báo", r.message, "error");
                                    }
                                },
                                error: function (err) {

                                },
                                complete: function () {
                                    Utils.LoadOut();
                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function Open(Id) {
            $.ajax({
                url: URL_View,
                type: "GET",
                data: {
                    "Id": Id,
                },
                beforeSend: function () {
                    $("#modal").empty();
                    Utils.LoadIn();
                },
                success: function (r) {
                    $("#modal").append(r);
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.OpenMagnific("#modal");
                    Utils.LoadOut();
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                    $(".nano").nanoScroller();
                    $("#tbody").on("click", "tr[parent]", function (e) {
                        var id = $(this).attr("id");

                        var target = $(e.target);
                        if (!target.is("button")) {
                            var id = $(this).attr("parent");
                            $(this).closest("table")
                                .find("tr[child='" + id + "']")
                                .not(this)
                                .toggleClass("toggle");
                            $(this).toggleClass("open");
                            console.log(id);

                            if ($(this).hasClass("open")) {
                                Detail(id);
                            }
                        }
                    });
                }
            });
        }
        function Detail(Id) {
            $.ajax({
                url: URL_Detail,
                type: "GET",
                data: {
                    "Id": Id,
                },
                beforeSend: function () {
                    $("div[view='" + Id + "']").empty();
                },
                success: function (r) {
                    $("div[view='" + Id + "']").append(r);
                },
                error: function (err) {

                },
                complete: function () {
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                }
            });
        }
    </script>
}