﻿@model List<Order_Model>;
@section styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
        .ranges {
            float: right !important;
        }
    </style>
}
<header class="page-header">
    <h2 class="text-primary">Tổng hợp đơn hàng</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt mr-2"></i>
                                Thời gian
                            </span>
                            <input type="text" name="daterange" value="" id="txt_daterange" class="form-control" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <input type="text" id="txt_search" name="search" value="" class="form-control" placeholder="Tên khách hàng" />
                            <button type="button" class="btn btn-default" id="btn_Search">
                                <i class="bx bx-search"></i>
                                Tìm
                            </button>
                        </div>
                    </div>
                    <div class="col-4 text-right">
                        <a href="#" class="btn btn-info" onclick="Check()">
                            <i class="fas fa-file-excel"></i>
                            Kiểm tra
                        </a>
                        <a asp-controller="Inventory" asp-action="SaleToExcel" class="btn btn-success">
                            <i class="fas fa-file-excel"></i>
                            Xuất Excel
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body" id="divData">
                @await Html.PartialAsync("~/Views/Inventory/Sale/_Table_Sale.cshtml", Model)
            </div>
        </div>
    </div>
</div>
<input id="txt_StartDate" type="hidden" value="@ViewBag.Start" name="FromDate" />
<input id="txt_EndDate" type="hidden" value="@ViewBag.End" name="ToDate" />
<input id="txt_Status" type="hidden" value="@ViewBag.Status" name="Status" />
<div id="modal" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

</div>
@section scripts{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        var URL_View = "@Url.Action("SaleView", "Inventory")";
        var URL_Close = "@Url.Action("SaleClose", "Inventory")";
        var URL_Cancel = "@Url.Action("SaleCancel", "Inventory")";
        var URL_Check = "@Url.Action("CheckStatus", "Inventory")";
        var URL_Search = "@Url.Action("SaleOrderSearch", "Inventory")";
    </script>
    <script>
        $(function () {
            var start = $("#txt_StartDate").val();  //
            var end = $("#txt_EndDate").val();     //

            if (start === "") {
                start = Utils.GetFirstDayMonth();
            }
            if (end === "") {
                end = Utils.GetLastDayMonth();
            }

            $("#txt_daterange").daterangepicker({
                locale: {
                    format: "DD/MM/YYYY",
                    "customRangeLabel": "Tuỳ chọn",
                    "applyLabel": "Áp dụng",
                    "cancelLabel": "Huỷ",
                },
                ranges: {
                    "Hôm nay": [moment(), moment()],
                    "Hôm qua": [moment().subtract(1, "days"), moment().subtract(1, "days")],
                    "7 ngày qua": [moment().subtract(6, "days"), moment()],
                    "30 ngày qua": [moment().subtract(29, "days"), moment()],
                    "Tháng này": [moment().startOf("month"), moment().endOf("month")],
                    "Tháng trước": [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")]
                },
                "alwaysShowCalendars": true,
                "startDate": start,
                "endDate": end
            }, function (start, end, label) {
                console.log("New date range selected: " + start.format("DD/MM/YYYY") + " to " + end.format("DD/MM/YYYY") + " (predefined range: " + label + ")");
                $("#txt_StartDate").val(start.format("DD/MM/YYYY"));
                $("#txt_EndDate").val(end.format("DD/MM/YYYY"));
                SearchData();
            });

            $("#btn_Search").click(function () {
                SearchData();
            });

            makeSelectFromColumn("cbo_Source", 2);
            $("#cbo_Source").change(function () {
                quickSearchColumn(this, 1);
            });
        });

        function Open(Id) {
            $.ajax({
                url: URL_View,
                type: "GET",
                data: {
                    "Id": Id,
                },
                beforeSend: function () {
                    $("#modal").empty();
                    Utils.LoadIn();
                },
                success: function (r) {
                    $("#modal").append(r);
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.OpenMagnific("#modal");
                    Utils.LoadOut();
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                }
            });
        }
        function Close(Id) {
            $.ajax({
                url: URL_Close,
                type: "POST",
                data: {
                    "Id": Id,
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.success) {
                        Utils.OpenNotify("Thông báo", "Đã hoàn tất đơn hàng !.", "success");
                        Utils.CloseMagnific("#modal");
                        Utils.RemoveRow($("#" + Id));
                    }
                    else {
                        Utils.OpenNotify("Thông báo", r.message, "error");
                    }
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        function Cancel(Id) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc hủy đơn hàng này ?. Nếu đồng ý đơn hàng sẽ hủy đồng thời phần mềm tạo phiếu nhập kho tự động!",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Cancel,
                                type: "POST",
                                data: {
                                    "Id": Id,
                                },
                                beforeSend: function () {
                                    Utils.LoadIn();
                                },
                                success: function (r) {
                                    if (r.success) {
                                        Utils.OpenNotify("Thông báo", "Đã huỷ đơn hàng !.", "success");
                                        Utils.CloseMagnific("#modal");
                                        Utils.RemoveRow($("#" + Id));
                                    }
                                    else {
                                        Utils.OpenNotify("Thông báo", r.message, "error");
                                    }
                                },
                                error: function (err) {

                                },
                                complete: function () {
                                    Utils.LoadOut();
                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function Check() {
            $.ajax({
                url: URL_Check,
                type: "GET",
                data: {

                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    Utils.OpenNotify("Thông báo", r.data, "error");
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }

        function SearchData() {
            var name = $("#txt_search").val();
            var from = $("#txt_StartDate").val();
            var to = $("#txt_EndDate").val();
            var status = $("#txt_Status").val();
            $.ajax({
                url: URL_Search,
                type: "GET",
                data: {
                    "FromDate": from,
                    "ToDate": to,
                    "Status": status,
                    "Name": name
                },
                beforeSend: function () {
                    $("#divData").empty();
                    Utils.LoadIn();
                },
                success: function (r) {
                    $("#divData").append(r);
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.LoadOut();
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });

                    makeSelectFromColumn("cbo_Source", 2);
                    $("#cbo_Source").change(function () {
                        quickSearchColumn(this, 1);
                    });
                }
            });
        }

        function makeSelectFromColumn(id, n) {
            var arr = [];
            $("#tbody td:nth-child(" + n + ")").each(function () {
                if ($.inArray($(this).text(), arr) == -1)
                    arr.push($(this).text());
            });
            arr.sort();
            //Create your select
            $("#" + id).empty();
            $("<option value=''>Tất cả</option>").appendTo("#" + id);
            for (var i = 0; i < arr.length; i++) {
                $("<option value=" + arr[i] + ">" + arr[i] + "</option>").appendTo("#" + id);
            }
        }
        function quickSearchColumn(elm, no) {
            var filter = $(elm).val().toUpperCase();
            var rows = $("#tbody").find("tr");
            var total = 0;
            for (var i = 0; i < rows.length; i++) {
                var col = rows[i].cells[no].textContent.toUpperCase();
                if (col.indexOf(filter) > -1) {
                    rows[i].style.display = "";
                    total += parseFloat(rows[i].cells[7].textContent.replace(/,/g, ''));
                } else {
                    rows[i].style.display = "none";
                }
            }

            var txt = $.number(total, 0, '.', ',');
            $("#txt_SumTotal").html(txt);
        }

    </script>
}