﻿@model List<Order_Model>
@{
    Layout = null;

    if (Model != null)
    {
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Các đơn hàng có mặt hàng @ViewBag.Name</h2>
            </div>
            <div class="card-body p-0" style="height:350px">
                <div class="nano">
                    <div class="nano-content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nguồn</th>
                                    <th>Tình trạng</th>
                                    <th>Ngày</th>
                                    <th>Mã</th>
                                    <th>Khách hàng</th>
                                    <th>Số điện thoại</th>
                                    <th style="width:120px" class="text-right">Số tiền</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                                @{
                                    int No = 1;
                                    foreach (var rec in Model)
                                    {
                                        #region [--# Get Data #--]
                                        string ID = "";
                                        @if (rec.OrderID != "")
                                        {
                                            ID = rec.OrderID;
                                        }
                                        else
                                        {
                                            ID = rec.S_OrderID;
                                        }
                                        string Nguon = "";
                                        switch (rec.Slug)
                                        {
                                            case 1:
                                                Nguon = "Shopee";
                                                break;
                                            case 9:
                                                Nguon = "Sản xuất";
                                                break;
                                            case 11:
                                                Nguon = "Offline";
                                                break;
                                        }

                                        string Ngay = rec.CreatedOn.ToString("dd/MM/yyyy");
                                        string Id = rec.OrderKey;
                                        string Sdt = rec.BuyerPhone;
                                        string Name = rec.BuyerName;
                                        string Money = rec.TotalMoney.ToString();
                                        string TinhTrang = "";
                                        switch (rec.OrderStatus)
                                        {
                                            case 1:
                                                TinhTrang = "Đang giao";
                                                break;
                                            case 2:
                                                TinhTrang = "Đã hoàn thành";
                                                break;
                                            case 9:
                                                TinhTrang = "Đã huỷ";
                                                break;
                                        }
                                        #endregion

                                        <tr id="@Id" parent="@Id" style="cursor:pointer">
                                            <td>@(No++)</td>
                                            <td>@Nguon</td>
                                            <td>@TinhTrang</td>
                                            <td>@Ngay</td>
                                            <td>@ID</td>
                                            <td>@Name</td>
                                            <td>@Sdt</td>
                                            <td class="number text-right">@Money</td>
                                        </tr>
                                        <tr child="@Id" class="toggle" style="background-color:lemonchiffon">
                                            <td colspan="8">
                                                <div view="@Id"></div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type='button' class='btn btn-outline-secondary modal-dismiss'>Đóng</button>
            </div>
        </div>
    }
}