﻿@using System.Data;
@{
    var _List = new List<Customer_Model>();
    if (ViewBag.Customer != null)
    {
        _List = ViewBag.Customer as List<Customer_Model>;
    }
}
<header class="page-header">
    <h2 class="text-primary">Khách hàng</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header">
                <form class="row align-items-center" id="formSearchButton" action="@Url.Action("List_Customer","Customer")">
                    <div class="col-6">
                        <input id="txt_Search" type="text" class="form-control" asp-controller="Customer" asp-action="Search_Customer" placeholder="Tìm nhanh" name="filter" />
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary modal-with-zoom-anim ws-normal" onclick="Utils.LoadIn()">
                            <i class="fas fa-search"></i>
                            Tìm
                        </button>
                    </div>
                    <div class="col-2 text-right">
                        <button type="button" class="btn btn-primary modal-with-zoom-anim ws-normal" id="btn_Add" onclick="Edit('')">
                            <i class="fas fa-plus"></i>
                            Thêm mới
                        </button>
                    </div>
                    <div class="col-2 text-left">
                        <a asp-controller="Customer" asp-action="Export_Customer" class="btn btn-success">
                            <i class="fas fa-file-excel"></i>
                            Xuất Excel
                        </a>
                    </div>
                </form>
            </div>
            <div class="card-body">
                @{
                    if (TempData["Error"] != null && TempData["Error"].ToString() != string.Empty)
                    {
                        <div class="alert alert-primary">
                            <strong>@TempData["Error"]</strong>.
                        </div>
                    }
                    else
                    {
                        if (_List.Count > 0)
                        {
                            <table class="table table-hover table-sm data">
                                <thead>
                                    <tr>
                                        <th>Stt</th>
                                        <th>Họ tên</th>
                                        <th>Điện thoại</th>
                                        <th>Địa chỉ</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                @{
                                    int No = 1;
                                    foreach (var rec in _List)
                                    {
                                        <tr id="@rec.CustomerKey">
                                            <td>@(No++)</td>
                                            <td>@rec.FullName</td>
                                            <td>@rec.Phone</td>
                                            <td>@rec.Address</td>
                                            <td>
                                                <a class="btn btn-outline-primary " role="button" onclick="Edit('@rec.CustomerKey')">Điều chỉnh</a>
                                                <a class="btn btn-outline-danger " role="button" onclick="Delete('@rec.CustomerKey')">Xóa</a>
                                            </td>
                                        </tr>

                                    }
                                }
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-primary">
                                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
<div id="modal" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

</div>

@section scripts{
    <script>
        var Url_Edit_Customer = "@Url.Action("Edit_Customer", "Customer")";
        var Url_Save_Customer = "@Url.Action("Save_Customer", "Customer")";
        var Url_Delete_Customer = "@Url.Action("Delete_Customer", "Customer")";
        var Url_CheckCustomerPhone = "@Url.Action("CheckCustomerPhone", "Customer")";

        $(document).ready(function () {

        });
        

        function Edit(CustomerKey) {
            $.ajax({
                url: Url_Edit_Customer,
                type: "POST",
                data: {
                    CustomerKey: CustomerKey
                },
                beforeSend: function () {
                    $("#modal").empty();
                    Utils.LoadIn();
                },
                success: function (r) {
                    $("#modal").append(r);
                },
                error: function (err) {

                },
                complete: function () {
                    $(".datepicker").datepicker({
                        todayHighlight: true,
                        autoclose: true,
                        format: "dd/mm/yyyy"
                    });
                    $("#txt_Phone").blur(function () {
                        CheckPhone();
                    });
                    Utils.OpenMagnific("#modal");
                    Utils.LoadOut();
                }
            });
        }
        function Save() {
            $.ajax({
                url: Url_Save_Customer,
                type: "POST",
                data: {
                    CustomerKey: $("#txt_CustomerKey").val(),
                    Referrer: $("#cb_Referrer").val(),
                    FullName: $("#txt_FullName").val(),
                    Birthday: $("#txt_Birthday").val(),
                    Phone: $("#txt_Phone").val(),
                    Email: $("#txt_Email").val(),
                    Address: $("#txt_Address").val(),
                    Note: $("#txt_Note").val(),
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.message, "Thông báo", "error");
                    }

                },
                error: function (err) {
                    Utils.OpenNotify(r.message, "Thông báo", "error");
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        function Delete(CustomerKey) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: Url_Delete_Customer,
                                type: "POST",
                                data: {
                                    "CustomerKey": CustomerKey
                                },
                                beforeSend: function () {
                                },
                                success: function (r) {
                                    if (r.success) {
                                        var elm = $("#" + CustomerKey);
                                        Utils.RemoveRow(elm);
                                    }
                                    else {
                                        Utils.OpenNotify(r.message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {
                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function CheckPhone() {
            var key = $("#txt_CustomerKey").val();
            var phone = $("#txt_Phone").val();
            var old = $("input[old]").val();

            if (phone.length <= 0) {
                Utils.OpenNotify("Thông báo", "Bạn phải nhập số điện thoại !.", "error");
                return false;
            }
            //chinh sua
            if (key.length >= 36) {
                if (phone.toLowerCase() !== old.toLowerCase()) {
                    $.ajax({
                        url: Url_CheckCustomerPhone,
                        type: "GET",
                        data: { Phone: phone },
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        beforeSend: function () {
                        },
                        success: function (r) {
                            if (r.success) {
                                Utils.OpenNotify("Thông báo", "Số điện thoại này đã được sử dụng vui lòng nhập số khác !.", "warning");
                                //$("#txt_Phone").focus();
                                $("#txt_Phone")
                                    .removeClass("valid-input")
                                    .addClass("error-input");
                                return false;
                            }
                            else {
                                $("#txt_Phone")
                                    .removeClass("error-input")
                                    .addClass("valid-input");
                                return true;
                            }
                        },
                        error: function (err) {
                            Utils.OpenNotify("Thông báo", err.responseText, "error");
                        },
                        complete: function () {
                        }
                    });
                }
            }
            else {
                $.ajax({
                    url: Url_CheckCustomerPhone,
                    type: "GET",
                    data: { Phone: phone },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function () {
                    },
                    success: function (r) {
                        if (r.success) {
                            Utils.OpenNotify("Thông báo", "Số điện thoại này đã được sử dụng vui lòng nhập số khác !.", "warning");
                           //$("#txt_Phone").focus();
                            $("#txt_Phone")
                                .removeClass("valid-input")
                                .addClass("error-input");
                            return false;
                        }
                        else {
                            $("#txt_Phone")
                                .removeClass("error-input")
                                .addClass("valid-input");
                            return true;
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify("Thông báo", err.responseText, "error");
                    },
                    complete: function () {
                    }
                });
            }
        }
    </script>
}