﻿<header class="page-header">
    <h2 class="text-primary">Thống kê</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class=row>
    <div class="col-md-12">

        <form id="formSearchButton" action="">
            <table class="table table-sm data mb-0" id="tblAction">
                <tr>
                    <td class="text-left" style="vertical-align:middle">
                        <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Prev">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                    </td>
                    <td class="text-center" style="vertical-align:middle">
                        <h4 class="font-weight-semibold text-primary">
                            <i class="far fa-calendar-alt"></i>
                            @ViewBag.DateView
                        </h4>
                    </td>
                    <td class="text-right" style="vertical-align:middle">
                        <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Next">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </td>
                </tr>
            </table>
            <input id="txt_DateView" type="hidden" name="DateView" value="@ViewBag.DateView" />
        </form>

    </div>
</div>
<div class="row">
    <div class="col-3">
        <section class="card card-featured-left card-featured-primary mb-3">
            <div class="card-body">
                <div class="widget-summary">
                    <div class="widget-summary-col widget-summary-col-icon">
                        <div class="summary-icon bg-primary">
                            <i class="fas fa-life-ring"></i>
                        </div>
                    </div>
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Doanh số</h4>
                            <div class="info">
                                <strong class="amount">@ViewBag.Panel1</strong>
                                <span class="text-primary"></span>
                            </div>
                        </div>
                        <div class="summary-footer">
                            <a class="text-muted text-uppercase" href="#">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-3">
        <section class="card card-featured-left card-featured-success mb-3">
            <div class="card-body">
                <div class="widget-summary">
                    <div class="widget-summary-col widget-summary-col-icon">
                        <div class="summary-icon bg-success">
                            <i class="fas fa-life-ring"></i>
                        </div>
                    </div>
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Nhập hàng</h4>
                            <div class="info">
                                <strong class="amount">@ViewBag.Panel2</strong>
                                <span class="text-primary"></span>
                            </div>
                        </div>
                        <div class="summary-footer">
                            <a class="text-muted text-uppercase" href="#">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-3">
        <section class="card card-featured-left card-featured-danger mb-3">
            <div class="card-body">
                <div class="widget-summary">
                    <div class="widget-summary-col widget-summary-col-icon">
                        <div class="summary-icon bg-danger">
                            <i class="fas fa-life-ring"></i>
                        </div>
                    </div>
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Hao hụt</h4>
                            <div class="info">
                                <strong class="amount">@ViewBag.Panel3</strong>
                                <span class="text-primary"></span>
                            </div>
                        </div>
                        <div class="summary-footer">
                            <a class="text-muted text-uppercase" href="#">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-3">
        <section class="card card-featured-left card-featured-info mb-3">
            <div class="card-body">
                <div class="widget-summary">
                    <div class="widget-summary-col widget-summary-col-icon">
                        <div class="summary-icon bg-info">
                            <i class="fas fa-life-ring"></i>
                        </div>
                    </div>
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Doanh thu</h4>
                            <div class="info">
                                <strong class="amount">@ViewBag.Panel4</strong>
                                <span class="text-primary"></span>
                            </div>
                        </div>
                        <div class="summary-footer">
                            <a class="text-muted text-uppercase" href="#">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var startDate = new Date();
            var fechaFin = new Date();
            var FromEndDate = new Date();
            var ToEndDate = new Date();

            $('.monthpicker').datepicker({
                autoclose: true,
                minViewMode: 1,
                format: 'mm/yyyy'
            }).on('changeDate', function (selected) {
                //startDate = new Date(selected.date.valueOf());
                //startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
                //$('.to').datepicker('setStartDate', startDate);
            });


        });
    </script>
}
