﻿@model List<Order_Model>
@{
    Layout = null;
    if (TempData["Error"] != null && TempData["Error"].ToString() != string.Empty)
    {
        <div class="alert alert-primary">
            <strong>@TempData["Error"]</strong>.
        </div>
    }
    else
    {
        if (Model != null && Model.Count > 0)
        {
            <table class="table table-hover table-sm data">
                <thead>
                    <tr>
                        <th>Stt</th>
                        <th>Ngày lập</th>
                        <th>Mã số</th>
                        <th>Người lập</th>
                        <th>Lý do</th>
                        <th>#</th>
                    </tr>
                </thead>
                @{
                    int No = 1;
                    foreach (var rec in Model)
                    {
                        <tr id='@rec.OrderKey'>
                            <td>@(No++)</td>
                            <td>@rec.CreatedOn.ToString("dd/MM/yyyy")</td>
                            <td>@rec.OrderID</td>
                            <td>@rec.CreatedName</td>
                            <td>@rec.Description</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Thao tác
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           asp-controller="Inventory"
                                           asp-action="Edit_Trash"
                                           asp-route-OrderKey="@rec.OrderKey" onclick="Utils.LoadIn();">
                                            <i class="far fa-edit"></i>
                                            Điều chỉnh
                                        </a>
                                        <a href="#" class="dropdown-item" onclick="Delete('@rec.OrderKey')">
                                            <i class="fas fa-trash"></i>
                                            Xoá
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </table>
        }
        else
        {
            <div class="alert alert-primary">
                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
            </div>
        }
    }
}