﻿@model Order_Model

<header class="page-header">
    <h2 class="text-primary">@ViewBag.Title</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="action-buttons-fixed">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <input id="txt_OrderId" type="text" class="form-control" placeholder="Mã số" required="" value="@Model.OrderID">
                                </div>
                                <div class="col-6">
                                    <input id="txt_OrderDate" type="text" data-plugin-masked-input data-input-mask="99/99/9999" placeholder="__/__/____" class="form-control" required="" value="@Model.OrderDate.ToString("dd/MM/yyyy")">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group-sm mb-2 row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end">Ghi chú</label>
                                <div class="col-lg-7 col-xl-9">
                                    <textarea id="txt_description" type="text" class="form-control " name="description">@Model.Description</textarea>
                                </div>
                            </div>
                            <div class="form-group-sm mb-2">
                                <label class="">Các mặt hàng:</label>
                                <div id="export_order" class="collapse show" data-parent="#prepare_order">
                                    <div class="" id="table_item">
                                        @await Html.PartialAsync("~/Views/Inventory/Trash/_Table_Item.cshtml", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="input-group">
                                <input type="text" class="form-control" id="txt_productName">
                                <button class="btn btn-success" type="button" onclick="getProduct()">
                                    <i class="fas fa-filter"></i>
                                    Lọc
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="nano" style="height:100vh">
                                <div class="nano-content" id="divProduct">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row action-buttons d-flex justify-content-end">
        <div class="col-12">
            <button type="button" class="btn btn-primary" onclick="saveCart('@Model.OrderKey')">
                Cập nhật
            </button>
            <button type="button" class="btn btn-danger" onclick="deleteCart('@Model.OrderKey')">
                Xoá
            </button>
            <button type="button" class="btn btn-outline-secondary" onclick="Utils.BackWithRefresh(); return false;">
                Trở về
            </button>
        </div>
    </div>
</div>
<input id="txt_orderkey" type="hidden" value="@Model.OrderKey" />
<input id="txt_slug" type="hidden" asp-for="Slug" />

<div id="modal" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
</div>
@section scripts{
    <script>
    var Url_Search_Product = "@Url.Action("Search_Product", "Inventory")";
    var Url_Save_Trash = "@Url.Action("Save_Trash", "Inventory")";
    var Url_Delete_Trash = "@Url.Action("Delete_Trash", "Inventory")";
    var Url_Add_Item = "@Url.Action("Add_Item_Trash", "Inventory")";
    var Url_Delete_Item = "@Url.Action("Del_Item_Trash", "Inventory")";
    var Url_Remove_Item = "@Url.Action("Remove_Item_Trash", "Inventory")";
    var Url_Qty_Item = "@Url.Action("Qty_Item_Trash", "Inventory")";
    </script>
    <script>
        getProduct();
        //
        function getProduct() {
            var name = $("#txt_productName").val();
            $.ajax({
                url: Url_Search_Product,
                type: "GET",
                data: {
                    "name": name,
                },
                beforeSend: function () {
                    $("#divProduct").empty();
                },
                success: function (r) {
                    $("#divProduct").append(r);
                },
                error: function (err) {

                },
                complete: function () {

                }
            });
        }
        //
        function addCart(id) {
            $.post(Url_Add_Item, {
                "Id": id,
                "OrderKey": $("#txt_orderkey").val()
            },
                function (r) {
                    $("#table_item").empty().append(r);
                });
        }
        //
        function deleteCart(id) {
            $.post(Url_Delete_Item, { "Id": id, "OrderKey": $("#txt_orderkey").val() },
                function (r) {
                    $("#table_item").empty().append(r);
                }).done(function () {
                    $("input.number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                });;
        }
        //
        function removeCart(id) {
            $.post(Url_Remove_Item, { "Id": id, "OrderKey": $("#txt_orderkey").val() },
                function (r) {
                    $("#table_item").empty().append(r);
                }).done(function () {
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                });
        }
        //
        function qtyCart(id) {
            var qty = $("input[key='" + id + "'][name='txt_Qty']").val();
            var pric = $("input[key='" + id + "'][name='txt_ItemPrice']").val();

            $.ajax({
                url: Url_Qty_Item,
                type: "POST",
                data: {
                    "Id": id,
                    "qty": qty,
                    "pric": pric,
                    "OrderKey": $("#txt_orderkey").val()
                },
                beforeSend: function () {

                },
                success: function (r) {
                    $("#table_item").empty().append(r);
                },
                error: function (err) {

                },
                complete: function () {
                    $("input.number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                }
            });
        }
        function saveCart() {
            if ($("#txt_OrderDate").val() === "") {
                Utils.OpenNotify("Thông báo", "Bạn phải nhập ngày", "warning");
                return;
            }
            if ($("#txt_description").val() === "") {
                Utils.OpenNotify("Thông báo", "Bạn phải cập nhật lý do huỷ", "warning");
                return;
            }

            $.ajax({
                url: Url_Save_Trash,
                type: "POST",
                data: {
                    Slug: $("#txt_slug").val(),
                    OrderKey: $("#txt_orderkey").val(),
                    OrderID: $("#txt_OrderId").val(),
                    OrderDate: $("#txt_OrderDate").val(),
                    Description: $("#txt_description").val(),
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (!r.success) {
                        Utils.OpenNotify("Thông báo", r.message, "error");
                    }
                    else {
                        Utils.OpenNotify("Thông báo", "Đã lưu thành công !.", "success");
                        Utils.BackWithRefresh();
                    }
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        //xoá tất cả
        function deleteOrder(OrderKey) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: Url_Delete_Order,
                                type: "POST",
                                data: {
                                    "OrderKey": OrderKey
                                },
                                beforeSend: function () {
                                },
                                success: function (r) {
                                    if (r.success) {
                                        Utils.BackWithRefresh();
                                    }
                                    else {
                                        Utils.OpenNotify(r.message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {
                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
    </script>
}