﻿@section styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
        .ranges {
            float: right !important;
        }
    </style>
}

<header class="page-header">
    <h2 class="text-primary">@ViewBag.Title</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header">
                <div class="row">
                    <div class="col-4">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt mr-2"></i>
                                Thời gian
                            </span>
                            <input type="text" name="daterange" value="" id="txt_daterange" class="form-control" />
                        </div>
                    </div>
                    <div class="col-6">

                    </div>
                    <div class="col-2 text-right">
                        <a class="btn btn-default" id="btn_New" onclick="New()">
                            <i class="bx bx-plug"></i>
                            Thêm mới
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body" id="divData">
                @await Html.PartialAsync("~/Views/Inventory/Trash/_Table_Order.cshtml", ViewBag.List as List<Order_Model>)
            </div>
        </div>
    </div>
</div>
<input id="txt_NewKey" type="hidden" value="@(Guid.NewGuid().ToString())" name="NewKey" />
<input id="txt_StartDate" type="hidden" value="@ViewBag.Start" name="FromDate" />
<input id="txt_EndDate" type="hidden" value="@ViewBag.End" name="ToDate" />
<div id="modal" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

</div>
@section scripts{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        var Url_New = "@Url.Action("Edit_Trash", "Inventory", new { OrderKey = "key"})";
    </script>
    <script>

        $(function () {
            var start = $("#txt_StartDate").val();  //
            var end = $("#txt_EndDate").val();     //

            if (start === "") {
                start = Utils.GetFirstDayMonth();
            }
            if (end === "") {
                end = Utils.GetLastDayMonth();
            }

            $("#txt_daterange").daterangepicker({
                locale: {
                    format: "DD/MM/YYYY",
                    "customRangeLabel": "Tuỳ chọn",
                    "applyLabel": "Áp dụng",
                    "cancelLabel": "Huỷ",
                },
                ranges: {
                    "Hôm nay": [moment(), moment()],
                    "Hôm qua": [moment().subtract(1, "days"), moment().subtract(1, "days")],
                    "7 ngày qua": [moment().subtract(6, "days"), moment()],
                    "30 ngày qua": [moment().subtract(29, "days"), moment()],
                    "Tháng này": [moment().startOf("month"), moment().endOf("month")],
                    "Tháng trước": [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")]
                },
                "alwaysShowCalendars": true,
                "startDate": start,
                "endDate": end
            }, function (start, end, label) {
                console.log("New date range selected: " + start.format("DD/MM/YYYY") + " to " + end.format("DD/MM/YYYY") + " (predefined range: " + label + ")");
                $("#txt_StartDate").val(start.format("DD/MM/YYYY"));
                $("#txt_EndDate").val(end.format("DD/MM/YYYY"));
            });

            $("#btn_Search").click(function () {
                SearchData();
            });
        });

        function New() {
            Utils.LoadIn();
            var key = $("#txt_NewKey").val();
            Url_New = Url_New.replace("key", key);
            window.location = Url_New;
        }
    </script>
}