﻿@using Newtonsoft.Json
@model Product_Model
@section Styles{
    <style>
        .input-group-text {
            font-size: 13px;
            width: 100px;
        }

        .hide {
            display: none;
        }

        .picView {
            position: relative;
        }

            .picView:hover > .hide {
                display: block;
            }

        .xoa {
            position: absolute;
            bottom: 0;
            border-radius: 0;
            background-color: #d9514d66 !important;
        }

        li.active {
            color: white;
            background: #0088CC;
        }

        .error-input {
            border: 2px solid #d2322d;
        }

        .valid-input {
            border: 2px solid #4caf50;
        }
    </style>
}
<header class="page-header">
    <h2>Chi tiết sản phẩm</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
@if (TempData["Error"] != null &&
        TempData["Error"].ToString() != string.Empty)
{
    string Message = ViewBag.Message;
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>@TempData["Error"]</strong>
    </div>
}
<form class="ecommerce-form action-buttons-fixed" method="post" enctype="multipart/form-data" asp-controller="Product" asp-action="Save" id="frm">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group mb-1 pt-1">
                <label for="" class="control-label">Nhóm ngành hàng: <b id="txt_CateName">@Model.CategoryName</b></label>
                <div class="row">
                    <div class="col-6">
                        <div class="card-body nano" style="height:150px">
                            <div class="nano-content" id="pnLeft">
                                @await Component.InvokeAsync("SelectCategory")
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-body nano" style="height:150px">
                            <div class="nano-content" id="pnRight">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-1 pt-1">
                <label for="txt_SKU" class="control-label">
                    SKU
                    <span class="required">*</span>
                </label>
                <input type="text" class="form-control" id="txt_SKU" name="SKU" value="@Model.SKU" placeholder="" required="" old="@Model.SKU" />
            </div>
            <div class="form-group mb-1 pt-1">
                <label for="txt_ProductName" class="control-label">
                    Tên mặt hàng
                    <span class="required">*</span>
                </label>
                <input type="text" class="form-control" id="txt_ProductName" name="ProductName" value="@Model.ProductName" placeholder="" required="" />
            </div>
            <div class="form-group mb-1 pt-1">
                <label for="txt_Summarize" class="control-label">Mô tả ngắn</label>
                <div class="">
                    <textarea id="txt_Summarize" rows="3" class="form-control" name="Description">@Model.Description</textarea>
                </div>
            </div>
            <div class="form-group mb-1 pt-1">
                <label for="txt_ProductContent" class="control-label">Mô tả chi tiết</label>
                <textarea id="txt_ProductContent" rows="4" cols="10" name="Summarize" style="min-height:500px;">@Model.ProductSummarize</textarea>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body bg-white">
                    <div class="form-group mb-1 pt-1">
                        <label for="" class="control-label">Ẩn/ hiện trang chủ</label>
                        @if (Model.FrontPage)
                        {
                            <div class="switch switch-sm switch-success float-right">
                                <input type="checkbox" name="switch" data-plugin-ios-switch checked="checked" value="true" id="chkFrontPage" />
                            </div>
                        }
                        else
                        {
                            <div class="switch switch-sm switch-success float-right">
                                <input type="checkbox" name="switch" data-plugin-ios-switch value="false" id="chkFrontPage" />
                            </div>
                        }
                    </div>
                    <div class="form-group mb-1 pt-1">
                        <label for="" class="control-label">Ẩn/ hiện sản phẩm</label>
                        @if (Model.Publish)
                        {
                            <div class="switch switch-sm switch-success float-right">
                                <input type="checkbox" name="switch" data-plugin-ios-switch checked="checked" value="true" id="chkPublish" />
                            </div>
                        }
                        else
                        {
                            <div class="switch switch-sm switch-success float-right">
                                <input type="checkbox" name="switch" data-plugin-ios-switch value="false" id="chkPublish" />
                            </div>
                        }
                    </div>
                    <div class="form-group mb-1 pt-1 input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text" style="font-size:13px">
                                Cân nặng
                            </span>
                        </span>
                        <input type="text" class="form-control form-control-modern number" name="SalePrice" value="@Model.Weight" required="" min="0" />
                        <span class="input-group-append">
                            <span class="input-group-text">
                                (gr)
                            </span>
                        </span>
                    </div>
                    <div class="form-group mb-1 pt-1 input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text" style="font-size:13px">
                                Giá vốn
                            </span>
                        </span>
                        <input type="text" class="form-control form-control-modern number" name="StandardCost" value="@Model.StandardCost" required="" min="0" />
                        <span class="input-group-append">
                            <span class="input-group-text">
                                VNĐ
                            </span>
                        </span>
                    </div>
                    <div class="form-group mb-1 pt-1 input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text" style="font-size:13px">
                                Giá bán
                            </span>
                        </span>
                        <input type="text" class="form-control form-control-modern number" name="SalePrice" value="@Model.SalePrice" required="" min="0" />
                        <span class="input-group-append">
                            <span class="input-group-text">
                                VNĐ
                            </span>
                        </span>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="text-center">
                            <label for="" class="control-label">Ảnh đại diện chính</label>
                        </div>
                        <div>
                            @if (Model.PhotoPath.Length <= 0)
                            {
                                <img id="imgpreview" src="~/themes/admin/img/noimg.png" alt="your image" style="max-height: 200px; max-width:100%" />
                            }
                            else
                            {
                                <img id="imgpreview" src="@Url.Content(Model.PhotoPath)" alt="your image" style="max-height: 200px; max-width:100%" />
                            }
                        </div>
                        <input type="file" id="ProductPicture" class="form-control d-none" name="Picture" accept="image/*;capture=camera" />
                    </div>
                    <hr />
                    <label for="" class="control-label">Các hình ảnh khác</label>
                    <input type="file" id="ProductPicture" class="form-control" name="ListPicture" accept="image/*;capture=camera" multiple="" />
                    @if (Model.PhotoList.Length > 0)
                    {
                        <div class="popup-gallery">
                            @{
                                var ListPicture = JsonConvert.DeserializeObject<List<Product_Photo_Model>>(Model.PhotoList);
                                foreach (var rec in ListPicture)
                                {
                                    <div class="float-left mb-1 pt-1 mr-1 picView" id="@rec.PhotoKey">
                                        <a class="" href="@rec.PhotoPath" title="Project 1">
                                            <div class="img-fluid">
                                                <img src="@Url.Content(rec.PhotoPath)" width="105" height="105">
                                            </div>
                                        </a>
                                        <button type="button" class="btn-block btn btn-danger btn-sm hide xoa" onclick="Delete_Photo('@rec.PhotoKey')">
                                            <i class="bx bx-trash"></i>
                                            Xóa
                                        </button>
                                    </div>
                                }
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row action-buttons">
        <div class="col-12 col-md-auto">
            <button type="submit" id="btn_Save" class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1" data-loading-text="Loading...">
                <i class="bx bx-save text-4 mr-2"></i>
                Cập nhật
            </button>
        </div>
        <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
            <button type="button" class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3"
                    onclick="GoBack()">
                Quay về
            </button>
        </div>
        <div class="col-12 col-md-auto ml-md-auto mt-3 mt-md-0">
            <button type="button" id="btn_Delete" class="delete-button btn btn-danger btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1" onclick="Delete('@Model.ProductKey')">
                <i class="bx bx-trash text-4 mr-2"></i>
                Xóa
            </button>
        </div>
    </div>
    <input id="txt_CategoryPath" type="hidden" value="@Model.CategoryPath" name="CategoryPath" />
    <input id="txt_CategoryName" type="hidden" value="@Model.CategoryName" name="CategoryName" />
    <input id="txt_CategoryKey" type="hidden" value="@Model.CategoryKey" name="CategoryKey" />
    <input id="txt_ProductKey" type="hidden" value="@Model.ProductKey" name="ProductKey" />
    <input id="txt_FrontPage" type="hidden" value="@Model.FrontPage" name="FrontPage" />
    <input id="txt_Publish" type="hidden" value="@Model.Publish" name="Publish" />
</form>

@section Scripts{
    <script>
        var URL_Delete_Photo = "@Url.Action("Delete_Photo", "Product")";
        var URL_Delete = "@Url.Action("Delete", "Product")";
        var URL_List = "@Url.Action("List", "Product", new { CategoryKey = "_key_" })";
        var URL_Category = "@Url.Action("SelectCategory", "Product")";
        var URL_CheckID = "@Url.Action("CheckID", "Product")";
    </script>
    <script src="https://cdn.tiny.cloud/1/folv8giv7uv90noxx9w7c88d6er7ryqrfdx8ut7vi96h233p/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/js-app/Product.js"></script>
}