﻿@using Newtonsoft.Json
@model Product_Model
@section styles{
    <style>
        .input-group-text {
            font-size: 13px;
            width: 100px;
        }

        #tbl input {
            border-radius: 0px !important;
        }

        #tbl td {
            padding: 0px !important;
        }

        .hide {
            display: none;
        }

        .picView {
            position: relative;
        }

            .picView:hover > .hide {
                display: block;
            }

        .xoa {
            position: absolute;
            bottom: 0;
            border-radius: 0;
            background-color: #d9514d66 !important;
        }

        li.active {
            color: white;
            background: #0088CC;
        }

        .error-input {
            border: 2px solid #d2322d;
        }

        .valid-input {
            border: 2px solid #4caf50;
        }
    </style>
}

<header class="page-header">
    <h2>Chi tiết sản phẩm</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
@if (TempData["Error"] != null && TempData["Error"].ToString() != string.Empty)
{
    string Message = ViewBag.Message;
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>@TempData["Error"]</strong>
    </div>
}

<div class="ecommerce-form action-buttons-fixed">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group mb-1 pt-1">
                <label for="" class="control-label">Nhóm ngành hàng: <b id="txt_CateName">@Model.CategoryName</b><a href="#divCat"><i class='bx bxs-pencil'></i></a></label>
                <div class="row" id="divCat">
                    <div class="col-6">
                        <div class="card-body nano" style="height:150px">
                            <div class="nano-content" id="pnLeft">
                                @await Component.InvokeAsync("SelectCategory")
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-body nano" style="height:150px">
                            <div class="nano-content" id="pnRight">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-1 pt-1">
                <label for="txt_ProductName" class="control-label">
                    Tên mặt hàng
                    <span class="required">*</span>
                </label>
                <input type="text" class="form-control" id="txt_ProductName" name="ProductName" value="@Model.ProductName" placeholder="" required="" />
            </div>
            <div class="form-group mb-1 pt-1">
                <label for="txt_SKU" class="control-label">
                    SKU
                    <span class="required">*</span>
                </label>
                <input type="text" class="form-control" id="txt_SKU" name="SKU" value="@Model.SKU" placeholder="" required="" old="@Model.SKU" />
            </div>
            <div class="form-group mb-1 pt-1">
                <label for="txt_SKU" class="control-label">
                    Phân loại
                    <span class="required">*</span>
                </label>
                <table class="table table-sm table-bordered bg-white">
                    <thead>
                        <tr>
                            <th class="text-center">Loại</th>
                            <th class="text-center" style="width:150px">SKU</th>
                            <th class="text-center" style="width:150px">Giá vốn</th>
                            <th class="text-center" style="width:150px">Giá bán</th>
                            <th>Hình</th>
                            <th style="width:1%">
                                <button type="button" class="btn btn-sm btn-default" id="btn_Addrow">
                                    <i class='bx bx-plus-circle'></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tbl">
                        @{
                            if (Model.ListModel.Count > 0)
                            {
                                int No = 0;
                                foreach (var rec in Model.ListModel)
                                {
                                    No++;

                                    <tr>
                                        <td>
                                            <input type="hidden" class="form-control" name="ProductKey" value="@rec.ProductKey" placeholder="" />
                                            <input type="text" class="form-control" name="ProductName" value="@rec.ProductName" placeholder="" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control text-center" name="SKU" value="@rec.SKU" placeholder="" old="@rec.SKU" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control number text-right" name="StandardCost" value="@rec.StandardCost" placeholder="" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control number text-right" name="SalePrice" value="@rec.SalePrice" placeholder="" />
                                        </td>
                                        <td style="vertical-align:middle">
                                            <input id="file_@No" type="file" name="ImgId"/>
                                            <input id="file_old_@No" type="hidden" name="imgItemOld" value="@rec.PhotoPath" />
                                        </td>
                                        <td class="text-center" style="vertical-align:middle">
                                            <button type="button" class="btn btn-danger">
                                                <i class='bx bxs-trash'></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group mb-1 pt-1">
                <label for="txt_Summarize" class="control-label">Mô tả</label>
                <div class="">
                    <textarea id="txt_Description" rows="10" class="form-control" name="Description">@Model.Description</textarea>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body bg-white">
                    <div class="form-group mb-1 pt-1 input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text" style="font-size:13px">
                                Cân nặng
                            </span>
                        </span>
                        <input type="text" class="form-control form-control-modern number" name="Weight" value="@Model.Weight" required="" min="0" id="txt_Weight" />
                        <span class="input-group-append">
                            <span class="input-group-text">
                                (gr)
                            </span>
                        </span>
                    </div>
                    <div class="form-group mb-1 pt-1 input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text" style="font-size:13px">
                                Giá vốn
                            </span>
                        </span>
                        <input type="text" class="form-control form-control-modern number" name="StandardCost" value="@Model.StandardCost" required="" min="0" id="txt_StandardCost" />
                        <span class="input-group-append">
                            <span class="input-group-text">
                                VNĐ
                            </span>
                        </span>
                    </div>
                    <div class="form-group mb-1 pt-1 input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text" style="font-size:13px">
                                Giá bán
                            </span>
                        </span>
                        <input type="text" class="form-control form-control-modern number" name="SalePrice" value="@Model.SalePrice" required="" min="0" id="txt_SalePrice" />
                        <span class="input-group-append">
                            <span class="input-group-text">
                                VNĐ
                            </span>
                        </span>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="text-center">
                            <label for="" class="control-label">Ảnh đại diện chính</label>
                        </div>
                        <div class="text-center">
                            @if (Model.PhotoPath.Length <= 0)
                            {
                                <img id="imgpreview" src="~/themes/admin/img/noimg.png" alt="your image" style="max-height: 200px; max-width:100%" />
                            }
                            else
                            {
                                <img id="imgpreview" src="@Url.Content(Model.PhotoPath)" alt="your image" style="max-height: 200px; max-width:100%" />
                            }
                        </div>
                        <input type="file" id="ImgMain" class="form-control d-none" accept="image/*;capture=camera" name="ImgId" />
                    </div>
                    <hr />
                    <label for="" class="control-label">Thêm hình ảnh khác</label>
                    <input type="file" id="ImgList" class="form-control" accept="image/*;capture=camera" multiple="" name="ImgIdList" />
                    <div id="dvPreview">
                    </div>
                    @if (Model.PhotoList.Length > 0)
                    {
                        <div class="popup-gallery">
                            @{
                                var ListPicture = JsonConvert.DeserializeObject<List<Product_Photo_Model>>(Model.PhotoList);
                                foreach (var rec in ListPicture)
                                {
                                    <div class="float-left mb-1 pt-1 mr-1 picView" id="@rec.PhotoKey">
                                        <a class="" href="@rec.PhotoPath" title="Project 1">
                                            <div class="img-fluid">
                                                <img src="@Url.Content(rec.PhotoPath)" width="105" height="105">
                                            </div>
                                        </a>
                                        <button type="button" class="btn-block btn btn-danger btn-sm hide xoa" onclick="Delete_Photo('@rec.PhotoKey')">
                                            <i class="bx bx-trash"></i>
                                            Xóa
                                        </button>
                                    </div>
                                }
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row action-buttons">
        <div class="col-12 col-md-auto">
            <button type="button" id="btn_Save" class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1" data-loading-text="Loading...">
                <i class="bx bx-save text-4 mr-2"></i>
                Cập nhật
            </button>
        </div>
        <div class="col-12 col-md-auto">
            <button type="button" id="btn_SyncShopee" class="submit-button btn btn-warning btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1" data-loading-text="Loading...">
                <i class="bx bx-save text-4 mr-2"></i>
                Tải lên Shopee
            </button>
        </div>
        <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
            <button type="button" id="btn_Back" class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">
                Quay về
            </button>
        </div>
        <div class="col-12 col-md-auto ml-md-auto mt-3 mt-md-0">
            <button type="button" id="btn_Delete" class="delete-button btn btn-danger btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1" onclick="Delete('@Model.ProductKey')">
                <i class="bx bx-trash text-4 mr-2"></i>
                Xóa
            </button>
        </div>
    </div>
    <input id="txt_CategoryPath" type="hidden" value="@Model.CategoryPath" name="CategoryPath" />
    <input id="txt_CategoryName" type="hidden" value="@Model.CategoryName" name="CategoryName" />
    <input id="txt_CategoryKey" type="hidden" value="@Model.CategoryKey" name="CategoryKey" />
    <input id="txt_imgMain" type="hidden" />
    <input id="txt_imgList" type="hidden" />

    @if (ViewBag.Status == "New")
    {
        <input id="txt_ProductKey" type="hidden" value="@Guid.NewGuid()" name="ProductKey" />
    }
    else
    {
        <input id="txt_ProductKey" type="hidden" value="@Model.ProductKey" name="ProductKey" />
    }
</div>
<div id="modal" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card">
        <div class="card-body">
            <input id="txt_Search" type="text" class="form-control" placeholder="Tìm nhanh" />
            @await Component.InvokeAsync("SelectProduct")
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-outline-primary btn-sm modal-dismiss">
                Đóng
            </button>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var Url_Delete_Photo = "@Url.Action("Delete_Photo", "Product")";
        var Url_Upload_ImgMain = "@Url.Action("Upload_ImgMain", "Product")";
        var Url_Upload_ImgList = "@Url.Action("Upload_ImgList", "Product")";
        var Url_Upload_ImgChild = "@Url.Action("Upload_ImgChild", "Product")";
        var Url_Category = "@Url.Action("SelectCategory", "Product")";
        var Url_GetProduct = "@Url.Action("GetProduct", "Product")";
        var Url_Delete = "@Url.Action("DeleteV2", "Product")";
        var Url_CheckID = "@Url.Action("CheckID", "Product")";
        var Url_Save = "@Url.Action("SaveV2", "Product")";
        var Url_List = "@Url.Action("ListV2", "Product", new { CategoryKey = "cate" })";
    </script>
    <script>
       
        var trIndex = 0;
        var isAuto = false;
        $(function () {
            $("#ImgList").change(function () {
                if (typeof (FileReader) != "undefined") {
                    var dvPreview = $("#dvPreview");
                    dvPreview.html("");
                    var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                    $($(this)[0].files).each(function () {
                        var file = $(this);
                        if (regex.test(file[0].name.toLowerCase())) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                var img = $("<img />");
                                img.attr("style", "height:100px;width: 100px");
                                img.attr("src", e.target.result);
                                dvPreview.append(img);
                            }
                            reader.readAsDataURL(file[0]);
                        } else {
                            alert(file[0].name + " is not a valid image file.");
                            dvPreview.html("");
                            return false;
                        }
                    });
                } else {
                    alert("This browser does not support HTML5 FileReader.");
                }
            });

            $("#pnLeft").on("click", "li", function () {
                $tr = $(this);
                var id = $tr.attr("id");
                $("#pnLeft li").removeClass("active");
                $("#pnLeft li[id=" + id + "]").addClass("active");
                GetName(1);
                Load_Category(id);
            });

            $("#pnRight").on("click", "li", function () {
                $tr = $(this);
                var id = $tr.attr("id");
                $("#pnRight li").removeClass("active");
                $("#pnRight li[id=" + id + "]").addClass("active");

                GetName(2);
            });

            $("html").addClass("sidebar-left-collapsed");

            $("#imgpreview").click(function () {
                $("#ImgMain").trigger("click");
            });

            $("#ImgMain").change(function () {
                Utils.PreviewImg(this, "#imgpreview");
                var str = $("#imgpreview").attr("src");
                UploadImgMain();
            });

            $("#ImgList").change(function () {
                UploadImgList();
            });

            //add row
            $("#btn_Addrow").click(function () {
                fle_cnt = $("#tbl tr").length + 1;

                console.log(fle_cnt);

                var tr = '<tr><td>';
                tr += '<input type="hidden" class="form-control" name="ProductKey" value="" placeholder="" />';
                tr += '<input type="text" class="form-control" name="ProductName" value="" placeholder="" />';
                tr += '</td>';
                tr += '<td><input type="text" class="form-control text-center" name="SKU" value="" placeholder="" old="" /></td>';
                tr += '<td><input type="text" class="form-control number text-right" name="StandardCost" value="" placeholder="" /></td>';
                tr += '<td><input type="text" class="form-control number text-right" name="SalePrice" value="" placeholder="" /></td>';
                tr += '<td style="vertical-align:middle"><input type="file" name="ImgId" id="file_' + fle_cnt + '"><input id="file_old_' + fle_cnt + '" type="hidden" name="imgItemOld" /></td>';
                tr += '<td class="text-center" style="vertical-align:middle"><button type="button" class="btn btn-danger"><i class="bx bxs-trash"></i></button></td></tr>';

                var body = $("#tbl");
                body.append(tr);

                $(".number").each(function () {
                    $(this).number(true, 0, '.', ',');
                });
            });

            //sự kiện bảng
            
            $("#tbl").on("keyup", "input", function () {
                //tìm sản phẩm
                var val = $(this).val();
                if (val === "//") {
                    isAuto = true;
                    Utils.OpenMagnific("#modal");
                }

                trIndex = $(this).closest("tr").index();
            });
            $("#tbl").on("blur", "input", function () {
                //kiểm tra sku
                var sku = $(this).val();
                var old = $(this).attr("old");
                if (sku.toUpperCase() != old.toUpperCase() && !isAuto) {
                    CheckItemSku(this, sku);
                }
            });
            $("#tbl").on("click", "button", function () {
                console.log("xoá dòng");
                //remove row
                var tr = $(this).closest("tr");
                var key = tr.find("td").eq(0).find("input[name='ProductKey']").val();
                if (key.length >= 36) {
                    $.confirm({
                        type: "red",
                        typeAnimated: true,
                        title: "Cảnh báo !.",
                        content: "Bạn có chắc xóa thông tin này ?.",
                        buttons: {
                            confirm: {
                                text: "Đồng ý",
                                btnClass: "btn-red",
                                action: function () {
                                    Delete_Child(key, tr);
                                }
                            },
                            cancel: {
                                text: "Hủy",
                            }
                        }
                    });
                }
                else {
                    Utils.RemoveRow(tr);
                }
            });
            $("#tbl").on('change', 'input[name="ImgId"]', function () {
                UploadImgChild(this);
            });

            $("#btn_Save").click(function () {
                Save();
            });

            $("#txt_Search").keyup(function () {
                FilterTable();
            });

            var key = $("#txt_ProductKey").val();
            if (key.length >= 36) {
                var catePath = $("#txt_CategoryPath").val();
                var temp = catePath.split("-");
                if (temp.length > 2) {
                    var lvl1 = temp[1];
                    var lvl2 = temp[2];

                    $("#pnLeft li[id=" + lvl1 + "]").addClass("active");
                    Load_Category(lvl1, lvl2);
                }
                else {
                    var lvl1 = temp[1];
                    $("#pnLeft li[id=" + lvl1 + "]").addClass("active");
                }
            }

            $("#txt_SKU").blur(function () {
                var sku = $(this).val();
                var old = $(this).attr("old");
                if (sku.toUpperCase() != old.toUpperCase()) {
                    CheckMainSku($(this).val());
                }
            });

            $("#btn_Back").click(function () {
                Utils.LoadIn();
                var cate = $("#txt_CategoryKey").val();
                var url = Url_List.replace("cate", cate);
                window.location = url;
            });
        });
        //xoá các phân loại sản phẩm con
        function Delete_Child(ProductKey, elm) {
            $.ajax({
                url: Url_Delete,
                type: "POST",
                data: {
                    "ProductKey": ProductKey
                },
                beforeSend: function () {
                },
                success: function (r) {
                    if (r.success) {
                        Utils.RemoveRow(elm);
                    }
                    else {
                        Utils.OpenNotify(r.message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {
                }
            });
        }
        //tìm nhanh sản phẩm
        function FilterTable() {
            var filter = $("#txt_Search").val().toUpperCase();
            var rows = $("#tblBody").find("tr");

            for (var i = 0; i < rows.length; i++) {
                var firstCol = rows[i].cells[0].textContent.toUpperCase();
                var secondCol = rows[i].cells[1].textContent.toUpperCase();
                if (firstCol.indexOf(filter) > -1 || secondCol.indexOf(filter) > -1) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }
        //chọn sản phẩm chạy về bảng phân loại
        function Select(id) {
            $.ajax({
                url: Url_GetProduct,
                type: "POST",
                data: {
                    "Key": id,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    var data = r.data;

                    console.log(data);

                    var row = $("#tbl").find('tr').eq(trIndex);
                    row.find("td").eq(0).find("input[name='ProductKey']").val(data.productKey);
                    row.find("td").eq(0).find("input[name='ProductName']").val(data.productName);
                    row.find("td").eq(1).find("input[name='SKU']").val(data.sku);
                    row.find("td").eq(2).find("input[name='StandardCost']").val(data.standardCost);
                    row.find("td").eq(3).find("input[name='SalePrice']").val(data.salePrice);
                    Utils.CloseMagnific("#modal");
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {

                }
            });
        }
        //upload hình chính
        function UploadImgMain() {
            var inputfile = $("#ImgMain").get(0);
            var file = inputfile.files[0];//lấy 1 file
            var fileType = file["type"];
            var validImageTypes = ["image/gif", "image/jpeg", "image/png"];
            if ($.inArray(fileType, validImageTypes) < 0) {
                Utils.OpenNotify("Định dạng hình ảnh không đúng.", "Bạn phải chọn tập tin là hình ảnh !", "warning");
                return;
            }

            var formdata = new FormData();
            formdata.append("file", file);

            $.ajax({
                url: Url_Upload_ImgMain,
                type: "POST",
                data: formdata,
                processData: false,
                contentType: false,
                beforeSend: function () {

                },
                success: function (r) {
                    if (!r.success) {
                        Utils.OpenNotify("Thông báo", "Bạn phải chọn hình ảnh để tải lên !", "warning");
                    }
                    else {
                        $("#txt_imgMain").val(r.data);
                    }
                },
                error: function (err) {

                },
                complete: function () {

                }
            });
        }
        //upload nhiều hình phụ
        function UploadImgList() {
            var inputfile = $("#ImgList").get(0);
            var files = inputfile.files;//lấy nhiều hình
            var formdata = new FormData();
            var checkfile = true;
            for (var i = 0; i < files.length; i++) {
                var fileType = files[i]["type"];
                var validImageTypes = ["image/gif", "image/jpeg", "image/png"];
                if ($.inArray(fileType, validImageTypes) < 0) {
                    checkfile = false;
                    return;
                }
                else {
                    formdata.append(files[i].name, files[i]);
                }
            }
            if (checkfile) {

                $.ajax({
                    url: Url_Upload_ImgList,
                    type: "POST",
                    data: formdata,
                    processData: false,
                    contentType: false,
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (!r.success) {
                            Utils.OpenNotify("Thông báo", "Bạn phải chọn hình ảnh để tải lên !", "warning");
                        }
                        else {
                            $("#txt_imgList").val(r.data);
                        }
                    },
                    error: function (err) {

                    },
                    complete: function () {

                    }
                });
            }
            else {
                Utils.OpenNotify("Định dạng hình ảnh không đúng.", "Bạn phải chọn tập tin là hình ảnh !", "warning");
            }
        }
        //upload hình sản phẩm con
        function UploadImgChild(input) {
            var inputfile = $(input).get(0);
            var file = inputfile.files[0];//lấy 1 file

            var fileType = file["type"];
            var validImageTypes = ["image/gif", "image/jpeg", "image/png"];
            if ($.inArray(fileType, validImageTypes) < 0) {
                Utils.OpenNotify("Định dạng hình ảnh không đúng.", "Bạn phải chọn tập tin là hình ảnh !", "warning");
                return;
            }

            var formdata = new FormData();
            formdata.append("file", file);

            $.ajax({
                url: Url_Upload_ImgChild,
                type: "POST",
                data: formdata,
                processData: false,
                contentType: false,
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        var $tr = $(input).closest("tr");
                        var $hid = $tr.find("td").eq(4).find("input[name='imgItemOld']");
                        $hid.val(r.data);
                    }
                },
                error: function (err) {

                },
                complete: function () {

                }
            });
        }
        //save sản phẩm
        function Save() {
            var list = [];
            //list model của product
            $("#tbl tr").each(function () {
                var row = $(this);
                var item = {};
                item.ProductKey = row.find("td").eq(0).find("input[name='ProductKey']").val();
                item.ProductName = row.find("td").eq(0).find("input[name='ProductName']").val();
                item.SKU = row.find("td").eq(1).find("input[name='SKU']").val();
                item.StandardCost = row.find("td").eq(2).find("input[name='StandardCost']").val();
                item.SalePrice = row.find("td").eq(3).find("input[name='SalePrice']").val();
                var $infile = row.find("td").eq(4).find("input[name='imgItemOld']");
                item.PhotoPath = $infile.val();
                list.push(item);
            });

            //product
            var product = {
                ProductKey: $("#txt_ProductKey").val(),
                CategoryKey: $("#txt_CategoryKey").val(),
                CategoryName: $("#txt_CategoryName").val(),
                CategoryPath: $("#txt_CategoryPath").val(),
                SKU: $("#txt_SKU").val(),
                Description: $("#txt_Description").val(),
                ProductName: $("#txt_ProductName").val(),
                Weight: $("#txt_Weight").val(),
                SalePrice: $("#txt_SalePrice").val(),
                StandardCost: $("#txt_StandardCost").val(),
                PhotoPath: $("#txt_imgMain").val(),
                PhotoList: $("#txt_imgList").val(),
                ListModel: list,
            };

            console.log(JSON.stringify(product));

            $.ajax({
                url: Url_Save,
                type: "POST",
                data: { "product": JSON.stringify(product) },
                dataType: "json",
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.success) {
                        var cate = $("#txt_CategoryKey").val();
                        var url = Url_List.replace("cate", cate);
                        window.location = url;
                    }
                    else {
                        Utils.OpenNotify("Thông báo", r.message, "warning");
                    }
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        //kiem tra SKU chính
        function CheckMainSku(val) {
            $.ajax({
                url: Url_CheckID,
                type: "GET",
                data: { SKU: val },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                },
                success: function (r) {
                    if (r.success) {
                        Utils.OpenNotify("Thông báo", "Mã này đã được sử dụng vui lòng nhập mã khác !.", "warning");
                        $("#txt_SKU").focus();
                        $("#txt_SKU")
                            .removeClass("valid-input")
                            .addClass("error-input");
                        return false;
                    }
                    else {
                        $("#txt_SKU")
                            .removeClass("error-input")
                            .addClass("valid-input");
                        return true;
                    }
                },
                error: function (err) {
                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                },
                complete: function () {
                }
            });
        }
        //kiem tra SKU phân loại
        function CheckItemSku(elm, val) {
            $.ajax({
                url: Url_CheckID,
                type: "GET",
                data: { SKU: val },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                },
                success: function (r) {
                    if (r.success) {
                        Utils.OpenNotify("Thông báo", "Mã này đã được sử dụng vui lòng nhập mã khác !.", "warning");

                        $(elm).focus();
                        $(elm)
                            .removeClass("valid-input")
                            .addClass("error-input");

                        return false;
                    }
                    else {
                        $(elm)
                            .removeClass("error-input")
                            .addClass("valid-input");

                        return true;
                    }
                },
                error: function (err) {
                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                },
                complete: function () {
                }
            });
        }
        //
        function Load_Category(Parent, select) {
            $.ajax({
                url: Url_Category,
                type: "GET",
                data: {
                    "Parent": Parent
                },
                beforeSend: function () {
                    $("#pnRight").empty();
                },
                success: function (r) {
                    $("#pnRight").append(r);

                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {
                    if (select !== undefined) {
                        $("#pnRight li[id=" + select + "]").addClass("active");
                    }
                }
            });
        }
        function GetName(Action) {
            if (Action == 1) {
                var id1 = "";
                var name1 = "";

                id1 = $("#pnLeft li.active").attr("id");
                name1 = $("#pnLeft li.active").text();

                var cateVal = "0 - " + id1;
                var cateName = name1;

                $("#txt_CategoryPath").val(cateVal);
                $("#txt_CategoryName").val(cateName);
                $("#txt_CateName").text(cateName);
                $("#txt_CategoryKey").val(id1);
            }

            if (Action == 2) {
                var id1 = "";
                var name1 = "";

                id1 = $("#pnLeft li.active").attr("id");
                name1 = $("#pnLeft li.active").text();

                var id2 = "";
                var name2 = "";

                id2 = $("#pnRight li.active").attr("id");
                name2 = $("#pnRight li.active").text();

                var cateVal = "0 - " + id1 + " - " + id2;
                var cateName = name1 + " > " + name2

                $("#txt_CategoryPath").val(cateVal);
                $("#txt_CategoryName").val(cateName);
                $("#txt_CateName").text(cateName);
                $("#txt_CategoryKey").val(id2);
            }

            console.log($("#txt_CategoryPath").val());
        }
        function Delete_Photo(PhotoKey) {
            $.ajax({
                url: Url_Delete_Photo,
                type: "POST",
                data: {
                    "PhotoKey": PhotoKey
                },
                beforeSend: function () {
                },
                success: function (r) {
                    if (r.success) {
                        var elm = $("#" + PhotoKey);
                        Utils.RemoveRow(elm);
                    }
                    else {
                        Utils.OpenNotify(r.message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {
                }
            });
        }
    </script>
}