﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var _ListProduct = new List<Product_Model>();
    if (ViewBag.ListProduct != null)
    {
        _ListProduct = ViewBag.ListProduct as List<Product_Model>;
    }

    var _ListCategory = new List<Product_Category_Model>();
    if (ViewBag.ListCategory != null)
    {
        _ListCategory = ViewBag.ListCategory as List<Product_Category_Model>;
    }
}
@section styles{
    <style>
        li.active {
            color: white;
            background: #0088CC;
        }
    </style>
}
<header class="page-header">
    <h2>Danh mục sản phẩm</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header ">
                <div class="row align-items-center">
                    <div class="col-8">
                        <input id="txt_Search" type="text" class="form-control" placeholder="Tìm nhanh" />
                    </div>
                    <div class="col-2 text-right">
                        <button type="button" class="btn btn-primary modal-with-zoom-anim ws-normal" id="btn_Filter">
                            <i class="fas fa-filter"></i>
                            Phân loại hàng
                        </button>
                    </div>
                    <div class="col-2 text-right">
                        <a asp-controller="product" asp-action="ExportToExcel" class="btn btn-success">
                            <i class="fas fa-file-excel"></i>
                            Xuất Excel
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @if (TempData["Error"] != null && TempData["Error"].ToString() != string.Empty)
                {
                    <div class="alert alert-danger">
                        <strong>@TempData["Error"]</strong>.
                    </div>
                }
                else
                {
                    if (_ListProduct.Count > 0)
                    {
                        <div id="divData">
                            @await Component.InvokeAsync("ListProduct", new { CategoryKey = 0 })
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-primary">
                            <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                        </div>
                    }
                }
            </div>
            <div class="card-footer ">
            </div>
        </div>
    </div>
</div>
<div id="modal" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Lọc theo phân loại mặt hàng</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="card-body border nano" style="height:150px">
                        <div class="nano-content" id="pnLeft">
                            @if (_ListCategory.Count > 0)
                            {
                                <ul class="list-unstyled">
                                    @foreach (var rec in _ListCategory)
                                    {
                                        <li style="cursor:pointer" id="@rec.CategoryKey" class="p-2"><b>@rec.CategoryName</b></li>
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-body border nano" style="height:150px">
                        <div class="nano-content" id="pnRight">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" id="" class=" btn btn-default modal-dismiss">
                Đóng
            </button>
            <button type="button" id="" class=" btn btn-default modal-dismiss" onclick="location.reload();">
                Bỏ lọc
            </button>
            <button type="button" id="" class=" btn btn-primary modal-dismiss float-right" onclick="Filter()">
                Lọc
            </button>
        </div>
    </div>
</div>
<div id="shopee" class="zoom-anim-dialog modal-block modal-block-lg modal-header-color modal-block-info mfp-hide">

</div>
<input type="hidden" value="" id="txt_categorypath" />
@section Scripts{
    <script>
        var URL_Edit = "@Url.Action("Edit", "Product", new { ProductKey = 0})";
        var URL_Category = "@Url.Action("SelectCategory", "Product")";
        var URL_Publish = "@Url.Action("Publish", "Product")";
        var URL_Delete = "@Url.Action("Delete", "Product")";
        var URL_Filter = "@Url.Action("Filter", "Product")";
        var URL_Commit = "@Url.Action("Commit", "Shopee")";
        var URL_Push = "@Url.Action("Push", "Shopee")";
        var URL_Cate = "@Url.Action("Get_Category", "Shopee")";
    </script>
    <script>
        var _cate = 0;
        $(document).ready(function () {
            $("html").addClass("sidebar-left-collapsed");
            $("#btn_New").click(function () {
                var sPageURL = window.location.href;
                var sTmp = sPageURL.split("/");
                var sParam = sTmp[sTmp.length - 1];
                URL_Edit = URL_Edit.replace("_cate_", sParam);
                window.location = URL_Edit;
            });
            $("#btn_Filter").click(function () {
                Utils.OpenMagnific("#modal");
            });
            $("#pnLeft").on("click", "li", function () {
                $tr = $(this);
                var id = $tr.attr("id");
                $("#pnLeft li").removeClass("active");
                $("#pnLeft li[id=" + id + "]").addClass("active");
                GetName(1);
                Load_Category(id);
            });
            $("#pnRight").on("click", "li", function () {
                $tr = $(this);
                var id = $tr.attr("id");
                $("#pnRight li").removeClass("active");
                $("#pnRight li[id=" + id + "]").addClass("active");

                GetName(2);
            });
            $("#txt_Search").keyup(function () {
                FilterTable();
            });
        })
        function Delete(ProductKey) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "ProductKey": ProductKey
                                },
                                beforeSend: function () {
                                },
                                success: function (r) {
                                    if (r.success) {
                                        var elm = $("#" + ProductKey);
                                        Utils.RemoveRow(elm);
                                    }
                                    else {
                                        Utils.OpenNotify(r.message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {
                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function Activate(ProductKey) {
            $.ajax({
                url: URL_Publish,
                type: "POST",
                data: {
                    "ProductKey": ProductKey,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        Utils.OpenNotify("Cập nhật tình trạng thành công", "Thông báo", "success");
                    }
                    else {
                        Utils.OpenNotify(r.message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {

                }
            });
        }
        function GetName(Action) {
            if (Action == 1) {
                var id1 = "";
                var name1 = "";

                id1 = $("#pnLeft li.active").attr("id");
                name1 = $("#pnLeft li.active").text();

                var cateVal = "0 - " + id1;
                var cateName = name1;
                $("#txt_CateName").text(cateName);

                _cate = id1;
            }

            if (Action == 2) {
                var id1 = "";
                var name1 = "";

                id1 = $("#pnLeft li.active").attr("id");
                name1 = $("#pnLeft li.active").text();

                var id2 = "";
                var name2 = "";

                id2 = $("#pnRight li.active").attr("id");
                name2 = $("#pnRight li.active").text();

                var cateVal = "0 - " + id1 + " - " + id2;
                var cateName = name1 + " > " + name2
                $("#txt_CateName").text(cateName);

                _cate = id2;
            }
        }
        function Load_Category(Parent) {
            $.ajax({
                url: URL_Category,
                type: "GET",
                data: {
                    "Parent": Parent
                },
                beforeSend: function () {
                    $("#pnRight").empty();
                },
                success: function (r) {
                    $("#pnRight").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {

                }
            });
        }
        function Filter() {
            //var cate = $("#pnRight li.active").attr("id");
            $.ajax({
                url: URL_Filter,
                type: "GET",
                data: {
                    "CategoryKey": _cate
                },
                beforeSend: function () {
                    Utils.LoadIn();
                    $("#divData").empty();
                },
                success: function (r) {
                    $("#divData").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {
                    Utils.LoadOut();
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                }
            });
        }
        function FilterTable() {
            var filter = $("#txt_Search").val().toUpperCase();
            var rows = $("#tblBody").find("tr");

            for (var i = 0; i < rows.length; i++) {
                var firstCol = rows[i].cells[0].textContent.toUpperCase();
                var secondCol = rows[i].cells[1].textContent.toUpperCase();
                if (firstCol.indexOf(filter) > -1 || secondCol.indexOf(filter) > -1) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }
        function CommitShopee(ProductKey) {
            $.ajax({
                url: URL_Commit,
                type: "GET",
                data: {
                    "productkey": ProductKey
                },
                beforeSend: function () {
                    $("#shopee").empty();
                },
                success: function (r) {
                    $("#shopee").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {
                    Utils.OpenMagnific("#shopee");
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                    CateShopee(0, 1);
                }
            });
        }
        function CateShopee(id) {
            $.ajax({
                url: URL_Cate,
                type: "GET",
                data: {
                    id: id
                },
                beforeSend: function () {

                },
                success: function (r) {
                    var divwarp = $("#divCate");

                    if (divwarp.children().length > 0) {
                        $("#" + id).parent().nextAll('ul').remove();
                    }

                    $("#divCate").append(r);
                },
                error: function (err) {

                },
                complete: function () {
                    $("#" + id).parent().find('li').removeClass("active");
                    $("#" + id).addClass("active");

                    GetIdSelected();
                }
            });
        }
        function PushShopee(id) {
            var name = $("#txt_ProductName").val();
            var brand = $("#txt_Brand").val();
            var weight = $("#txt_Weight").val();
            var sku = $("#txt_SKU").val();
            var saleprice = $("#txt_SalePrice").val();
            var description = $("#txt_Description").val();
            var category = $("#txt_categorypath").val();
            var productkey = id;
            //if (brand.length === 0) {
            //    Utils.OpenNotify("Bạn phải nhập tên sản phẩm");
            //    return;
            //}
            if (name.length === 0) {
                Utils.OpenNotify("Bạn phải nhập tên sản phẩm");
                return;
            }
            if (weight.length === 0) {
                Utils.OpenNotify("Bạn phải nhập cân nặng sản phẩm");
                return;
            }
            if (sku.length === 0) {
                Utils.OpenNotify("Bạn phải nhập mã sản phẩm");
                return;
            }
            if (saleprice.length === 0) {
                Utils.OpenNotify("Bạn phải giá bán sản phẩm");
                return;
            }
            if (description.length < 100) {
                Utils.OpenNotify("Bạn phải nhập mô tả trên 100 ký tự !.");
                return;
            }

            $.ajax({
                url: URL_Push,
                type: "POST",
                data: {
                    "name": name,
                    "brand": brand,
                    "weight": weight,
                    "sku": sku,
                    "saleprice": saleprice,
                    "description": description,
                    "productkey": productkey,
                    "category": category
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.success) {
                        Utils.OpenNotify("Thông báo", "Đã tải lên shopee thành công !.", "success")
                    }
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        function GetIdSelected() {
            $("#txt_categorypath").val("");
            var path = "";
            $("#divCate li.active").each(function (idx, item) {
                path += $(item).attr("id");
                if (idx < $('#divCate li.active').length - 1) {
                    path += ",";
                }
            });
            $("#txt_categorypath").val(path);
        }
    </script>
}