﻿@model Package_Model
<header class="page-header">
    <h2 class="text-primary">Thiết lập gói hàng</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="action-buttons-fixed">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <input id="txt_packageSku" type="text" class="form-control" placeholder="Mã gói/ SKU" required="" asp-for="SKU">
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <textarea id="txt_packageName" class="form-control" placeholder="Tên gói" required="" asp-for="Name"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="">Các mặt hàng:</label>
                                <div id="export_order" class="collapse show" data-parent="#prepare_order">
                                    <div class="" id="table_item">
                                        @await Html.PartialAsync("~/Views/Product/Cart/_Table_Item.cshtml", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="input-group">
                                <input type="text" class="form-control" id="txt_productName">
                                <button class="btn btn-success" type="button" onclick="getProduct()">
                                    <i class="fas fa-filter"></i>
                                    Lọc
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="nano" style="height:100vh">
                                <div class="nano-content" id="divProduct">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row action-buttons">
        <div class="col-12">
            <button id="btn_Confirm" type="button" class="btn btn-primary float-right" onclick="saveCart();">
                Lưu gói hàng
            </button>
            <a id="btn_Cancel" class="btn btn-outline-secondary modal-dismiss" onclick="Utils.BackWithRefresh();return false;">
                Hoàn tác & trở về
            </a>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var Url_Search_Product = "@Url.Action("Search_Product", "Product")";
        var Url_Add_Item = "@Url.Action("Add_Item", "Product")";
        var Url_Delete_Item = "@Url.Action("Del_Item", "Product")";
        var Url_Remove_Item = "@Url.Action("Remove_Item", "Product")";
        var Url_Save_Order = "@Url.Action("SavePackage", "Product")";
        getProduct();
        $("#txt_inputDate").val(Utils.GetCurrentDate());
        //
        function getProduct() {
            var name = $("#txt_productName").val();
            $.ajax({
                url: Url_Search_Product,
                type: "GET",
                data: {
                    "name": name,
                },
                beforeSend: function () {
                    $("#divProduct").empty();
                },
                success: function (r) {
                    $("#divProduct").append(r);
                },
                error: function (err) {

                },
                complete: function () {

                }
            });
        }
        //
        function addCart(id) {
            $.post(Url_Add_Item, { "Id": id },
                function (r) {
                    $("#table_item").empty().append(r);
                    $(".number").each(function () {
                        $(this).number(true, 0, ',', '.');
                    });
                });
        }
        //
        function deleteCart(id) {
            $.post(Url_Delete_Item, { "Id": id },
                function (r) {
                    $("#table_item").empty().append(r);
                    $(".number").each(function () {
                        $(this).number(true, 0, ',', '.');
                    });
                });
        }
        //
        function removeCart(id) {
            $.post(Url_Remove_Item, { "Id": id },
                function (r) {
                    $("#table_item").empty().append(r);
                    $(".number").each(function () {
                        $(this).number(true, 0, ',', '.');
                    });
                });
        }
        //
        function saveCart() {
            if ($("#txt_packageSku").val() === "") {
                Utils.OpenNotify("Thông báo","Bạn phải nhập mã SKU","warning");
                return;
            }
            if ($("#txt_packageName").val() === "") {
                Utils.OpenNotify("Thông báo", "Bạn phải nhập tên gói", "warning");
                return;
            }

            $.post(Url_Save_Order, {
                Sku: $("#txt_packageSku").val(),
                Name: $("#txt_packageName").val()
            }, function (r) {
                if (!r.success) {
                    Utils.OpenNotify("Thông báo", r.message, "error");
                }
                else {
                    Utils.OpenNotify("Thông báo", "Đã lưu thành công !.", "success");
                    Utils.BackWithRefresh();
                }
            });
        }
    </script>
}