﻿@using System.Data;
@{
    var _List = new List<Order_Model>
    ();
    if (ViewBag.Buyer != null)
    {
        _List = ViewBag.Buyer as List<Order_Model>;
    }
    double _TotalLan = _List.Sum(s => s.TotalItems);
    double _TotalMoney = _List.Sum(s => s.TotalMoney);
}
<header class="page-header">
    <h2 class="text-primary">Chỉ số người mua hàng</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header">
                <form class="row align-items-center" id="formSearchButton" action="@Url.Action("Buyer","Home")">
                    <div class="col-6">
                        <input id="txt_Search" type="text" class="form-control" asp-controller="Home" asp-action="Buyer" placeholder="Tìm nhanh" name="filter" />
                    </div>
                    <div class="col-4">
                        <select class="form-control" name="Option">
                            <option selected value="0">Tổng tiền đặt hàng</option>
                            <option value="1">Tổng lần đặt hàng</option>
                        </select>
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-primary modal-with-zoom-anim ws-normal" onclick="Utils.LoadIn()">
                                <i class="fas fa-search"></i>
                                Tìm
                            </button>
                        </div>

                </form>
            </div>
            <div class="card-body">
                @{
                    if (TempData["Error"] != null && TempData["Error"].ToString() != string.Empty)
                    {
                        <div class="alert alert-primary">
                            <strong>@TempData["Error"]</strong>.
                        </div>
                    }
                    else
                    {
                        if (_List.Count > 0)
                        {
            <table class="table table-hover table-sm data">
                <thead>
                    <tr >
                        <th>Stt</th>
                        <th>Điện thoại</th>
                        <th>Họ tên</th>
                        <th>Địa chỉ</th>
                        <th>Số lần mua</th>
                        <th>Tổng tiền mua</th>
                    </tr>
                </thead>
                @{
                    <tr style="background-color:lightgreen">
                        <td></td>
                        <td><b>TỔNG CỘNG</b></td>
                        <td></td>
                        <td></td>
                        <td class=" text-right"><b>@_TotalLan.ToString("n0")</b></td>
                        <td class=" text-right"><b>@_TotalMoney.ToString("n0")</b></td>
                    </tr>

                    int No = 1;
                    foreach (var rec in _List)
                    {
                        <tr id="@rec.BuyerPhone">
                            <td>@(No++)</td>
                            <td><b>@rec.BuyerPhone</b></td>
                            <td><b>@rec.BuyerName</b></td>
                            <td>@rec.BuyerAddress</td>
                            <td class=" text-right" style="width:100px">@rec.TotalItems.ToString("n0")</td>
                            <td class=" text-right"  style="width:100px">@rec.TotalMoney.ToString("n0")</td>
                        </tr>

                    }
                }
            </table>
                        }
                        else
                        {
                            <div class="alert alert-primary">
                                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
<div id="modal" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

</div>

@section scripts{
    <script>
           

            $(document).ready(function () {

            });

    </script>
}
