﻿@{
    double Banhang = 0;
    if (ViewBag.Banhang != null)
    {
        Banhang = ViewBag.Banhang;
    }
    double MuaHang = 0;
    if (ViewBag.MuaHang != null)
    {
        MuaHang = ViewBag.MuaHang;
    }
    double LoiBanHang = 0;
    if (ViewBag.LoiBanHang != null)
    {
        LoiBanHang = ViewBag.LoiBanHang;
    }
}
@section styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
        .amount count {
            font-size: 1.1rem !important;
        }

        .ranges {
            float: right !important;
        }

        .o-all {
            background: #0088cc82;
            color: white;
        }

        .o-spe {
            background: #e361598f;
            color: white;
        }

        .o-laz {
            background: #383f4882;
            color: white;
        }

        .o-tiki {
            background: #2baab194;
            color: white;
        }

        .o-other {
            background: #8000807a;
            color: white;
        }

        .o-off {
            background: #ffa50080;
            color: white;
        }

        .drp-calendar.right {
            display: none !important;
        }
    </style>
}
<header class="page-header">
    <h2 class="text-primary">Trang chủ</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-4">
        <div class="input-group">
            <span class="input-group-text">
                <i class="fas fa-calendar-alt mr-2"></i>
                Thời gian
            </span>
            <input type="text" name="daterange" value="" id="txt_daterange" class="form-control" />
        </div>
    </div>
</div>
<!---0--->
<div class="row">
    <div class="col-3">
        <section class="card card-featured-left card-featured-primary mb-3 ">
            <div class="card-body hvr-icon-up">
                <div class="widget-summary">
                    <div class="widget-summary-col widget-summary-col-icon">
                        <div class="summary-icon bg-primary">
                            <i class="fas fa-life-ring hvr-icon"></i>
                        </div>
                    </div>
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Doanh số</h4>
                            <div class="info">
                                <strong class="amount count" data-stop="@Banhang">@Banhang.ToString("n0")</strong>
                                <span class="text-primary"></span>
                            </div>
                        </div>
                        <div class="summary-footer">
                            <a asp-controller="Home" asp-action="DanhSachDoanhSo">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-3">
        <section class="card card-featured-left card-featured-success mb-3 ">
            <div class="card-body hvr-icon-up">
                <div class="widget-summary">
                    <div class="widget-summary-col widget-summary-col-icon">
                        <div class="summary-icon bg-success">
                            <i class="fas fa-life-ring hvr-icon"></i>
                        </div>
                    </div>
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Nhập hàng</h4>
                            <div class="info">
                                <strong class="amount count" data-stop="@MuaHang">@MuaHang.ToString("n0")</strong>
                                <span class="text-primary"></span>
                            </div>
                        </div>
                        <div class="summary-footer">
                                <a asp-controller="Home" asp-action="DanhSachMuaHang">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-3">
        <section class="card card-featured-left card-featured-danger mb-3 ">
            <div class="card-body hvr-icon-up">
                <div class="widget-summary">
                    <div class="widget-summary-col widget-summary-col-icon">
                        <div class="summary-icon bg-danger">
                            <i class="fas fa-life-ring hvr-icon"></i>
                        </div>
                    </div>
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Hao hụt</h4>
                            <div class="info">
                                <strong class="amount count">0</strong>
                                <span class="text-primary"></span>
                            </div>
                        </div>
                        <div class="summary-footer">

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-3">
        <section class="card card-featured-left card-featured-info mb-3 ">
            <div class="card-body hvr-icon-up">
                <div class="widget-summary">
                    <div class="widget-summary-col widget-summary-col-icon">
                        <div class="summary-icon bg-info">
                            <i class="fas fa-life-ring hvr-icon"></i>
                        </div>
                    </div>
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Lời bán hàng</h4>
                            <div class="info">
                                <strong class="amount count" data-stop="@LoiBanHang">@LoiBanHang.ToString("n0")</strong>
                                <span class="text-primary"></span>
                            </div>
                        </div>
                        <div class="summary-footer">
                            <a asp-controller="Home" asp-action="DanhSachTienLoi">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!---1--->
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header ">
                <h2 class="card-title">Số đơn hàng đã thực hiện</h2>
            </div>
            <div class="card-body hvr-icon-up">
                <div class="row">
                    <div class="col-md-9">
                        <div style="position: relative; height:100%; width: 100%">
                            <canvas id="canvas1"></canvas>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <table class="table table-sm mb-0">
                            <tr class="o-all">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkall" onclick="updateChart1(this)" value="0">
                                        <label for="chkall">Tất cả</label>
                                    </div>
                                </td>
                                <td class="number text-right">@ViewBag.G1All</td>
                            </tr>
                            <tr class="o-spe">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkShopee" onclick="updateChart1(this)" value="1">
                                        <label for="chkShopee">Shopee</label>
                                    </div>
                                </td>
                                <td class="number text-right">@ViewBag.G1Spe</td>
                            </tr>
                            <tr class="o-laz">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkLaz" onclick="updateChart1(this)" value="2">
                                        <label for="chkLaz">Lazada</label>
                                    </div>
                                </td>
                                <td class="number text-right">@ViewBag.G1Laz</td>
                            </tr>
                            <tr class="o-tiki">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkTiki" onclick="updateChart1(this)" value="3">
                                        <label for="chkTiki">Tiki</label>
                                    </div>
                                </td>
                                <td class="number text-right">@ViewBag.G1Tiki</td>
                            </tr>
                            <tr class="o-other">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkOther" onclick="updateChart1(this)" value="4">
                                        <label for="chkOther">Khác</label>
                                    </div>
                                </td>
                                <td class="number text-right">@ViewBag.G1Other</td>
                            </tr>
                            <tr class="o-off">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkOff" onclick="updateChart1(this)" value="5">
                                        <label for="chkOff">Offline</label>
                                    </div>
                                </td>
                                <td class="number text-right">@ViewBag.G1Off</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---2--->
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header ">
                <h2 class="card-title">Số đơn hàng đã giao thành công</h2>
            </div>
            <div class="card-body hvr-icon-up">
                <div class="row">
                    <div class="col-md-9">
                        <div style="position: relative; height:100%; width: 100%">
                            <canvas id="canvas2"></canvas>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <table class="table table-sm mb-0">
                            <tr class="o-all">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkall2" onclick="updateChart2(this)" value="0">
                                        <label for="chkall2">
                                            Tất cả
                                        </label>
                                    </div>
                                </td>
                                <td class="number text-right">
                                    @ViewBag.G2All
                                </td>
                            </tr>
                            <tr class="o-spe">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkShopee2" onclick="updateChart2(this)" value="1">
                                        <label for="chkShopee2">
                                            Shopee
                                        </label>
                                    </div>
                                </td>
                                <td class="number text-right">@ViewBag.G2Spe</td>
                            </tr>
                            <tr class="o-laz">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkLaz2" onclick="updateChart2(this)" value="2">
                                        <label for="chkLaz2">
                                            Lazada
                                        </label>
                                    </div>
                                </td>
                                <td class="number text-right">@ViewBag.G2Laz</td>
                            </tr>
                            <tr class="o-tiki">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkTiki2" onclick="updateChart2(this)" value="3">
                                        <label for="chkTiki2">
                                            Tiki
                                        </label>
                                    </div>
                                </td>
                                <td class="number text-right">
                                    @ViewBag.G2Tiki
                                </td>
                            </tr>
                            <tr class="o-other">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkOther2" onclick="updateChart2(this)" value="4">
                                        <label for="chkOther2">
                                            Khác
                                        </label>
                                    </div>
                                </td>
                                <td class="number text-right">
                                    @ViewBag.G2Other
                                </td>
                            </tr>
                            <tr class="o-off">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkOff2" onclick="updateChart2(this)" value="5">
                                        <label for="chkOff2">
                                            Offline
                                        </label>
                                    </div>
                                </td>
                                <td class="number text-right">
                                    @ViewBag.G2Off
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---3--->
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header ">
                <h2 class="card-title">Doanh số</h2>
            </div>
            <div class="card-body hvr-icon-up">
                <div class="row">
                    <div class="col-md-9">
                        <div style="position: relative; height:100%; width: 100%">
                            <canvas id="canvas3"></canvas>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <table class="table table-sm mb-0">
                            <tr class="o-all">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkall3" onclick="updateChart3(this)" value="0">
                                        <label for="chkall3">
                                            Tất cả
                                        </label>
                                    </div>
                                </td>
                                <td class="number text-right">
                                    @ViewBag.G3All
                                </td>
                            </tr>
                            <tr class="o-spe">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkShopee3" onclick="updateChart3(this)" value="1">
                                        <label for="chkShopee3">
                                            Shopee
                                        </label>
                                    </div>
                                </td>
                                <td class="number text-right">@ViewBag.G3Spe</td>
                            </tr>
                            <tr class="o-laz">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkLaz3" onclick="updateChart3(this)" value="2">
                                        <label for="chkLaz3">
                                            Lazada
                                        </label>
                                    </div>
                                </td>
                                <td class="number text-right">@ViewBag.G3Laz</td>
                            </tr>
                            <tr class="o-tiki">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkTiki3" onclick="updateChart3(this)" value="3">
                                        <label for="chkTiki3">
                                            Tiki
                                        </label>
                                    </div>
                                </td>
                                <td class="number text-right">
                                    @ViewBag.G3Tiki
                                </td>
                            </tr>
                            <tr class="o-other">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkOther3" onclick="updateChart3(this)" value="4">
                                        <label for="chkOther3">
                                            Khác
                                        </label>
                                    </div>
                                </td>
                                <td class="number text-right">
                                    @ViewBag.G3Other
                                </td>
                            </tr>
                            <tr class="o-off">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkOff3" onclick="updateChart3(this)" value="5">
                                        <label for="chkOff3">
                                            Offline
                                        </label>
                                    </div>
                                </td>
                                <td class="number text-right">
                                    @ViewBag.G3Off
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---4--->
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header ">
                <h2 class="card-title">Doanh thu</h2>
            </div>
            <div class="card-body hvr-icon-up">
                <div class="row">
                    <div class="col-md-9">
                        <div style="position: relative; height:100%; width: 100%">
                            <canvas id="canvas4"></canvas>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <table class="table table-sm mb-0">
                            <tr class="o-all">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkall4" onclick="updateChart4(this)" value="0">
                                        <label for="chkall4">
                                            Tất cả
                                        </label>
                                    </div>
                                </td>
                                <td class="number text-right">
                                    @ViewBag.G4All
                                </td>
                            </tr>
                            <tr class="o-spe">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkShopee4" onclick="updateChart4(this)" value="1">
                                        <label for="chkShopee4">
                                            Shopee
                                        </label>
                                    </div>
                                </td>
                                <td class="number text-right">@ViewBag.G4Spe</td>
                            </tr>
                            <tr class="o-laz">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkLaz4" onclick="updateChart4(this)" value="2">
                                        <label for="chkLaz4">
                                            Lazada
                                        </label>
                                    </div>
                                </td>
                                <td class="number text-right">@ViewBag.G4Laz</td>
                            </tr>
                            <tr class="o-tiki">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkTiki4" onclick="updateChart4(this)" value="3">
                                        <label for="chkTiki4">
                                            Tiki
                                        </label>
                                    </div>
                                </td>
                                <td class="number text-right">
                                    @ViewBag.G4Tiki
                                </td>
                            </tr>
                            <tr class="o-other">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkOther4" onclick="updateChart4(this)" value="4">
                                        <label for="chkOther4">
                                            Khác
                                        </label>
                                    </div>
                                </td>
                                <td class="number text-right">
                                    @ViewBag.G4Other
                                </td>
                            </tr>
                            <tr class="o-off">
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" checked="" id="chkOff4" onclick="updateChart4(this)" value="5">
                                        <label for="chkOff4">
                                            Offline
                                        </label>
                                    </div>
                                </td>
                                <td class="number text-right">
                                    @ViewBag.G4Off
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form class="d-none" action="@Url.Action("Index","Home")" method="post" id="frmPost">
    <input id="txt_StartDate" type="hidden" value="@ViewBag.Start" name="FromDate" />
    <input id="txt_EndDate" type="hidden" value="@ViewBag.End" name="ToDate" />
</form>
@section scripts{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="@Url.Content("~/themes/admin/js/ChartUtils.js")"></script>
    <script>
        const chart1Data =  [@Html.Raw(ViewBag.Dataset1)];
        const chart1Label = @Html.Raw(ViewBag.Label1);
        const chart2Data =  [@Html.Raw(ViewBag.Dataset2)];
        const chart2Label = @Html.Raw(ViewBag.Label2);
        @*const chart3Data =  [@Html.Raw(ViewBag.Dataset3)];
        const chart3Label = @Html.Raw(ViewBag.Label3);
        const chart4Data =  [@Html.Raw(ViewBag.Dataset4)];
        const chart4Label = @Html.Raw(ViewBag.Label4);*@
    </script>
    <script>
        $(function () {
            var start = $("#txt_StartDate").val();  //
            var end = $("#txt_EndDate").val();     //

            if (start === "") {
                start = Utils.GetFirstDayMonth();
            }
            if (end === "") {
                end = Utils.GetLastDayMonth();
            }

            $("#txt_daterange").daterangepicker({
                locale: {
                    format: "DD/MM/YYYY",
                    "customRangeLabel": "Tuỳ chọn",
                    "applyLabel": "Áp dụng",
                    "cancelLabel": "Huỷ",
                },
                ranges: {
                    "Hôm nay": [moment(), moment()],
                    "Hôm qua": [moment().subtract(1, "days"), moment().subtract(1, "days")],
                    "7 ngày qua": [moment().subtract(6, "days"), moment()],
                    "30 ngày qua": [moment().subtract(29, "days"), moment()],
                    "Tháng này": [moment().startOf("month"), moment().endOf("month")],
                    "Tháng trước": [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")]
                },
                "linkedCalendars": false,
                "alwaysShowCalendars": true,
                "startDate": start,
                "endDate": end
            }, function (start, end, label) {
                Utils.LoadIn();
                console.log("New date range selected: " + start.format("DD/MM/YYYY") + " to " + end.format("DD/MM/YYYY") + " (predefined range: " + label + ")");
                $("#txt_StartDate").val(start.format("DD/MM/YYYY"));
                $("#txt_EndDate").val(end.format("DD/MM/YYYY"));
                $("#frmPost").submit();
            });

            numberRun();
        });

        Chart.register(ChartDataLabels);
        //------------------------------------------------------------------------chart1
        const configchart1 = {
            type: 'line',
            data: {
                labels: chart1Label,
                datasets: chart1Data,
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    //show label on each line
                    datalabels: {
                        display: function (context) {
                            var index = context.dataIndex;
                            var value = context.dataset.data[index];
                            return value > 0; // display labels with a value greater than 0
                        }
                    },
                    legend: {
                        display: false,
                    }
                },
                elements: {
                    line: {
                        fill: false,
                        tension: 0.4
                    }
                },
                aspectRatio: 5 / 3,
                layout: {
                    padding: {
                        top: 28,
                        right: 16,
                        bottom: 16,
                        left: 8
                    }
                },
                scales: {
                    x: {
                        grid: {
                            display: false,
                        }
                    },
                    y: {
                        beginAtzero: true,
                        grid: {
                            display: false,
                        }
                    }
                }
            },
        };
        const chart1 = new Chart(
            document.getElementById('canvas1'),
            configchart1
        );
        function updateChart1(data) {
            var val = data.value;
            var isShown = chart1.isDatasetVisible(val);
            if (isShown === false) {
                chart1.show(val);
            }
            if (isShown === true) {
                chart1.hide(val);
            }
        };

        //------------------------------------------------------------------------chart2
        const configchart2 = {
            type: 'line',
            data: {
                labels: chart2Label,
                datasets: chart2Data,
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    //show label on each line
                    datalabels: {
                        display: function (context) {
                            var index = context.dataIndex;
                            var value = context.dataset.data[index];
                            return value > 0;
                        },
                        formatter: function (value, context) {
                            return kFormatter(value);
                        }
                    },
                    legend: {
                        display: false,
                    }
                },
                elements: {
                    line: {
                        fill: false,
                        tension: 0.4
                    }
                },
                aspectRatio: 5 / 3,
                layout: {
                    padding: {
                        top: 28,
                        right: 16,
                        bottom: 16,
                        left: 8
                    }
                },
                scales: {
                    x: {
                        grid: {
                            display: false,
                        },
                    },
                    y: {
                        beginAtzero: true,
                        grid: {
                            display: false,
                        },
                        ticks: {
                            callback: function (value, index, values) {
                                return kFormatter(value) + ' (đ)';
                            }
                        }
                    }
                },
            },
        }
        const chart2 = new Chart(
            document.getElementById('canvas2'),
            configchart2
        );
        function updateChart2(data) {
            var val = data.value;
            var isShown = chart2.isDatasetVisible(val);
            if (isShown === false) {
                chart2.show(val);
            }
            if (isShown === true) {
                chart2.hide(val);
            }
        };
        function numberRun() {
            $('.count').each(function () {
                var $this = $(this);
                jQuery({ Counter: 0 })
                    .animate({
                        Counter: $this.attr('data-stop')
                    }, {
                        duration: 2000,
                        easing: 'swing',
                        step: function (now) {
                            $this.text(Math.ceil(now));
                        }
                    }).promise()
                    .done(function () {
                        var no = $.number($this.text(), 0);
                        $this.text(no);
                    })
            });
        }
        //------------------------------------------------------------------------chart3
        //const configchart3 = {
        //    type: 'line',
        //    data: {
        //        labels: chart3Label,
        //        datasets: chart3Data,
        //    },
        //    options: {
        //        responsive: true,
        //        maintainAspectRatio: false,
        //        plugins: {
        //            //show label on each line
        //            datalabels: {
        //                display: function (context) {
        //                    var index = context.dataIndex;
        //                    var value = context.dataset.data[index];
        //                    return value > 0;
        //                },
        //                formatter: function (value, context) {
        //                    return kFormatter(value);
        //                }
        //            },
        //            legend: {
        //                display: false,
        //            }
        //        },
        //        elements: {
        //            line: {
        //                fill: false,
        //                tension: 0.4
        //            }
        //        },
        //        aspectRatio: 5 / 3,
        //        layout: {
        //            padding: {
        //                top: 28,
        //                right: 16,
        //                bottom: 16,
        //                left: 8
        //            }
        //        },
        //        scales: {
        //            x: {
        //                grid: {
        //                    display: false,
        //                },
        //            },
        //            y: {
        //                beginAtzero: true,
        //                grid: {
        //                    display: false,
        //                },
        //                ticks: {
        //                    callback: function (value, index, values) {
        //                        return kFormatter(value) + ' (đ)';
        //                    }
        //                }
        //            }
        //        },
        //    },
        //}
        //const chart3 = new Chart(
        //    document.getElementById('canvas3'),
        //    configchart3
        //);
        //function updateChart3(data) {
        //    var val = data.value;
        //    var isShown = chart3.isDatasetVisible(val);
        //    if (isShown === false) {
        //        chart3.show(val);
        //    }
        //    if (isShown === true) {
        //        chart3.hide(val);
        //    }
        //};

        //------------------------------------------------------------------------chart4
        //const configchart4 = {
        //    type: 'line',
        //    data: {
        //        labels: chart4Label,
        //        datasets: chart4Data,
        //    },
        //    options: {
        //        responsive: true,
        //        maintainAspectRatio: false,
        //        plugins: {
        //            //show label on each line
        //            datalabels: {
        //                display: function (context) {
        //                    var index = context.dataIndex;
        //                    var value = context.dataset.data[index];
        //                    return value > 0;
        //                },
        //                formatter: function (value, context) {
        //                    return kFormatter(value);
        //                }
        //            },
        //            legend: {
        //                display: false,
        //            }
        //        },
        //        elements: {
        //            line: {
        //                fill: false,
        //                tension: 0.4
        //            }
        //        },
        //        aspectRatio: 5 / 3,
        //        layout: {
        //            padding: {
        //                top: 28,
        //                right: 16,
        //                bottom: 16,
        //                left: 8
        //            }
        //        },
        //        scales: {
        //            x: {
        //                grid: {
        //                    display: false,
        //                },
        //            },
        //            y: {
        //                beginAtzero: true,
        //                grid: {
        //                    display: false,
        //                },
        //                ticks: {
        //                    callback: function (value, index, values) {
        //                        return kFormatter(value) + ' (đ)';
        //                    }
        //                }
        //            }
        //        },
        //    },
        //}
        //const chart4 = new Chart(
        //    document.getElementById('canvas4'),
        //    configchart4
        //);
        //function updateChart4(data) {
        //    var val = data.value;
        //    var isShown = chart4.isDatasetVisible(val);
        //    if (isShown === false) {
        //        chart4.show(val);
        //    }
        //    if (isShown === true) {
        //        chart4.hide(val);
        //    }
        //};

        //

        function kFormatter(num) {
            if (num > 999999) {
                return Math.abs(num) > 999999 ? Math.sign(num) * ((Math.abs(num) / 1000000).toFixed(1)) + 'tr' : Math.sign(num) * Math.abs(num)
            }
            if (num > 999) {
                return Math.abs(num) > 999 ? Math.sign(num) * ((Math.abs(num) / 1000).toFixed(1)) + 'ng' : Math.sign(num) * Math.abs(num)
            }

            return num;
        }
    </script>
}