﻿@section styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
        .amount {
            font-size: 1.1rem !important;
        }

        .ranges {
            float: right !important;
        }

        .o-all {
            background: #0088cc82;
            color: white;
        }

        .o-spe {
            background: #e361598f;
            color: white;
        }

        .o-laz {
            background: #383f4882;
            color: white;
        }

        .o-tiki {
            background: #2baab194;
            color: white;
        }

        .o-other {
            background: #8000807a;
            color: white;
        }

        .o-off {
            background: #ffa50080;
            color: white;
        }

        .drp-calendar.right {
            display: none !important;
        }
    </style>

}
@{
    var _ListParent = new List<Product_Category_Model>();
    if (ViewBag.ListCategory != null)
    {
        _ListParent = ViewBag.ListCategory as List<Product_Category_Model>;
    }
    var _ListChild = new List<Product_Category_Model>();
    if (ViewBag.ListChild != null)
    {
        _ListChild = ViewBag.ListChild as List<Product_Category_Model>;
    }
}
<header class="page-header">
    <h2 class="text-primary">Báo cáo số lượng sản phẩm đã bán</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-4">
        <div class="input-group">
            <span class="input-group-text">
                <i class="fas fa-calendar-alt mr-2"></i>
                Thời gian
            </span>
            <input type="text" name="daterange" value="" id="txt_daterange" class="form-control" />
        </div>
    </div>
    <div class="col-3">
        <select id="cbo_Category" class="select2" name="Category">
            <option value="" selected>--Tất cả--</option>
            @{
                List<Product_Category_Model> ListParent = _ListParent
                        .GroupBy(o => o.CategoryKey)
                        .Select(v => v.First())
                        .ToList<Product_Category_Model>();

                foreach (Product_Category_Model ParentItem in ListParent)
                {
                    <optgroup label="@ParentItem.CategoryName">

                        @{
                            List<Product_Category_Model> ListChild = _ListChild
                                .Where(x => x.Parent == ParentItem.CategoryKey)
                                .ToList<Product_Category_Model>();
                            if (ListChild.Count >= 2)
                            {
                                var data = "'" + String.Join("', '", ListChild.Select(x => x.CategoryKey).ToArray()) + "'";
                                <option value="@data">-  Tất cả (@ParentItem.CategoryName)</option>
                            }
                            foreach (Product_Category_Model zItem in ListChild)
                            {

                                <option value="@zItem.CategoryKey">-  @zItem.CategoryName</option>
                            }
                        }
                    </optgroup>
                }
            }
        </select>
    </div>
    <div class="col-4">
        <div class="input-group">
            <button type="button" class="btn btn-default" id="btn_Search">
                <i class="bx bx-search"></i>
                Tìm
            </button>
        </div>
    </div>
</div>
<!---2--->
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header ">
                <h2 class="card-title">Báo cáo số lượng nhóm sản phẩm đã bán</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        <div style="position: relative; height:100%; width: 100%">
                            <canvas id="canvas1"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header ">
                <h2 class="card-title">Báo cáo số lượng sản phẩm đã bán </h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        <div style="position: relative; height:100%; width: 100%">
                            <canvas id="canvas2"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form class="d-none" action="@Url.Action("ProductTop","Home")" method="post" id="frmPost">
    <input id="txt_StartDate" type="hidden" value="@ViewBag.Start" name="FromDate" />
    <input id="txt_EndDate" type="hidden" value="@ViewBag.End" name="ToDate" />
    <input id="txt_Category" type="hidden" value="@ViewBag.CategoryKey" name="Category" />
</form>
@section scripts{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="@Url.Content("~/themes/admin/js/ChartUtils.js")"></script>

    <script>
        $(function () {
            var start = $("#txt_StartDate").val();  //
            var end = $("#txt_EndDate").val();     //

            if (start === "") {
                start = Utils.GetFirstDayMonth();
            }
            if (end === "") {
                end = Utils.GetLastDayMonth();
            }

            $("#txt_daterange").daterangepicker({
                locale: {
                    format: "DD/MM/YYYY",
                    "customRangeLabel": "Tuỳ chọn",
                    "applyLabel": "Áp dụng",
                    "cancelLabel": "Huỷ",
                },
                ranges: {
                    "Hôm nay": [moment(), moment()],
                    "Hôm qua": [moment().subtract(1, "days"), moment().subtract(1, "days")],
                    "7 ngày qua": [moment().subtract(6, "days"), moment()],
                    "30 ngày qua": [moment().subtract(29, "days"), moment()],
                    "Tháng này": [moment().startOf("month"), moment().endOf("month")],
                    "Tháng trước": [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")]
                },
                "linkedCalendars": false,
                "alwaysShowCalendars": true,
                "startDate": start,
                "endDate": end
            }, function (start, end, label) {
                console.log("New date range selected: " + start.format("DD/MM/YYYY") + " to " + end.format("DD/MM/YYYY") + " (predefined range: " + label + ")");
                $("#txt_StartDate").val(start.format("DD/MM/YYYY"));
                $("#txt_EndDate").val(end.format("DD/MM/YYYY"));

            });
        });
        $("#btn_Search").on("click", function () {
            Utils.LoadIn();
            var Key = $("#cbo_Category").val();
            $("#txt_Category").val(Key);
            $("#frmPost").submit();

        });


    </script>
    <script>
        var chartData1 = @Html.Raw(ViewBag.Dataset1);
        var chartLabel1 = @Html.Raw(ViewBag.Label1);
        var chartData2 =  @Html.Raw(ViewBag.Dataset2);
        var chartLabel2 = @Html.Raw(ViewBag.Label2);

        var labels1 = chartLabel1;
        var data1 = {
            labels: labels1,
            datasets: [
                {
                    label: 'NHÓM SẢN PHẨM',
                    data: chartData1,
                    borderColor: '#0088cc82',
                    backgroundColor: '#0088cc82',
                },

            ]
        };
        var config1 = {
            type: 'bar',
            data: data1,
            options: {
                indexAxis: 'y',
                // Elements options apply to all of the options unless overridden in a dataset
                // In this case, we are setting the border of each horizontal bar to be 2px wide
                elements: {
                    bar: {
                        borderWidth: 2,
                    }
                },
                responsive: true,
                plugins: {
                    legend: {
                        position: 'right',
                    },
                    title: {
                        display: true,
                        text: 'BÁO CÁO SỐ LƯỢNG NHÓM SẢN PHẨM ĐÃ BÁN  (TỔNG SẢN PHẨM: '+@ViewBag.Total+" )",
                    }
                }
            },
        };

        var chart1 = new Chart(
            document.getElementById('canvas1'),
            config1,
        );

        //---------
        var labels2 = chartLabel2;
        var data2 = {
            labels: labels2,
            datasets: [
                {
                    label: 'SẢN PHẨM',
                    data: chartData2,
                    borderColor: '#0088cc82',
                    backgroundColor: '#0088cc82',
                },

            ]
        };
        var config2 = {
            type: 'bar',
            data: data2,
            options: {
                indexAxis: 'y',
                // Elements options apply to all of the options unless overridden in a dataset
                // In this case, we are setting the border of each horizontal bar to be 2px wide
                elements: {
                    bar: {
                        borderWidth: 2,
                    }
                },
                responsive: true,
                plugins: {
                    legend: {
                        position: 'right',
                    },
                    title: {
                        display: true,
                        text: 'BÁO CÁO SỐ LƯỢNG SẢN PHẨM ĐÃ BÁN (TỔNG SẢN PHẨM: '+@ViewBag.Total+" )",
                    }
                }
            },
        };

        var chart2 = new Chart(
            document.getElementById('canvas2'),
            config2,
        );
    </script>
}