﻿@section styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
        .amount {
            font-size: 1.1rem !important;
        }

        .ranges {
            float: right !important;
        }

        .o-all {
            background: #0088cc82;
            color: white;
        }

        .o-spe {
            background: #e361598f;
            color: white;
        }

        .o-laz {
            background: #383f4882;
            color: white;
        }

        .o-tiki {
            background: #2baab194;
            color: white;
        }

        .o-other {
            background: #8000807a;
            color: white;
        }

        .o-off {
            background: #ffa50080;
            color: white;
        }

        .drp-calendar.right {
            display: none !important;
        }
    </style>
}
<header class="page-header">
    <h2 class="text-primary">Trang chủ</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-4">
        <div class="input-group">
            <span class="input-group-text">
                <i class="fas fa-calendar-alt mr-2"></i>
                Thời gian
            </span>
            <input type="text" name="daterange" value="" id="txt_daterange" class="form-control" />
        </div>
    </div>
</div>
<!---1--->
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header ">
                <h2 class="card-title">BIỂU ĐỒ SỐ TIỀN NHẬP SẢN PHẨM HÀNG THÁNG</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        <div style="position: relative; height:100%; width: 100%">
                            <canvas id="canvas1"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---2--->
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header ">
                <h2 class="card-title">BIỂU ĐỒ DOANH SỐ BÁN HÀNG THÁNG</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        <div style="position: relative; height:100%; width: 100%">
                            <canvas id="canvas2"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form class="d-none" action="@Url.Action("YearIndex","Home")" method="post" id="frmPost">
    <input id="txt_StartDate" type="hidden" value="@ViewBag.Start" name="FromDate" />
    <input id="txt_EndDate" type="hidden" value="@ViewBag.End" name="ToDate" />
</form>
@section scripts{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="@Url.Content("~/themes/admin/js/ChartUtils.js")"></script>
    <script>
        const chart1Data =  [@Html.Raw(ViewBag.Dataset1)];
        const chart1Label = @Html.Raw(ViewBag.Label1);
         const chart2Data =  [@Html.Raw(ViewBag.Dataset2)];
        const chart2Label = @Html.Raw(ViewBag.Label2);
    </script>
    <script>
        $(function () {
            var start = $("#txt_StartDate").val();  //
            var end = $("#txt_EndDate").val();     //

            if (start === "") {
                start = Utils.GetFirstDayMonth();
            }
            if (end === "") {
                end = Utils.GetLastDayMonth();
            }

            $("#txt_daterange").daterangepicker({
                locale: {
                    format: "DD/MM/YYYY",
                    "customRangeLabel": "Tuỳ chọn",
                    "applyLabel": "Áp dụng",
                    "cancelLabel": "Huỷ",
                },
                ranges: {
                    "Năm này": [moment().startOf("year"), moment().endOf("year")],
                    "Năm trước": [moment().subtract(1, "year").startOf("year"), moment().subtract(1, "year").endOf("year")]
                },
                "linkedCalendars": false,
                "alwaysShowCalendars": true,
                "startDate": start,
                "endDate": end
            }, function (start, end, label) {
                Utils.LoadIn();
                console.log("New date range selected: " + start.format("DD/MM/YYYY") + " to " + end.format("DD/MM/YYYY") + " (predefined range: " + label + ")");
                $("#txt_StartDate").val(start.format("DD/MM/YYYY"));
                $("#txt_EndDate").val(end.format("DD/MM/YYYY"));
                $("#frmPost").submit();
            });
        });

        Chart.register(ChartDataLabels);
        //------------------------------------------------------------------------chart1
        const configchart1 = {
            type: 'line',
            data: {
                labels: chart1Label,
                datasets: chart1Data,
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    //show label on each line
                    datalabels: {
                        display: function (context) {
                            var index = context.dataIndex;
                            var value = context.dataset.data[index];
                            return value > 0; // display labels with a value greater than 0
                        },
                        formatter: function (value, context) {
                            return kFormatter(value);
                        }
                    },
                    legend: {
                        display: false,
                    }
                },
                elements: {
                    line: {
                        fill: false,
                        tension: 0.4
                    }
                },
                aspectRatio: 5 / 3,
                layout: {
                    padding: {
                        top: 28,
                        right: 16,
                        bottom: 16,
                        left: 8
                    }
                },
                scales: {
                    x: {
                        grid: {
                            display: false,
                        }
                    },
                    y: {
                        beginAtzero: true,
                        grid: {
                            display: false,
                        },
                        ticks: {
                            callback: function (value, index, values) {
                                return kFormatter(value);
                            }
                        }
                    }
                }
            },
        };
        const chart1 = new Chart(
            document.getElementById('canvas1'),
            configchart1
        );
        function updateChart1(data) {
            var val = data.value;
            var isShown = chart1.isDatasetVisible(val);
            if (isShown === false) {
                chart1.show(val);
            }
            if (isShown === true) {
                chart1.hide(val);
            }
        };
        const configchart2 = {
            type: 'line',
            data: {
                labels: chart2Label,
                datasets: chart2Data,
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    //show label on each line
                    datalabels: {
                        display: function (context) {
                            var index = context.dataIndex;
                            var value = context.dataset.data[index];
                            return value > 0; // display labels with a value greater than 0
                        },
                        formatter: function (value, context) {
                            return kFormatter(value);
                        }
                    },
                    legend: {
                        display: false,
                    }
                },
                elements: {
                    line: {
                        fill: false,
                        tension: 0.4
                    }
                },
                aspectRatio: 5 / 3,
                layout: {
                    padding: {
                        top: 28,
                        right: 16,
                        bottom: 16,
                        left: 8
                    }
                },
                scales: {
                    x: {
                        grid: {
                            display: false,
                        }
                    },
                    y: {
                        beginAtzero: true,
                        grid: {
                            display: false,
                        },
                        ticks: {
                            callback: function (value, index, values) {
                                return kFormatter(value);
                            }
                        }
                    }
                }
            },
        };
        const chart2 = new Chart(
            document.getElementById('canvas2'),
            configchart2
        );
        function updateChart2(data) {
            var val = data.value;
            var isShown = chart1.isDatasetVisible(val);
            if (isShown === false) {
                chart2.show(val);
            }
            if (isShown === true) {
                chart2.hide(val);
            }
        };
        function kFormatter(num) {
            if (num > 999999) {
                return Math.abs(num) > 999999 ? Math.sign(num) * ((Math.abs(num) / 1000000).toFixed(1)) + 'tr' : Math.sign(num) * Math.abs(num)
            }
            if (num > 999) {
                return Math.abs(num) > 999 ? Math.sign(num) * ((Math.abs(num) / 1000).toFixed(1)) + 'ng' : Math.sign(num) * Math.abs(num)
            }

            return num;
        }

    </script>
}