﻿@model Produce_Model
@{

}

@section Styles{
    <style>
        .sidebar {
            z-index: 9999;
            right: 0;
            top: 110px;
            height: 100%;
            position: fixed;
            background-color: white;
            box-shadow: 0 1px 5px rgb(0 0 0 / 8%);
            border-left: 1px solid #585b583d;
            -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
            visibility: visible;
            transition: all 0.5s ease 0s;
            -webkit-transition: all 0.5s ease 0s;
        }

        .hide-right {
            -webkit-transform: translate3d(30%, 0px, 0px);
            transform: translate3d(30%, 0px, 0px);
            visibility: visible;
            right: -30%
        }
    </style>
}

<header class="page-header">
    <h2 class="text-primary">Sản xuất hàng</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="action-buttons-fixed">
    <div class="row">
        <div class="col-6">
            <div class="accordion accordion-primary" id="accordion">
                <div class="card border card-default">
                    <div class="card-header">
                        <h4 class="card-title m-0">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1One">
                                Nguyên liệu xuất kho thực hiện sản xuất
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1One" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            <button type="button" class="btn btn-default toggle-sidebar-right" id="btn_In">Chọn nguyên liệu</button>
                            <div id="table_item_in">
                                @await Html.PartialAsync("~/Views/Inventory/Produce/_Table_Item_Inmake.cshtml", Model.Order)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border card-default">
                    <div class="card-header">
                        <h4 class="card-title m-0">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1Two">
                                Các sản phẩm hoàn thiện nhập kho
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1Two" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            <button type="button" class="btn btn-default toggle-sidebar-right" id="btn_Out">Chọn thành phẩm</button>
                            <div id="table_item_out">
                                @await Html.PartialAsync("~/Views/Inventory/Produce/_Table_Item_Outmake.cshtml", Model.Purchase)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title m-0">
                                Thông tin sản xuất
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group-sm mb-2 row align-items-center">
                                <label class="col-lg-3 control-label text-lg-end pt-2" for="txt_produceID">ID</label>
                                <div class="col-lg-9">
                                    <input id="txt_produceID" type="text" class="form-control" data-plugin-maxlength="" maxlength="20" asp-for="ProduceID" readonly>
                                </div>
                            </div>
                            <div class="form-group-sm mb-2 row align-items-center">
                                <label class="col-lg-3 control-label text-lg-end pt-2" for="txt_produceDate">Ngày</label>
                                <div class="col-lg-9">
                                    <input id="txt_produceDate" class="form-control" type="text" data-plugin-masked-input data-input-mask="99/99/9999" placeholder="__/__/____" value="@Model.ProduceDate.ToString("dd/MM/yyyy")">
                                </div>
                            </div>
                            <div class="form-group-sm mb-2 row align-items-center">
                                <label class="col-lg-3 control-label text-lg-end pt-2" for="txt_qtyLoss">Hao hụt nếu có</label>
                                <div class="col-lg-9">
                                    <input id="txt_qtyLoss" type="number" class="form-control" data-plugin-maxlength="20" maxlength="20" asp-for="QtyLoss">
                                </div>
                            </div>
                            <div class="form-group-sm mb-2 row align-items-center">
                                <label class="col-lg-3 control-label text-lg-end pt-2" for="txt_description">Ghi chú</label>
                                <div class="col-lg-9">
                                    <textarea id="txt_description" class="form-control" asp-for="Description"></textarea>
                                </div>
                            </div>
                            <input id="txt_autokey" type="hidden" asp-for="AutoKey">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row action-buttons">
        <div class="col-12">
            <button id="btn_Confirm" type="button" class="btn btn-primary float-right" onclick="saveCart();">
                Cập nhật
            </button>
            <a id="btn_Cancel" class="btn btn-outline-secondary modal-dismiss" onclick="Utils.BackWithRefresh();return false;">
                Hoàn tác & trở về
            </a>
        </div>
    </div>
</div>

<div class="col-md-3 sidebar hide-right" id="sidebar-right">
    <section class="card">
        <header class="card-header bg-transparent">
            <div class="card-actions">
                <button type="button" class="close toggle-sidebar-right" aria-hidden="true">×</button>
            </div>
            <h2 class="card-title" id="txt_title">Chọn nguyên liệu/ thành phẩm</h2>
        </header>
        <div class="">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="txt_productName">
                <button class="btn btn-success" type="button" id="btn_Search">
                    <i class="fas fa-filter"></i>
                    Lọc
                </button>
            </div>
        </div>
        <div class="nano" style="height:100vh">
            <div class="nano-content" id="divProduct">

            </div>
        </div>
    </section>
</div>

<input id="txt_session" type="hidden" value="@ViewBag.Session">

@section scripts{
    <script>
        var Url_Search_Product = "@Url.Action("Search_Product_Produce", "Inventory")";
        var Url_Save_Produce = "@Url.Action("Save_Produce", "Inventory")";

        var Url_Add_Item_Inmake = "@Url.Action("Add_Item_Inmake", "Inventory")";
        var Url_Delete_Item_Inmake = "@Url.Action("Del_Item_Inmake", "Inventory")";
        var Url_Remove_Item_Inmake = "@Url.Action("Remove_Item_Inmake", "Inventory")";
        var Url_Qty_Item_Inmake = "@Url.Action("Qty_Item_Inmake_Local", "Inventory")";
        var Url_Check_Item = "@Url.Action("Check_Item_Inmake", "Inventory")";

        var Url_Add_Item_Outmake = "@Url.Action("Add_Item_Outmake", "Inventory")";
        var Url_Delete_Item_Outmake = "@Url.Action("Del_Item_Outmake", "Inventory")";
        var Url_Remove_Item_Outmake = "@Url.Action("Remove_Item_Outmake", "Inventory")";
        var Url_Qty_Item_Outmake = "@Url.Action("Qty_Item_Outmake_Local", "Inventory")";

        var Url_List = "@Url.Action("List_Produce", "Inventory")";

        $(document).click(function (e) {
            if (!$(e.target).closest("#sidebar-right").length) {
                $("#sidebar-right").addClass("hide-right");
            }
        });
        $(".toggle-sidebar-right").click(function () {
            var rs = $("#sidebar-right")
            if (rs.hasClass("hide-right")) {
                toggleSidebar("right");
            }
            return false;
        });
        $("button.close").click(function () {
            toggleSidebar("right");
        });
        $("#btn_In").click(function () {
            $("#txt_title").text("NGUYÊN LIỆU SẢN XUẤT");
            $("#btn_Search").unbind('click');
            $("#btn_Search").bind('click', function () {
                getProduct("IN");
            });
            getProduct("IN");
        });
        $("#btn_Out").click(function () {
            $("#txt_title").text("THÀNH PHẨM SẢN XUẤT");
            $("#btn_Search").unbind('click');
            $("#btn_Search").bind('click', function () {
                getProduct("OUT");
            });
            getProduct("OUT");
        });

        //
        function saveCart() {
            Utils.LoadIn();

            var key = $("#txt_autokey").val();
            var id = $("#txt_produceID").val();
            var desc = $("#txt_description").val();
            var date = $("#txt_produceDate").val();
            var loss = $("#txt_qtyLoss").val();
            var session = $("#txt_session").val();

            $.post(Url_Save_Produce, {
                Key: key,
                ProduceDate: date,
                ProduceID: id,
                QtyLoss: loss,
                Description: desc,
                Session: session
            }, function (r) {
                if (!r.success) {
                    Utils.OpenNotify("Thông báo", r.message, "error");
                    Utils.LoadOut();
                }
                else {
                    Utils.OpenNotify("Thông báo", "Đã lưu thành công !.", "success");
                    window.location = Url_List;
                }
            });
        }
        //
        function getProduct(option) {
            var name = $("#txt_productName").val();
            $.ajax({
                url: Url_Search_Product,
                type: "GET",
                data: {
                    "name": name,
                    "option": option
                },
                beforeSend: function () {
                    $("#divProduct").empty();
                },
                success: function (r) {
                    $("#divProduct").append(r);
                },
                error: function (err) {

                },
                complete: function () {

                }
            });
        }
        //
        function toggleSidebar(side) {
            if (side !== "left" &&
                side !== "right") {
                return false;
            }
            var left = $("#sidebar-left"),
                right = $("#sidebar-right"),
                content = $("#content"),
                openSidebarsCount = 0,
                contentClass = "";

            // toggle sidebar
            if (side === "left") {
                left.toggleClass("hide-right");
            } else if (side === "right") {
                right.toggleClass("hide-right");
            }

            // determine number of open sidebars
            if (!left.hasClass("hide-right")) {
                openSidebarsCount += 1;
            }

            if (!right.hasClass("hide-right")) {
                openSidebarsCount += 1;
            }

            // determine appropriate content class
            if (openSidebarsCount === 0) {
                contentClass = "col-md-12";
            } else if (openSidebarsCount === 1) {
                contentClass = "col-md-9";
            } else {
                contentClass = "col-md-6";
            }

            // apply class to content
            content.removeClass("col-md-12 col-md-9 col-md-6")
                .addClass(contentClass);
        }
        //----------------------------------------------------
        //
        function addinCart(id) {
            $.ajax({
                url: Url_Check_Item,
                type: "GET",
                data: {
                    "Id": id
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        $.post(Url_Add_Item_Inmake, { "Id": id, "Key": $("#txt_session").val() },
                            function (r) {
                                $("#table_item_in").empty().append(r);

                            });
                    }
                    else {
                        Utils.OpenNotify("Thông báo", r.message, "warning");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                },
                complete: function () {

                }
            });
        }

        //
        function deleteinCart(id) {
            $.post(Url_Delete_Item_Inmake, { "Id": id, "Key": $("#txt_session").val() },
                function (r) {
                    $("#table_item_in").empty().append(r);
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                });
        }
        //
        function removeinCart(id) {
            $.post(Url_Remove_Item_Inmake, { "Id": id, "Key": $("#txt_session").val() },
                function (r) {
                    $("#table_item_in").empty().append(r);
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                });
        }
        //
        function qtyinCart(id) {
            var qty = $("input[key='" + id + "'][name='txt_Qty']").val();
            var pric = $("input[key='" + id + "'][name='txt_ItemPrice']").val();

            $.post(Url_Qty_Item_Inmake, { "Id": id, "Key": $("#txt_session").val(), "qty": qty, "pric": pric },
                function (r) {
                    $("#table_item").empty().append(r);
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                });
        }
        //----------------------------------------------------

        function addoutCart(id) {
            $.post(Url_Add_Item_Outmake, { "Id": id, "Key": $("#txt_session").val() },
                function (r) {
                    $("#table_item_out").empty().append(r);
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                });
        }
        //
        function deleteoutCart(id) {
            $.post(Url_Delete_Item_Outmake, { "Id": id, "Key": $("#txt_session").val() },
                function (r) {
                    $("#table_item_out").empty().append(r);
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                });
        }
        //
        function removeoutCart(id) {
            $.post(Url_Remove_Item_Outmake, { "Id": id, "Key": $("#txt_session").val() },
                function (r) {
                    $("#table_item_out").empty().append(r);
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                });
        }
        //
        function qtyoutCart(id) {
            var qty = $("input[key='" + id + "'][name='txt_Qty']").val();
            var pric = $("input[key='" + id + "'][name='txt_ItemPrice']").val();

            $.post(Url_Qty_Item_Outmake, { "Id": id, "Key": $("#txt_session").val(), "qty": qty, "pric": pric },
                function (r) {
                    $("#table_item").empty().append(r);
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                });
        }
    </script>
}