﻿@{
    var _List = new List<Produce_Model>();
    if (ViewBag.List != null)
    {
        _List = ViewBag.List as List<Produce_Model>;
    }
}
<header class="page-header">
    <h2 class="text-primary">Lệnh sản xuất</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header"></div>
            <div class="card-body">
                @{
                    if (TempData["Error"] != null && TempData["Error"].ToString() != string.Empty)
                    {
                        <div class="alert alert-primary">
                            <strong>@TempData["Error"]</strong>.
                        </div>
                    }
                    else
                    {
                        if (_List.Count > 0)
                        {
                            <table class="table table-hover table-sm data">
                                <thead>
                                    <tr>
                                        <th>Stt</th>
                                        <th>ID</th>
                                        <th>Ngày</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                @{
                                    int No = 1;
                                    foreach (var rec in _List)
                                    {
                                        <tr id="@rec.AutoKey">
                                            <th>@(No++)</th>
                                            <th>@rec.ProduceID</th>
                                            <td>@rec.ProduceDate.ToString("dd/MM/yyyy")</td>
                                            <td>
                                                <a class="btn btn-outline-warning btn-sm modal-with-zoom-anim"
                                                   asp-controller="Inventory"
                                                   asp-action="Edit_Produce"
                                                   asp-route-Key="@rec.AutoKey" onclick="Utils.LoadIn();">
                                                    <i class="far fa-edit"></i>
                                                    Điều chỉnh
                                                </a>
                                                <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@rec.AutoKey')">
                                                    <i class="fas fa-trash"></i>
                                                    Xoá
                                                </button>
                                            </td>
                                        </tr>

                                    }
                                }
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-primary">
                                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                            </div>
                        }
                    }

                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var Url_Delete_Produce = "@Url.Action("Delete_Produce", "Inventory")";
        function Delete(Key) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: Url_Delete_Produce,
                                type: "POST",
                                data: {
                                    "Key": Key
                                },
                                beforeSend: function () {
                                },
                                success: function (r) {
                                    if (r.success) {
                                        var elm = $("#" + Key);
                                        Utils.RemoveRow(elm);
                                    }
                                    else {
                                        Utils.OpenNotify(r.message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {
                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
    </script>
}