﻿@model Package_Model
<header class="page-header">
    <h2 class="text-primary">Thiết lập gói hàng</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="action-buttons-fixed">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <input id="txt_packageSku" type="text" class="form-control" placeholder="Mã gói/ SKU" required="" asp-for="SKU" onblur="CheckID()" old="@Model.SKU">
                        </div>
                        <div class="card-body">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-12">
                                    <textarea id="txt_packageName" class="form-control" placeholder="Tên gói" required="" asp-for="Name"></textarea>
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="">Các mặt hàng:</label>
                                <div id="export_order" class="collapse show" data-parent="#prepare_order">
                                    <div class="" id="table_item">
                                        @await Html.PartialAsync("~/Views/Product/Package/_Table_Item.cshtml", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="input-group">
                                <input type="text" class="form-control" id="txt_productName">
                                <button class="btn btn-success" type="button" onclick="getProduct()">
                                    <i class="fas fa-filter"></i>
                                    Lọc
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="nano" style="height:100vh">
                                <div class="nano-content" id="divProduct">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row action-buttons">
        <div class="col-12">
            <button id="btn_Confirm" type="button" class="btn btn-primary float-right" onclick="saveCart();">
                Lưu gói hàng
            </button>
            <a id="btn_Cancel" class="btn btn-outline-secondary modal-dismiss" onclick="Utils.BackWithRefresh();return false;">
                Hoàn tác & trở về
            </a>
        </div>
    </div>
</div>
<input id="txt_PackageKey" type="hidden" asp-for="PackageKey" />
@section scripts{
    <script>
        var Url_Search_Product = "@Url.Action("Search_Product", "Product")";
        var Url_Add_Item = "@Url.Action("Add_Item", "Product")";
        var Url_Delete_Item = "@Url.Action("Del_Item", "Product")";
        var Url_Remove_Item = "@Url.Action("Remove_Item", "Product")";
        var Url_Save_Order = "@Url.Action("Save_Package", "Product")";
        var Url_Qty_Item = "@Url.Action("Qty_Item","Product")";
    </script>
    <script src="~/js-app/Package.js"></script>
    <script>
        function qtyCart(id) {
            var qty = $("input[key='" + id + "'][name='txt_Qty']").val();
            var pric = $("input[key='" + id + "'][name='txt_ItemPrice']").val();

            $.post(Url_Qty_Item, { "Id": id, "qty": qty, "pric": pric },
                function (r) {
                    $("#table_item").empty().append(r);
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });

                });
        }
    </script>
}