﻿@{
    var _List = new List<Package_Model>();
    if (ViewBag.List != null)
    {
        _List = ViewBag.List as List<Package_Model>;
    }
}
<header class="page-header">
    <h2 class="text-primary">Các gói sản phẩm</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header ">
                <form class="row" id="formSearchButton" action="">
                    <div class="col-8">
                        <input id="txt_Search" type="text" class="form-control" placeholder="Tìm nhanh" />
                    </div>
                    <div class="col-4">

                    </div>
                </form>
            </div>
            <div class="card-body">
                @{
                    @if (TempData["Error"] != null && TempData["Error"].ToString() != string.Empty)
                    {
                        <div class="alert alert-danger">
                            <strong>@TempData["Error"]</strong>.
                        </div>
                    }
                    else
                    {
                        if (_List.Count > 0)
                        {
                            <table class="table table-sm table-hover data">
                                <thead>
                                    <tr>
                                        <td>Stt</td>
                                        <td>SKU</td>
                                        <td>Gói</td>
                                        <td>#</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int no = 1;
                                        foreach (var rec in _List)
                                        {
                                            <tr name="parentPackage" id="@rec.PackageKey">
                                                <td>@(no++)</td>
                                                <td>@rec.SKU</td>
                                                <td>@rec.Name</td>
                                                <td>
                                                    <a class="btn btn-outline-primary btn-sm modal-with-zoom-anim"
                                                       asp-controller="Product"
                                                       asp-action="Edit_Package"
                                                       asp-route-PackageKey="@rec.PackageKey">
                                                        <i class="far fa-edit"></i>
                                                    </a>
                                                    <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@rec.PackageKey')">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="flip p-3" style="display:none;">
                                                <td colspan="5"><p class="font-weight-bold">Gói hàng gồm</p></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-primary">
                                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                            </div>
                        }
                    }

                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        //$(document).ready(function () {
        //    $("tr[name='parentPackage']").click(function (e) {
        //        $(this).next(".flip").toggle();
        //    });
        //});

        var Url_Delete = "@Url.Action("Delete_Package", "Product")";
        function Delete(PackageKey) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: Url_Delete,
                                type: "POST",
                                data: {
                                    "PackageKey": PackageKey
                                },
                                beforeSend: function () {
                                },
                                success: function (r) {
                                    if (r.success) {
                                        var elm = $("#" + PackageKey);
                                        Utils.RemoveRow(elm);
                                    }
                                    else {
                                        Utils.OpenNotify(r.message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {
                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
    </script>
}