﻿
@model List<SDK.Shopee.Root_Category.List>
@{
    Layout = null;
}

@if (Model.Count > 0)
{
    <ul class="list-unstyled col-4" style="max-height: 400px; overflow-y: auto;">
        @foreach (var rec in Model)
        {
            if (rec.is_prohibit)
            {
                <li style="cursor: not-allowed; background: #9e9e9e61" id="@rec.id" class="p-2">
                    <b>@rec.display_name</b>
                    @if (rec.has_children)
                    {
                        <span class="float-right"><i class='bx bxs-right-arrow'></i></span>
                    }
                </li>
            }
            else
            {
                <li style="cursor:pointer" id="@rec.id" class="p-2" onclick="CateShopee(@rec.id)">
                    <b>@rec.display_name</b>
                    @if (rec.has_children)
                    {
                        <span class="float-right"><i class='bx bxs-right-arrow'></i></span>
                    }
                </li>
            }
        }
    </ul>
}