﻿@using Newtonsoft.Json
@model Product_Model
@{
    Layout = null;
}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Thông tin sản phẩm sẽ cập nhật lên shopee</h2>
    </div>
    <div class="card-body">
        <div class="tabs">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-target="#popular" href="#popular" data-toggle="tab">
                        <i class="fas fa-star"></i>
                        Nhóm ngành hàng
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-target="#recent" href="#recent" data-toggle="tab">Thông tin sản phẩm</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="popular" class="tab-pane active">
                    <div class="row flex-row flex-nowrap" id="divCate" style="overflow-x:auto">

                    </div>
                </div>
                <div id="recent" class="tab-pane">
                    <div class="form-group-sm mb-1 row">
                        <label class="control-label col-2">Hình ảnh</label>
                        <div class="col-10">
                            <div class="popup-gallery">
                                @{
                                    <div class="float-left mb-1 pt-1 mr-1 picView">
                                        <a class="" href="@Model.PhotoPath" title="">
                                            <div class="img-fluid">
                                                <img src="@Url.Content(Model.PhotoPath)" width="105" height="105">
                                            </div>
                                        </a>
                                    </div>
                                    var ListPicture = JsonConvert.DeserializeObject<List<Product_Photo_Model>>(Model.PhotoList);
                                    foreach (var rec in ListPicture)
                                    {
                                        <div class="float-left mb-1 pt-1 mr-1 picView">
                                            <a class="" href="@rec.PhotoPath" title="">
                                                <div class="img-fluid">
                                                    <img src="@Url.Content(rec.PhotoPath)" width="105" height="105">
                                                </div>
                                            </a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group-sm mb-1 row">
                        <label class="control-label col-2">Tên sản phẩm</label>
                        <div class="col-10">
                            <input type="text" class="form-control" value="@Model.ProductName" name="ProductName" id="txt_ProductName" />
                        </div>
                    </div>
                    <div class="form-group-sm mb-1 row">
                        <label class="control-label col-2">Thương hiệu</label>
                        <div class="col-4">
                            <input type="text" class="form-control" name="brand_id" shopeeval="0" placeholder="" value="NoBrand" disabled id="txt_Brand"/>
                        </div>
                        <label class="control-label col-2">Cân nặng sau khi gói (gr)</label>
                        <div class="col-4">
                            <input type="text" class="form-control" value="@Model.Weight" name="Weight" id="txt_Weight" />
                        </div>
                    </div>
                    <div class="form-group-sm mb-1 row">
                        <label class="control-label col-2">SKU</label>
                        <div class="col-4">
                            <input type="text" class="form-control" value="@Model.SKU" name="SKU" id="txt_SKU" />
                        </div>
                        <label class="control-label col-2">Giá bán</label>
                        <div class="col-4">
                            <input type="text" class="form-control number" value="@Model.SalePrice" name="SalePrice" id="txt_SalePrice" />
                        </div>
                    </div>
                    <div class="form-group-sm mb-1 row">
                        <label class="control-label col-2">Mô tả</label>
                        <div class="col-10">
                            <textarea class="form-control" name="Description" placeholder="" required="" id="txt_Description">@Model.Description.StripHtml()</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class=" btn btn-primary float-right" onclick="PushShopee('@Model.ProductKey')">
            Cập nhật
        </button>
        <button type="button" class=" btn btn-default modal-dismiss " >
            Huỷ & đóng
        </button>
    </div>
</div>