﻿@using SDK.Shopee.Root_OrderInfo
@model Data
@{
    Layout = null;
    double total = 0;
    foreach (var rec in Model.order_items)
    {
        total += (rec.amount * rec.item_price.ToDouble());
    }

    total += Model.shipping_fee.ToDouble();
}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Mã barcode</h2>
    </div>
    <div class="card-body">
        <div id="printData" style="width:100%; margin:0px; text-align:center" class="text-muted">
            <img src="@ViewBag.Barcode" /><br />
            <img src="@ViewBag.Qrcode" /><br />
            Mã vận đơn: <b>@Model.MaVanDon</b><br />
            Mã đơn hàng: <b>@Model.order_sn</b>
        </div>
    </div>
    <div class="card-footer text-center">
        <button id="btn_Print" type="button" class="btn btn-primary" onclick="PrintTo()">
            In
        </button>
        <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
            Đóng
        </button>
    </div>
</div>