﻿@using SDK.Shopee.Root_OrderInfo
@model Data
@{
    Layout = null;
    double total = 0;
    foreach (var rec in Model.order_items)
    {
        total += (rec.amount * rec.item_price.ToDouble());
    }

    total += Model.shipping_fee.ToDouble();
}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Bản in cho khổ K58</h2>
    </div>
    <div class="card-body">
        <div id="printData" style="width:100%; margin:0px;" class="text-muted">
            <table style="width: 100%; border-bottom: dotted;">
                <tr>
                    <td style="text-align: center"><b>@Model.actual_carrier</b><br />
                   <b style="color:blue">@Model.fulfillment_carrier_name</b></td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <img src="@ViewBag.Barcode" /><br />
                        Mã vận đơn: <b>@Model.MaVanDon</b><br />
                        Mã đơn hàng: <b>@Model.order_sn</b>
                    </td>
                </tr>
            </table>
            <table style="width: 100%; border-bottom: dotted;">
                <tr>
                    <td style="vertical-align:top">
                        <b>Từ: </b> @Model.TenShop<br />
                        @Model.seller_address.address<br />
                        @(Model.seller_address.district+", "+Model.seller_address.city+", "+Model.seller_address.state)<br />
                        SĐT:@Model.seller_address.phone
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:top">
                        <b>Đến: </b> @Model.buyer_address_name<br />
                        @Model.shipping_address<br />
                        SĐT:@Model.buyer_address_phone
                    </td>
                </tr>
            </table>
            <table style="width: 100%; border-bottom: dotted;">
                <tr>
                    <td>
                        <b>
                            Nội dung hàng
                        </b>
                    </td>
                </tr>
                @for (int i = 0; i < Model.order_items.Count; i++)
                {
                    var rec = Model.order_items[i];
                    var ex = rec.item_model;

                    <tr>
                        <td>
                            @((i+1)+"."+ rec.product.name+", SL:"+rec.amount)
                            <br />
                            @if (ex.name.Length > 0)
                            {
                                <small>Phân loại: @ex.name</small>
                            }
                        </td>
                    </tr>
                }
            </table>
            <table style="width: 100%; border-bottom: dotted;">
                <tr>
                    <td style="text-align:center; width:50%; vertical-align:top">
                        Tiền thu người nhận:<br />
                        <h4>@(total.ToString("n0") + " " + Model.currency)</h4>
                    </td>
                </tr>
            </table>
            <table style="width: 100%; border-bottom: dotted;">
                <tr>
                    <td style="text-align: center;">
                        <img src="@ViewBag.Qrcode" /><br />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card-footer text-center">
        <button id="btn_Print" type="button" class="btn btn-primary" onclick="PrintTo()">
            In
        </button>
        <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
            Đóng
        </button>
    </div>
</div>