﻿@model List<ItemRequest>
@{
    Layout = null;
    string _UrlImg = "https://cf.shopee.vn/file/";
}
<div class="card">
    <div class="card-header">
        <h4 class="card-title m-0">
            Các mặt hàng chờ xử lý
        </h4>
    </div>
    <div class="card-body">
        @{
            <div class="d-flex flex-row">
                <div class="p-2"></div>
                <div class="p-2 flex-grow-1"></div>
                <div class="p-2 font-weight-bold text-primary text-right" style="width:100px">Số lượng</div>
                <div class="p-2 font-weight-bold text-primary text-right" style="width:100px">Còn lại</div>
            </div>

            foreach (var rec in Model)
            {
                var img = _UrlImg + rec.ItemImg;
                var name = rec.ItemName;
                var qty = rec.ItemQty;
                var stock = rec.ItemStock;

                <div class="d-flex flex-row">
                    <div class="p-2"> <img class="imgShopee" src="@img" /></div>
                    <div class="p-2 flex-grow-1">@name</div>
                    <div class="p-2 font-weight-bold text-primary text-right" style="width:100px">@qty</div>
                    <div class="p-2 font-weight-bold text-primary text-right" style="width:100px">@stock</div>
                </div>
            }
        }
    </div>
</div>