﻿@using SDK.Shopee.Root_OrderList
@model Data
@{
    Layout = null;
    string _UrlImg = "https://cf.shopee.vn/file/";
}

@{
    if (Model.orders.Count > 0)
    {
        int no = 0;

        <table class="table table-no-more data">
            <thead>
                <tr>
                    <th>Stt</th>
                    <th>ID/ Khách hàng</th>
                    <th>Sản phẩm</th>
                    <th>Tổng đơn</th>
                    <th>Vận chuyển</th>
                    <th>Gợi ý </th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.orders)
                    {
                        no++;
                        double total = 0;
                        foreach (var rec in item.order_items)
                        {
                            total += (rec.amount * rec.item_price.ToDouble());
                        }
                        total += item.shipping_fee.ToDouble();

                        <tr>
                            <td>@no</td>
                            <td data-title="ID/ Khách hàng">
                                @item.order_sn<br />
                                @item.buyer_address_name.ToUpperInvariant()
                            </td>
                            <td data-title="Sản phẩm">
                                @{
                                    if (item.order_items.Count > 1)
                                    {
                                        var rec = item.order_items[0];
                                        var ex = rec.item_model;
                                        var name = rec.product.name;
                                        var img = _UrlImg + rec.product.images[0] + "_tn";

                                        <div class="d-flex mb-2">
                                            <img class="imgShopee" src="@img" />
                                            <div class="float-left">
                                                <b>@rec.amount X </b>
                                                @rec.product.name
                                                @if (ex.name.Length > 0)
                                                {
                                                    <br /><small>Phân loại: @ex.name</small>
                                                }
                                            </div>
                                        </div>
                                        <div class="collapse mb-2" id="@("hdshow" + no)">
                                            @for (int i = 1; i < item.order_items.Count; i++)
                                            {
                                                rec = item.order_items[i];
                                                ex = rec.item_model;
                                                img = _UrlImg + rec.product.images[0] + "_tn";

                                                <div class="d-flex mb-2">
                                                    <img class="imgShopee" src="@img" />
                                                    <div class="float-left">
                                                        <b>@rec.amount X </b>@rec.product.name
                                                        @if (ex.name.Length > 0)
                                                        {
                                                            <br /><small>Phân loại: @ex.name</small>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div>
                                            <a href="@("#hdshow" + no)" class="text-hover-primary" data-toggle="collapse">
                                                Xem thêm
                                                @(item.order_items.Count - 1) SP
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        var rec = item.order_items[0];
                                        var ex = rec.item_model;
                                        var img = _UrlImg + rec.product.images[0] + "_tn";

                                        <div class="d-flex mb-2">
                                            <img class="imgShopee" src="@img" />
                                            <div class="float-left">
                                                <b>@rec.amount X </b>@rec.product.name
                                                @if (ex.name.Length > 0)
                                                {
                                                    <br /><small>Phân loại: @ex.name</small>
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                            </td>
                            <td data-title="Tổng đơn">@total.ToString("n0")</td>
                            <td data-title="Vận chuyển">
                                @item.actual_carrier<br />
                                                    <b>@item.fulfillment_carrier_name</b>
                            </td>
                            <td>
                                <b style="color:green"> @item.GoiYDuSanPham</b>
                            </td>
                            <td data-title="Thao tác">
                                @if (Model.viewtype == "to_process")
                                {
                                    @*<a class="btn  btn-outline-warning" role="button" onclick="Get_Time('@item.order_id')">Xác nhận</a>*@
                                    <a class="btn  btn-outline-warning" role="button" asp-controller="Shopee" asp-action="Prepare_Order" asp-route-Id="@item.order_id" onclick="Utils.LoadIn();">Soạn hàng</a>
                                }
                                @if (Model.viewtype == "processed")
                                {
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-outline-primary w-100" role="button" onclick="Open('@item.order_id','code')">BarCode</a>
                                        <a class="btn btn-outline-primary w-100" role="button" onclick="Open('@item.order_id','k80')">K80</a>
                                        <a class="btn btn-outline-primary w-100" role="button" onclick="Open('@item.order_id','k58')">K58</a>
                                    </div>
                                }
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-warning">
            <strong>Không có đơn hàng phát sinh từ shopee !</strong>.
            <a href="#" class="alert-link">Click để tải mới</a>
        </div>
    }
}