﻿@using SDK.Shopee.Root_PickUpTime
@model Data
@{
    Layout = null;
}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Chuẩn bị hàng</h2>
    </div>
    <div class="card-body">
        <label class="label">Đơn vị vận chuyển: @Model.DonViGiaohang</label>
        <div class="form-group">
            <label class="label">Chọn ngày</label>
            <select class="form-control" id="cbo_time">
                @{
                    foreach (var rec in Model.time_slots)
                    {
                        var time = TN_Utils.UnixTimeStampToDateTime(rec.value);
                        var name = time.DayOfWeek;

                        var culture = new System.Globalization.CultureInfo("vi-VN");
                        var day = culture.DateTimeFormat.GetDayName(name);
                        var value = time.ToString("dd/MM/yyyy") + " - " + day;

                        <option value="@rec.value">@value</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label class="label">Ghi chú</label>
            <textarea class="form-control" rows="3" id="txt_remark"></textarea>
        </div>
        <div class="alert alert-warning">
            Đơn giao cùng ngày phải được chọn ngày trước 15:00. Bạn sẽ không thể thay đổi ngày giao hàng, hãy chắc chắn hàng của bạn sẽ sẵn sàng để chuyển đi vào ngày này.
        </div>
    </div>
    <div class="card-footer text-center">
        <button id="btn_Confirm" type="button" class="btn btn-outline-info" onclick="Confirm()">
            Xác nhận
        </button>
        <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
            Đóng
        </button>
    </div>
</div>