﻿@using SDK.Shopee.Root_ShipmentList
@{
    var _ShipperList = new List<Datum>();
    if (ViewBag.Shipper != null)
    {
        _ShipperList = ViewBag.Shipper as List<Datum>;
    }
}
@section Styles{
    <style>
        @@media only screen and (max-width: 991px) {
            .table.table-no-more td {
                padding-left: 30% !important;
            }

            .table.table-no-more tr {
                padding-bottom: 10px !important;
            }
        }

        #cbo_shipper .select2-selection--single {
            height: 100% !important;
        }

        #cbo_shipper .select2-selection__rendered {
            word-wrap: break-word !important;
            text-overflow: inherit !important;
            white-space: normal !important;
        }
    </style>
}
<header class="page-header">
    <h2 class="text-primary">
        <a asp-controller="Shopee" asp-action="Index">@ViewBag.ShopName</a>
    </h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<section class="content-with-menu mailbox">
    <div class="content-with-menu-container">
        @if (TempData["Error"] != null && TempData["Error"].ToString() != string.Empty)
        {
            <div class="alert alert-warning">
                @TempData["Error"].ToString()
                <br />
                Vào cài đặt > <a asp-controller="Config" asp-action="ListConnect">Liên kết shop</a> và chọn Shopee để liên kết tài khoản.
            </div>
        }
        else
        {
            <div class="inner-menu-toggle">
                <a href="#" class="inner-menu-expand" data-open="inner-menu">
                    Show Menu
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
            <menu id="content-menu" class="inner-menu" role="menu">
                <div class="nano">
                    <div class="nano-content">
                        <div class="inner-menu-toggle-inside">
                            <a href="#" class="inner-menu-collapse">
                                <i class="fas fa-chevron-up d-inline-block d-md-none"></i>
                                <i class="fas fa-chevron-left d-none d-md-inline-block"></i>
                                Hide Menu
                            </a>
                            <a href="#" class="inner-menu-expand" data-open="inner-menu">
                                Show Menu
                                <i class="fas fa-chevron-down"></i>
                            </a>
                        </div>
                        <div class="inner-menu-content">
                            <div class="sidebar-widget m-0">
                                <div class="widget-header">
                                    <h6 class="title">Chờ lấy hàng</h6>
                                    <span class="widget-toggle">+</span>
                                </div>
                                <div class="widget-content" style="">
                                    <ul class="list-unstyled mailbox-bullets">
                                        <li>
                                            <a href="#all" class="menu-item" onclick="Get_List('all',1,0)">
                                                Tất cả
                                                <span class="float-right badge badge-primary" id="all"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#to_process" class="menu-item" onclick="Get_List('to_process',1,0)">
                                                Chưa xử lý
                                                <span class="float-right badge badge-primary" id="to_process"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#processed" class="menu-item" onclick="Get_List('processed',1,0)">
                                                Đã xử lý
                                                <span class="float-right badge badge-primary" id="processed"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <hr class="separator">
                            <div class="sidebar-widget m-0">
                                <div class="widget-header">
                                    <h6 class="title">Mặt hàng</h6>
                                    <span class="widget-toggle">+</span>
                                </div>
                                <div class="widget-content">
                                    <ul class="list-unstyled mailbox-bullets">
                                        <li>
                                            <a href="#productimport" class="menu-item" onclick="Get_Product()">Cần xử lý</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </menu>
            <div class="inner-body mailbox-folder">
                <div id="ajaxloading" style="background: rgb(52, 152, 219);display: none;position: absolute;width: 100%;height: 100%;z-index: 1000;">
                    <div class="book">
                        <div class="book__page"></div>
                        <div class="book__page"></div>
                        <div class="book__page"></div>
                    </div>
                </div>
                <div class="mailbox-actions p-2" id="divSearch">
                    <div class="row">
                        <div class="col-9"></div>
                        <div class="col-3">
                            <select id="cbo_shipper" class="select2">
                                @{
                                    <option value="0" selected>Vận chuyển</option>
                                    foreach (var rec in _ShipperList)
                                    {
                                        if (rec.category_id == 10008)
                                        {
                                            <option value="@rec.channel_id">@rec.display_name</option>
                                        }
                                        else
                                        {
                                            <option value="@rec.category_id">@rec.display_name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mailbox-email-list" style="top:60px !important">
                    <div class="nano">
                        <div class="nano-content" id="divViewData">

                        </div>
                    </div>
                </div>
                <div class="mailbox-actions p-0" style="position: absolute; bottom: 0px; width: 100%; background: white; text-align: center; border-top: 5px solid #e2e3e6;" id="divPager">

                </div>
            </div>
        }
    </div>
</section>
<div id="modal" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
</div>
<input type="hidden" value="@ViewBag.Message" id="txt_Message" />
<input type="hidden" value="" id="totalItems" />
<input type="hidden" value="" id="option" />
<input type="hidden" value="" id="page" />
@section Scripts{
    <script src="~/js-app/Shopee.js"></script>
    <script>

    </script>
}