﻿@using SDK.Shopee.Root_OrderInfo
@model Data
@{
    double total = 0;
    foreach (var rec in Model.order_items)
    {
        total += (rec.amount * rec.item_price.ToDouble());
    }

    total += Model.shipping_fee.ToDouble();

    var _TimeSlot = new SDK.Shopee.Root_PickUpTime.Data();
    if (ViewBag.TimeSlot != null)
    {
        _TimeSlot = ViewBag.TimeSlot as SDK.Shopee.Root_PickUpTime.Data;
    }

    var _Address = new SDK.Shopee.Root_PickUpAddress.Data();
    if (ViewBag.PickupAddress != null)
    {
        _Address = ViewBag.PickupAddress as SDK.Shopee.Root_PickUpAddress.Data;
        _Address.list = _Address.list.OrderBy(s => s.status).ToList();
    }

    string _UrlImg = "https://cf.shopee.vn/file/";
}

@section Styles{
    <style>
        .sidebar {
            z-index: 9999;
            right: 0;
            top: 110px;
            height: 100%;
            position: fixed;
            background-color: white;
            box-shadow: 0 1px 5px rgb(0 0 0 / 8%);
            border-left: 1px solid #585b583d;
            -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
            visibility: visible;
            transition: all 0.5s ease 0s;
            -webkit-transition: all 0.5s ease 0s;
        }

        .hide-right {
            -webkit-transform: translate3d(30%, 0px, 0px);
            transform: translate3d(30%, 0px, 0px);
            visibility: visible;
            right: -30%
        }
    </style>
}

<header class="page-header">
    <h2 class="text-primary">Chuẩn bị hàng</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li><a asp-controller="Shopee" asp-action="Index">@ViewBag.ShopName</a> </li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-6">
        <div class="accordion accordion-primary" id="accordion">
            <div class="card border card-default">
                <div class="card-header">
                    <h4 class="card-title m-0">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1One">
                            Đơn hàng shopee số: @Model.order_sn
                        </a>
                    </h4>
                </div>
                <div id="collapse1One" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-group">
                            <p class="mb-1">Khách hàng: <b>@Model.buyer_address_name</b></p>
                            <p class="mb-1">SĐT: <b>@Model.buyer_address_phone</b> </p>
                            <p class="mb-1">Địa chỉ: <b>@Model.shipping_address</b></p>
                            <p class="mb-1">Vận chuyển: <b>@(Model.actual_carrier + "/" + Model.fulfillment_carrier_name)</b></p>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bolder">Nội dung hàng:</label>
                            @for (int i = 0; i < Model.order_items.Count; i++)
                            {
                                var rec = Model.order_items[i];
                                var ex = rec.item_model;
                                var img = _UrlImg + rec.product.images[0] + "_tn";

                                <div class="d-flex mb-2">
                                    <img class="imgShopee" src="@img" />
                                    <div class="float-left">
                                        <b>@rec.amount X </b>
                                        @rec.product.name
                                        @if (ex.name.Length > 0)
                                        {
                                            <br /><small>Phân loại: @ex.name</small>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="font-weight-bolder col-6">Người mua thanh toán:</label>
                                <label class="font-weight-bolder col-6 text-right number">@total</label>
                            </div>
                            <div class="row">
                                <label class="font-weight-bolder col-6">Cộng tiền hàng:</label>
                                <label class="font-weight-bolder col-6 text-right number">@(total - Model.shipping_fee.ToDouble())</label>
                            </div>
                            <div class="row">
                                <label class="font-weight-bolder col-6">Phí Shopee:</label>
                                <label class="font-weight-bolder col-6 text-right number">@Model.card_txn_fee_info.card_txn_fee.ToDouble()</label>
                            </div>
                            <div class="row">
                                <label class="font-weight-bolder col-6 text-danger">Thực thu:</label>
                                <label class="font-weight-bolder col-6 text-danger text-right number">@(total - Model.shipping_fee.ToDouble() - Model.card_txn_fee_info.card_txn_fee.ToDouble())</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border card-default">
                <div class="card-header">
                    <h4 class="card-title m-0">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1Two">
                            Thời gian vận chuyển đến lấy hàng
                        </a>
                    </h4>
                </div>
                <div id="collapse1Two" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <div>
                            <label class="label">Đơn vị vận chuyển: @_TimeSlot.DonViGiaohang</label>
                            <div class="form-group">
                                <label class="label">Chọn địa chỉ lấy hàng</label>
                                <select class="form-control" id="cbo_address">
                                    @{
                                        foreach (var rec in _Address.list)
                                        {
                                            <option value="@rec.address_id">@rec.address</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="label">Chọn ngày</label>
                                <select class="form-control" id="cbo_time">
                                    @{
                                        foreach (var rec in _TimeSlot.time_slots)
                                        {
                                            var time = TN_Utils.UnixTimeStampToDateTime(rec.value);
                                            var name = time.DayOfWeek;

                                            var culture = new System.Globalization.CultureInfo("vi-VN");
                                            var day = culture.DateTimeFormat.GetDayName(name);
                                            var value = time.ToString("dd/MM/yyyy") + " - " + day;

                                            <option value="@rec.value">@value</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="label">Ghi chú</label>
                                <textarea class="form-control" rows="3" id="txt_remark"></textarea>
                            </div>
                            <div class="alert alert-warning">
                                Đơn giao cùng ngày phải được chọn ngày trước 15:00. Bạn sẽ không thể thay đổi ngày giao hàng, hãy chắc chắn hàng của bạn sẽ sẵn sàng để chuyển đi vào ngày này.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="accordion accordion-primary" id="prepare_order">
            <div class="card border card-default">
                <div class="card-header">
                    <h4 class="card-title m-0">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#prepare_order" data-target="#export_order">
                            Hàng chuẩn bị xuất bán
                        </a>
                    </h4>
                </div>
                <div id="export_order" class="collapse show" data-parent="#prepare_order">
                    <div class="card-body" id="table_item">
                        @{
                            if (ViewBag.LocalOrder != null)
                            {
                                var Order = ViewBag.LocalOrder as Order_Model;
                                @await Html.PartialAsync("~/Views/Shopee/Cart/_Table_Item.cshtml", Order)
                            }
                            else
                            {
                                <div class="alert alert-warning">
                                    <strong>Error Table Item</strong>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button id="btn_Confirm" type="button" class="btn btn-primary float-right" onclick="sendShopee()">
            Xác nhận
        </button>
        <a id="btn_Cancel" class="btn btn-outline-secondary modal-dismiss" onclick="Utils.BackWithRefresh();return false;">
            Hoàn tác & trở về
        </a>
    </div>
</div>
<!---->
<button type="button" class="btn btn-warning toggle-sidebar-right" style="
    position: fixed;
    top: 250px;
    right: 0;">
    <i class="fab fa-searchengin fa-3x"></i>
</button>
<div class="col-md-3 sidebar hide-right" id="sidebar-right">
    <section class="card">
        <header class="card-header bg-transparent">
            <div class="card-actions">
                <button type="button" class="close toggle-sidebar-right" aria-hidden="true">×</button>
            </div>
            <h2 class="card-title">Chọn mặt hàng</h2>
        </header>
        <div class="">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="txt_productName">
                <button class="btn btn-success" type="button" onclick="searchProduct()">
                    <i class="fas fa-filter"></i>
                    Lọc
                </button>
            </div>
        </div>
        <div class="nano" style="height:100vh">
            <div class="nano-content" id="divProduct">

            </div>
        </div>
    </section>
</div>
@section scripts{
    <script>
        var Url_Remove_Item = "@Url.Action("Remove_Item", "Shopee")";
        var Url_Add_Item = "@Url.Action("Add_Item","Shopee")";
        var Url_Delete_Item = "@Url.Action("Del_Item", "Shopee")";
        var Url_Send_Shopee = "@Url.Action("Init_Order", "Shopee")";
        var Url_Check_Order = "@Url.Action("Check_Order", "Shopee")";
        var Url_Save_Order = "@Url.Action("Save_Order", "Shopee")";
        var Url_Search_Product = "@Url.Action("Search_Product", "Shopee")";
        var Url_Check_Item = "@Url.Action("Check_Item", "Shopee")";
        $(document).click(function (e) {
            if (!$(e.target).closest("#sidebar-right").length) {
                $("#sidebar-right").addClass("hide-right");
            }
        });
        $("select").select2({
            minimumResultsForSearch: -1
        });
        $(".toggle-sidebar-right").click(function () {
            toggleSidebar("right");
            return false;
        });

        //an hien chi tiet
        function toggleSidebar(side) {
            if (side !== "left" &&
                side !== "right") {
                return false;
            }
            var left = $("#sidebar-left"),
                right = $("#sidebar-right"),
                content = $("#content"),
                openSidebarsCount = 0,
                contentClass = "";

            // toggle sidebar
            if (side === "left") {
                left.toggleClass("hide-right");
            } else if (side === "right") {
                right.toggleClass("hide-right");
            }

            // determine number of open sidebars
            if (!left.hasClass("hide-right")) {
                openSidebarsCount += 1;
            }

            if (!right.hasClass("hide-right")) {
                openSidebarsCount += 1;
            }

            // determine appropriate content class
            if (openSidebarsCount === 0) {
                contentClass = "col-md-12";
            } else if (openSidebarsCount === 1) {
                contentClass = "col-md-9";
            } else {
                contentClass = "col-md-6";
            }

            // apply class to content
            content.removeClass("col-md-12 col-md-9 col-md-6")
                .addClass(contentClass);
        }
        //
        function addCart(id) {
            $.ajax({
                url: Url_Check_Item,
                type: "GET",
                data: {
                    "Id": id
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        $.post(Url_Add_Item, { "Id": id },
                            function (r) {
                                $("#table_item").empty().append(r);
                            }).done(function () {
                                Utils.initNumber();
                            });
                    }
                    else {
                        Utils.OpenNotify("Thông báo", r.message, "warning");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                },
                complete: function () {

                }
            });
        }
        //
        function deleteCart(id) {
            $.post(Url_Delete_Item, { "Id": id },
                function (r) {
                    $("#table_item").empty().append(r);
                    Utils.initNumber();
                });
        }
        //
        function removeCart(id) {
            $.post(Url_Remove_Item, { "Id": id },
                function (r) {
                    $("#table_item").empty().append(r);
                    Utils.initNumber();
                });
        }
        //
        function sendShopee() {
            var remark = $("#txt_remark").val();
            var time = $("#cbo_time").val();
            var address = $("#cbo_address").val();

            Utils.LoadIn();
            $.get(Url_Check_Order, function (r) {
                if (!r.success) {
                    Utils.OpenNotify("Thông báo", r.message, "error");
                }
                else {
                    $.post(Url_Save_Order, function (rs) {
                        if (!rs.success) {
                            Utils.OpenNotify("Thông báo", rs.message, "error");
                            Utils.LoadOut();
                        }
                        else {
                            $.post(Url_Send_Shopee, { "time": time, "remark": remark, "addressid": address },
                                function (r) {
                                    if (!r.success) {
                                        Utils.OpenNotify("Thông báo", rs.message, "error");
                                        Utils.LoadOut();
                                    }
                                    else {
                                        var obj = JSON.parse(r.data);
                                        if (obj.message == "success") {
                                            window.location.href = "@Url.Action("Get_List", "Shopee", new { Option= "to_process" })";
                                            //Utils.BackWithRefresh();
                                        }
                                        else {
                                            alert(obj.message);
                                        }
                                    }
                                });
                        }
                    });
                }
            });
        }
        //
        function searchProduct() {
            var name = $("#txt_productName").val();
            $.ajax({
                url: Url_Search_Product,
                type: "GET",
                data: {
                    "name": name,
                },
                beforeSend: function () {
                    $("#divProduct").empty();
                },
                success: function (r) {
                    $("#divProduct").append(r);
                },
                error: function (err) {

                },
                complete: function () {

                }
            });
        }
    </script>
}