﻿@model Order_Model

@{
    Layout = null;
    if (Model.ListItem.Count > 0)
    {
        foreach (var rec in Model.ListItem)
        {
            <div class="hvr-border-fade w-100" style="cursor:pointer">
                <div class="d-flex m-2">
                    <div class="align-self-center mr-2" style="width:70px">
                        <button type="button" class="btn btn-danger h-100" onclick="removeCart('@rec.ItemKey')">
                            <i class="fas fa-times"></i>
                        </button>
                        <div class="btn-group-vertical h-100">
                            <button type="button" class="btn btn-default btn-xs" onclick="addCart('@rec.ItemKey')">
                                <i class="fas fa-chevron-up"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-xs" onclick="deleteCart('@rec.ItemKey')">
                                <i class="fas fa-chevron-down"></i>
                            </button>
                        </div>
                    </div>
                    <div class="">
                        <img class="imgShopee" src="@Url.Content(rec.ItemPhoto)" />
                    </div>
                    <div class="p-2 flex-grow-1" style="flex: 0 0 100px;">
                        <div>
                            <b>@rec.ItemQty. X </b>
                            <span>@rec.ItemName</span>
                        </div>
                        <div>
                            <span>Đơn giá: <span class="number">@rec.ItemPrice</span></span>
                            <span class="float-right ">Tạm tính: <span class="text-danger number font-weight-bolder">@(rec.ItemMoney)</span></span>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-warning">
            <strong>Chưa có mặt hàng nào !</strong>.
        </div>
    }
}
