﻿@model Customer_Model
@{
    Layout = null;
    List<string> _List = new List<string>();
    if (ViewBag.Referrer != null) ;
    {
        _List = ViewBag.Referrer as List<string>;
    }
    string zDate = "";
    if (@Model.Birthday == DateTime.MinValue)
    {
        zDate = "";
    }
    else
    {
        zDate = @Model.Birthday.ToString("dd/MM/yyyy");
    }
}

<div class="card">
    <div class="card-header">
        <h2 class="card-title">Cập nhật thông tin khách hàng</h2>
    </div>
    <div class="card-body">
        <div class="form-group-sm mb-2 row align-items-center">
            <label class="col-lg-5 col-xl-3 control-label text-lg-end">Nguồn khách</label>
            <div class="col-lg-7 col-xl-9">
                <select class="form-control" name="Referrer" id="cb_Referrer">
                    @foreach (var item in _List)
                    {
                        if (item == Model.Referrer)
                        {
                            <option selected value="@item">@item</option>
                        }
                        else
                        {
                            <option value="@item">@item</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group-sm mb-2 row align-items-center">
            <label class="col-lg-5 col-xl-3 control-label text-lg-end">Tên</label>
            <div class="col-lg-7 col-xl-9">
                <input id="txt_FullName" type="text" class="form-control" name="FullName" asp-for="FullName">
            </div>
        </div>
        <div class="form-group-sm mb-2 row align-items-center">
            <label class="col-lg-5 col-xl-3 control-label text-lg-end">Ngày sinh</label>
            <div class="col-lg-7 col-xl-9">
                <input id="txt_Birthday" type="text" class="form-control datepicker" name="Birthday" value="@zDate">
            </div>
        </div>
        <div class="form-group-sm mb-2 row align-items-center">
            <label class="col-lg-5 col-xl-3 control-label text-lg-end">Số điện thoại</label>
            <div class="col-lg-7 col-xl-9">
                <input id="txt_Phone" type="number" class="form-control" name="Phone" asp-for="Phone">
            </div>
        </div>
        <div class="form-group-sm mb-2 row align-items-center">
            <label class="col-lg-5 col-xl-3 control-label text-lg-end">Email</label>
            <div class="col-lg-7 col-xl-9">
                <input id="txt_Email" type="text" class="form-control" name="Email" asp-for="Email">
            </div>
        </div>
        <div class="form-group-sm mb-2 row align-items-center">
            <label class="col-lg-5 col-xl-3 control-label text-lg-end">Địa chỉ</label>
            <div class="col-lg-7 col-xl-9">
                <input id="txt_Address" type="text" class="form-control" name="Address" asp-for="Address">
            </div>
        </div>
        <div class="form-group-sm mb-2 row align-items-center">
            <label class="col-lg-5 col-xl-3 control-label text-lg-end">Ghi chú</label>
            <div class="col-lg-7 col-xl-9">
                <textarea id="txt_Note" type="text" class="form-control" name="Note" asp-for="Note"></textarea>
            </div>
        </div>
        <input id="txt_CustomerKey" type="hidden" name="CustomerKey" asp-for="CustomerKey" />
    </div>
    <div class="card-footer">
        <button id="btn_Save" type="button" class="btn btn-primary float-right" onclick="Save()">
            Cập nhật
        </button>
        <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
            Đóng
        </button>
    </div>
</div>