﻿@model Purchase_Model

@{
    Layout = null;
    if (Model.ListItem.Count > 0)
    {
        foreach (var rec in Model.ListItem)
        {
            <div class="hvr-border-fade w-100" style="cursor:pointer">
                <div class="m-2">
                    <div class="d-flex align-items-center border-bottom">
                        <div class="">
                            <img class="imgShopee" src="@Url.Content(rec.ItemPhoto)" />
                        </div>
                        <div class="p-2 flex-grow-1">
                            <b>@rec.ItemQty. X </b>
                            @rec.ItemName
                        </div>
                        <div class="align-self-center">
                            <button type="button" class="btn btn-danger h-100" onclick="removeCart('@rec.ItemKey')">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="input-group input-group-sm">
                            <span class="input-group-prepend">
                                <span class="input-group-text font-weight-bolder">Đơn giá</span>
                            </span>
                            <input type="text" class="form-control number text-right" name="txt_ItemPrice" value="@rec.ItemPrice" onblur="qtyCart('@rec.ItemKey')" key="@rec.ItemKey" />
                        </div>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text font-weight-bolder">SL</span>
                                <button role="button" class="btn btn-default btn-sm" name="btn_Minus" onclick="deleteCart('@rec.ItemKey')">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control number text-center" name="txt_Qty" value="@rec.ItemQty" onblur="qtyCart('@rec.ItemKey')" key="@rec.ItemKey" />
                            <div class="input-group-append">
                                <button role="button" class="btn btn-default btn-sm" name="btn_Plus" onclick="addCart('@rec.ItemKey')">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="input-group input-group-sm ">
                            <span class="input-group-prepend">
                                <span class="input-group-text font-weight-bolder">Tạm tính</span>
                            </span>
                            <input type="text" class="form-control number text-right" name="txt_ItemMoney" value="@rec.ItemMoney" readonly="readonly">
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-warning">
            <strong>Chưa có mặt hàng nào !</strong>.
        </div>
    }
}