﻿@model Purchase_Model
@{
    double Total = 0;
    if (Model != null)
    {
        Total = Model.ListItem.Sum(s => s.ItemMoney);
    }
}
<header class="page-header">
    <h2 class="text-primary">@ViewBag.Title</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="action-buttons-fixed">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <input id="txt_inputId" type="text" class="form-control" placeholder="Mã nhập hàng" required="" asp-for="OrderID">
                                </div>
                                <div class="col-6">
                                    <input id="txt_inputDate" type="text" data-plugin-masked-input data-input-mask="99/99/9999" placeholder="__/__/____" class="form-control" required="" value="@Model.OrderDate.ToString("dd/MM/yyyy")">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group-sm mb-2 row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end">Nhà cung cấp/ khách hàng</label>
                                <div class="col-lg-7 col-xl-9">
                                    <input id="txt_vendorname" type="text" class="form-control " name="vendor" asp-for="VendorName">
                                </div>
                            </div>
                            <div class="form-group-sm mb-2 row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end">Địa chỉ</label>
                                <div class="col-lg-7 col-xl-9">
                                    <input id="txt_vendoraddress" type="text" class="form-control " name="address" asp-for="VendorAddress">
                                </div>
                            </div>
                            <div class="form-group-sm mb-2 row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end">Ghi chú</label>
                                <div class="col-lg-7 col-xl-9">
                                    <input id="txt_description" type="text" class="form-control " name="description" asp-for="Description">
                                </div>
                            </div>
                            <div class="form-group-sm mb-2">
                                <label class="">Các mặt hàng:</label>
                                <div id="export_order" class="collapse show" data-parent="#prepare_order">
                                    <div class="" id="table_item">
                                        @await Html.PartialAsync("~/Views/Inventory/Input/_Table_Item.cshtml", Model)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-sm mb-2 row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end">Tổng tiền</label>
                                <div class="col-lg-7 col-xl-9">
                                    <input id="txt_totalmoney" type="text" class="form-control number text-right" name="totalmoney" value="@Total" onblur="reverse()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="input-group">
                                <input type="text" class="form-control" id="txt_productName">
                                <button class="btn btn-success" type="button" onclick="getProduct()">
                                    <i class="fas fa-filter"></i>
                                    Lọc
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="nano" style="height:100vh">
                                <div class="nano-content" id="divProduct">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row action-buttons">
        <div class="col-12">
            <button id="btn_Confirm" type="button" class="btn btn-primary float-right" onclick="saveCart();">
                Nhập hàng
            </button>
            <a id="btn_Cancel" class="btn btn-outline-secondary modal-dismiss" onclick="Utils.BackWithRefresh();return false;">
                Hoàn tác & trở về
            </a>
        </div>
    </div>
</div>
<input id="txt_orderkey" type="hidden" asp-for="OrderKey" />
<input id="txt_slug" type="hidden" asp-for="Slug" />
@section scripts{
    <script>
        var Url_Search_Product = "@Url.Action("Search_Product", "Inventory")";
        var Url_Add_Item = "@Url.Action("Add_Item", "Inventory")";
        var Url_Delete_Item = "@Url.Action("Del_Item", "Inventory")";
        var Url_Remove_Item = "@Url.Action("Remove_Item", "Inventory")";
        var Url_Save_Order = "@Url.Action("Save_Input", "Inventory")";
        var Url_Qty_Item = "@Url.Action("Qty_Item", "Inventory")";
        var Url_Reverse_Input = "@Url.Action("Reverse_Input", "Inventory")";
    </script>
    <script>
        getProduct();
        //
        function sumCart() {
            var total = 0;
            $("#table_item").find("input[name='txt_ItemMoney']").each(function () {
                total += parseFloat($(this).val());
            });

            $("#txt_totalmoney").val($.number(total, 0, '.', ','));
        }
        //
        function getProduct() {
            var name = $("#txt_productName").val();
            $.ajax({
                url: Url_Search_Product,
                type: "GET",
                data: {
                    "name": name,
                },
                beforeSend: function () {
                    $("#divProduct").empty();
                },
                success: function (r) {
                    $("#divProduct").append(r);
                },
                error: function (err) {

                },
                complete: function () {

                }
            });
        }
        //
        function addCart(id) {
            $.post(Url_Add_Item, { "Id": id, "OrderKey": $("#txt_orderkey").val() },
                function (r) {
                    $("#table_item").empty().append(r);
                    sumCart();
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                });
        }
        //
        function deleteCart(id) {
            $.post(Url_Delete_Item, { "Id": id, "OrderKey": $("#txt_orderkey").val() },
                function (r) {
                    $("#table_item").empty().append(r);
                    sumCart();
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                });
        }
        //
        function removeCart(id) {
            $.post(Url_Remove_Item, { "Id": id, "OrderKey": $("#txt_orderkey").val() },
                function (r) {
                    $("#table_item").empty().append(r);
                    sumCart();
                    $(".number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                });
        }
        //
        function saveCart() {
            if ($("#txt_inputDate").val() === "") {
                Utils.OpenNotify("Thông báo", "Bạn phải nhập ngày", "warning");
                return;
            }

            $.ajax({
                url: Url_Save_Order,
                type: "POST",
                data: {
                    "Slug": $("#txt_slug").val(),
                    "OrderKey": $("#txt_orderkey").val(),
                    "inputId": $("#txt_inputId").val(),
                    "inputDate": $("#txt_inputDate").val(),
                    "VendorName": $("#txt_vendorname").val(),
                    "VendorAddress": $("#txt_vendoraddress").val(),
                    "Description": $("#txt_description").val(),
                    "TotalMoney": $("#txt_totalmoney").val()
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (!r.success) {
                        Utils.OpenNotify("Thông báo", r.message, "error");
                        Utils.LoadOut();
                    }
                    else {
                        Utils.OpenNotify("Thông báo", "Đã lưu thành công !.", "success");
                        Utils.BackWithRefresh();
                    }
                },
                error: function (err) {

                },
                complete: function () {

                }
            });
        }
        //
        function qtyCart(id) {
            var qty = $("input[key='" + id + "'][name='txt_Qty']").val();
            var pric = $("input[key='" + id + "'][name='txt_ItemPrice']").val();

            $.ajax({
                url: Url_Qty_Item,
                type: "POST",
                data: {
                    "Id": id,
                    "qty": qty,
                    "pric": pric,
                    "OrderKey": $("#txt_orderkey").val()
                },
                beforeSend: function () {

                },
                success: function (r) {
                    $("#table_item").empty().append(r);
                },
                error: function (err) {

                },
                complete: function () {
                    sumCart();
                    $("input.number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                }
            });
        }
        //đảo ngược tổng tiền
        function reverse() {
            var total = $("#txt_totalmoney").val();
            if (total <= 0) {
                Utils.OpenNotify("Thông báo", "Số tiền phải lớn hơn 0", "warning")
                return;
            }

            var no = 0;
            $("#table_item").find("input[name='txt_ItemMoney']").each(function () {
                no++;
            });

            if (no > 1) {
                Utils.OpenNotify("Thông báo", "Chỉ chia ngược được 1 mặt hàng, vui lòng kiểm tra lại !.", "warning")
                return;
            }

            $.ajax({
                url: Url_Reverse_Input,
                type: "POST",
                data: {
                    "total": total,
                    "OrderKey": $("#txt_orderkey").val()
                },
                beforeSend: function () {

                },
                success: function (r) {
                    $("#table_item").empty().append(r);
                },
                error: function (err) {

                },
                complete: function () {
                    sumCart();
                    $("input.number").each(function () {
                        $(this).number(true, 0, '.', ',');
                    });
                }
            });
        }
    </script>
}