﻿@{
    var _List = new List<Purchase_Model>();
    if (ViewBag.List != null)
    {
        _List = ViewBag.List as List<Purchase_Model>;
    }
}
<header class="page-header">
    <h2 class="text-primary">@ViewBag.Title</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header"></div>
            <div class="card-body">
                @{
                    if (TempData["Error"] != null && TempData["Error"].ToString() != string.Empty)
                    {
                        <div class="alert alert-primary">
                            <strong>@TempData["Error"]</strong>.
                        </div>
                    }
                    else
                    {
                        if (_List.Count > 0)
                        {
                            <table class="table table-hover table-sm data">
                                <thead>
                                    <tr>
                                        <th>Stt</th>
                                        <th>Mã số</th>
                                        <th>Ngày nhập</th>
                                        <th>Ghi chú</th>
                                        <th>Loại</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                @{
                                    int No = 1;
                                    string TinhTrang = "";
                                    foreach (var rec in _List)
                                    {
                                        switch (rec.Slug)
                                        {
                                            case 101:
                                                TinhTrang = "Mua mới";
                                                break;
                                            case 102:
                                                TinhTrang = "Khách trả";
                                                break;
                                            case 103:
                                                TinhTrang = "Nhập tái chế";
                                                break;

                                            default: break;
                                        }

                                        <tr id="@rec.OrderKey">
                                            <th>@(No++)</th>
                                            <th>@rec.OrderID</th>
                                            <td>@rec.OrderDate.ToString("dd/MM/yyyy")</td>
                                            <td>@rec.Description</td>
                                            <td>@TinhTrang</td>
                                            <td>
                                                <a class="btn btn-outline-warning btn-sm modal-with-zoom-anim"
                                                   asp-controller="Inventory"
                                                   asp-action="Edit_Input"
                                                   asp-route-OrderKey="@rec.OrderKey"
                                                   asp-route-Slug="@rec.Slug"
                                                   onclick="Utils.LoadIn();">
                                                    <i class="far fa-edit"></i>
                                                    Điều chỉnh
                                                </a>
                                                <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@rec.OrderKey')">
                                                    <i class="fas fa-trash"></i>
                                                    Xoá
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-primary">
                                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                            </div>
                        }
                    }

                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var Url_Delete_Input = "@Url.Action("Delete_Input", "Inventory")";
                                        function Delete(OrderKey) {
            $.confirm({
                                            type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                                                confirm: {
                                                    text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                                            url: Url_Delete_Input,
                                type: "POST",
                                data: {
                                                                    "OrderKey": OrderKey
                                },
                                beforeSend: function () {
                                    },
                                success: function (r) {
                                        if (r.success) {
                                            var elm = $("#" + OrderKey);
                                            Utils.RemoveRow(elm);
                                        }
                                        else {
                                            Utils.OpenNotify(r.message, "Thông báo", "error");
                                        }
                                    },
                                error: function (err) {
                                        Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                    },
                                complete: function () {
                                    }
                            });
                        }
                    },
                    cancel: {
                                    text: "Hủy",
                    }
                }
            });
        }
    </script>
}